[2013-11-08 13:17] mdouchin opened #1 "Import - bouton créer bdd spatialite grisé si aucune connexion dans QGIS"
Si aucune connexion n'existe pour au moins une bdd spatialite, alors le dialogue d'import ne permet pas de créer une nouvelle base de données : le bouton est grisé

[2013-11-08 13:22] #1 closed, assigned to mdouchin

[2013-11-08 13:29] mdouchin opened #2 "Export - optimiser pour les exports de plusieurs pages"
Au lieu de lancer successivement plusieurs requêtes avec LIMIT et OFFSET, ne lancer qu'une requête globale et découper les résultats via python.

Cela pose souci pour les propriétaires avec beaucoup de biens (comune, département, SNCF, etc.), surtout sous Spatialite

[2013-11-08 13:30] mdouchin opened #3 "Documentation - ajouter le schéma de la base de données"
Fournir
- la liste des tables
- le schéma des relations entre tables

[2013-11-15 11:19] mdouchin opened #5 "Import - erreur lors de la suppression d'un fichier tar.gz temporaire sous Windows"
Discussion  http://georezo.net/forum/viewtopic.php?pid=242718#p242718

Texte de l'erreur

[code]

[2013-11-16 11:00] mdouchin opened #6 "Import - gestion des arrondissements"
Remplacement des espaces par 0 au lieu de - dans les scripts d'import, pour assurer le lien EDIGEO/MAJIC

[2013-11-16 11:01] #6 closed, assigned to mdouchin

[2013-11-16 11:02] #5 closed, assigned to mdouchin

[2013-11-17 14:07] mdouchin opened #7 "Import - erreur spatialite pendant l'import des relations EDIGEO (.vec)"
Erreur "OperationalError: database schema has changed".
Il faut donc utiliser les placeholders pour la requête

[code]

[2013-11-17 14:15] #7 closed, assigned to mdouchin

[2013-11-20 08:20] mdouchin opened #8 "Recherche - Erreur si couche du plugin OpenLayers"
Le plugin OpenLayers ajoute des couches dans le projet QGIS qui n'ont pas les propriétés des couches QGIS standard. Il faut gérer cette possibilité

[code]

[2013-11-20 08:25] mdouchin opened #9 "Recherche - désactivée si ouverture d'un projet enregistré"
Le panneau de recherche doit détecter que des données cadastrales sont présentes lors de l'ouverture d'un projet QGIS, et activer les fonctionnalités.

Sinon cela oblige à chaque fois de réutiliser le module de chargement, ce qui n'est pas le comportement souhaité

[2013-11-20 10:37] #9 closed, assigned to mdouchin

[2013-11-20 10:52] #8 closed, assigned to mdouchin

[2013-11-21 10:11] omigeot opened #10 "[documentation] Versions spécifique de Postgres/PostGIS?"
Rencontrant pas mal d'erreurs avec la fonction d'import du plugin sur des instances de Postgres existantes (8.3 et 8.4), je me demandais s'il existait un prérequis en termes de version (ou des subtilités à l'installation des-instances), et s'il était possible de mentionner les prérequis en question (ou leur absence) dans la documentation.

[2013-11-21 10:34] omigeot opened #11 "[postgres] erreur sur contrainte de geo_sym"
L'erreur est la suivante:

null value in column "geo_sym" violates not-null constraint

Et la requête fautive:

INSERT INTO "qgis2".geo_sym SELECT DISTINCT sym, 'Inconnu '||sym  FROM "qgis2".ptcanv_id WHERE sym NOT IN (SELECT geo_sym FROM "qgis2".geo_sym)

[2013-12-06 14:20] mdouchin opened #12 "Recherche - par adresse : erreur python si utilisation d'un apostrophe"

[2013-12-06 15:18] mdouchin opened #13 "Import - utilisation de CREATE TABLE IF NOT EXISTS non compatibilité < postgresql 9.1"
Dans le script scripts/edigeo_create_import_tables
-> à remplacer par un
DROP TABLE IF EXISTS
suivi de la création de la table

[2013-12-06 15:24] #13 closed, assigned to mdouchin

[2013-12-06 16:14] #12 closed, assigned to mdouchin

[2013-12-09 16:39] mdouchin opened #14 "Chargement - ne pas recréer de groupe "Cadastre" si déjà existant"
Lorsqu'on réalise un chargement des données via le plugin, il faut vérifier au préalable si un groupe nommé "Cadastre" n'existe pas déjà, pour ne pas en créer un nouveau.

[2013-12-20 10:00] mdouchin opened #15 "Import - erreur MAJIC syntaxe en entrée invalide pour le type numeric : « »"
Voir
http://www.forumsig.org/showthread.php/38111-Plugin-Cadastre-ERREUR-syntaxe-en-entr%C3%A9e-invalide-pour-le-type-numeric-%C2%AB-%C2%BB

[2013-12-20 11:48] mdouchin opened #16 "Chargement - 2 actions nécessaires pour ajouter couche externe après chargement"
Si on charge des données cadastrales via le plugin, et qu'ensuite on souhaite ajouter une autre couche de données (orthophoto, fichier vectoriel, etc.à, la première tentative ne fonctionne pas. Il faut réouvrir une seconde fois la couche pour qu'elle soit ajoutée dans QGIS.

[2013-12-20 11:49] mdouchin opened #17 "Import - non import des données MAJIC si espaces dans le chemin"
Si un espace est contenu dans le chemin vers les fichiers MAJIC, alors l'import n'est pas réalisé.
Ce problème n'impacte pas l'import EDIGEO

[2013-12-27 09:47] #14 closed, assigned to mdouchin

[2013-12-27 17:28] #2 closed, assigned to mdouchin

[2013-12-27 17:29] #17 closed, assigned to mdouchin

[2013-12-30 14:08] mdouchin opened #18 "Recherche/export - pas de résultat si Fantoir non importé"
Il faut modifier les requêtes pour prendre en compte les cas où l'utilisateur n'a pas importé le fichier Fantoir ( requêtes SQL : remplacer INNER JOIN -> LEFT OUTER JOIN )

[2013-12-30 16:45] #18 closed, assigned to mdouchin

[2014-01-07 10:10] mdouchin opened #19 "Chargement - ne pas supprimer les répertoires SVG en ajoutant celui du thème !"
Un retour d'utilisateur :

une remarque concernant le Plugin. A son installation, il supprime les chemins vers les symboles SVG pour ajouter  le sien (C:/Users/utilisateur/.qgis2//python/plugins/cadastre\styles/classique/svg). Ne pourrait-il pas seulement l’ajouter sans supprimer les autres ?

[2014-01-07 10:32] mdouchin opened #20 "Import - changer la taille maximale de la surface d'une parcelle (geo_parcelle)"
La colonne geo_parcelle.supf est de type numeric(10,3)
Hors certaines parcelles peuvent avoir une surface supérieure, cf retour utilisateur

"Pour info, il y a 4 parcelles dans le Var dont la superficie fiscale est supérieure à 10 000 000 m2 et ne rentre donc pas dans un champ numeric(10,3) ! Par exemple, sur la commune d’Ampus, section O, parcelle 0001 qui fait 37 924 636 m2 (camp militaire de ca

[2014-01-07 11:25] mdouchin opened #21 "Export - ouverture des PDF sous FreeBSD"
Il faut modifier le code du script d'export pour pouvoir lancer la bonne commande sous la plupart des OS. Utiliser :

[code]

[2014-01-07 11:33] #21 closed, assigned to mdouchin

[2014-01-08 09:04] mdouchin opened #22 "Recherche - contenu des listes déroulantes non lisibles sous Windows (largeur)"
Lorsqu'on clique sur un des listes déroulantes pour afficher la liste des items trouvés (propriétaires, adresses), l'affichage sous Windows est limité à la largeur initial de la liste (aucun souci sous Linux)
A corriger

[2014-01-27 14:50] #22 closed, assigned to mdouchin

[2014-01-27 15:05] #20 closed, assigned to mdouchin

[2014-01-27 17:34] mdouchin opened #23 "Export - Erreur export PDF sous Windows si comptecommunal contient une *"

[2014-01-27 17:35] #23 closed, assigned to mdouchin

[2014-01-28 14:43] mdouchin opened #24 "Identification - problème si la couche active n'est pas "Parcelles""

[2014-01-28 14:44] #24 closed, assigned to mdouchin

[2014-01-28 15:10] #19 closed, assigned to mdouchin

[2014-01-28 15:57] mdouchin opened #25 "Import - il faut valider les entrées du formulaire d'import"
Prévenir l'utilisateur lorsqu'il manque des données ou que les données renseignées ne sont pas correctes

[2014-01-28 15:58] #25 closed, assigned to mdouchin

[2014-01-28 17:21] mdouchin opened #26 "Export - mauvais pourcentage exonération pour propriétés non baties"

[2014-01-28 17:22] #26 closed, assigned to mdouchin

[2014-01-28 17:27] mdouchin opened #27 "Export - prise en compte des communes sur plusieurs départements"
Si des données ont été importées sur plusieurs départements, et que certaines communes ont le même ccocom (code commune à 3 chiffre), la popup d'information et les export PDF ne renvoient pas forcément les bonnes informations. Il faut ajouter le filtre du code département dans ces requêtes

[2014-01-28 17:27] #27 closed, assigned to mdouchin

[2014-01-29 11:47] #3 closed, assigned to mdouchin

[2014-02-03 13:36] Doctor-Who opened #28 "Bad description name"
In description for plugin repository, Cadastre says :

This plugins helps users to use french land registry data, called Cadastre, in QGIS. It is only usefull in France for people having access to Cadastre data. Funded by : the European Union, Fonds Europeen de Developpement Regional de Picardie, Connseil Regional de Picardie, Agence de Developpement et d Urbanisme du Grand Amienois.

--> need fix

[2014-03-02 13:19] mdouchin opened #29 "Import - gestion des sections/parcelles/etc. avec des géométries multi-polygones"
Cf retour utilisateur http://www.forumsig.org/showthread.php/37917-Un-plugin-cadastre-libre-pour-QGIS-%21?p=322114&viewfull=1#post322114

[2014-03-04 11:08] landryb opened #30 "Erreur lors de la création d'une base de données avec spatialite 4.0"
Sur une tentative d'import de données MAJIC+EDIGEO sur 2 communes du 63 (63083 et 63470) dans une base spatialite vide, l'import des données EDIGEO échoue:
- au niveau du parametrage, L93/EPSG:2154 pour l'edigeo, 63 pour le departement, 0 pour la direction ?
- pour le lot, je ne sais pas quelle valeur prendre donc j'ai pris D42604 qui est dans la premiere ligne de chacun des fichiers majic:

630PU

[2014-03-07 14:38] #29 closed, assigned to mdouchin

[2014-03-21 09:47] ID123 opened #31 "erreur d'importation"
Bonjour,
j'ai un problème d'importation de mon fichier edigeo source service du cadastre. j'ai crée ma base de donnée dans mon repertoire travail et dedans j'ai le fichier edigéo (.VEC .DIC .GEN .QAL .SCD .THF .). dans Qgis, cadastre, quand je veux importer avec type de base Spatialite cela m'affiche une erreur de base de données: file is encrypted or is not a database
![image](https://f.cloud.git

[2014-03-31 15:21] fredericbonifas opened #33 "Export des géométries correct vers Spatialite mais pas vers PostGIS"
J'arrive correctement à importer des données (EDIGEO et MAJIC) dans une base Spatialite, puis à les charger et les visualiser.
Par contre, cela échoue pour importer les données dans une base PostGIS : l'import se déroule sans souci apparent, pas de message d'erreur, mais aucun n'objet ne s'affiche lorsque je charge les données. Les tables geo_parcelle et geo_section sont vides notamment.
- Ubuntu

[2014-05-13 13:13] mdouchin opened #34 "Export - Donner une légende pour les abbréviations et valeurs des relevés"
Les tableaux exportés dans les relevés de propriété et de parcelles contiennent des entêtes de colonne avec des abbréviations. Il faut ajouter une page dans le PDF qui explicite la signification des colonnes et des valeurs correspondantes.

[2014-05-13 14:02] Doctor-Who opened #35 "Bordereau parcellaire : ajouter informations sur la surface batie"
2 informations intéressantes à ajouter :
-> Surface bâti au sol
-> Surface bâti total type SHON http://fr.wikipedia.org/wiki/Surface_hors_%C5%93uvre_nette

[2014-07-03 13:59] zetoune opened #36 "version 2.4, erreur de chargement du relevé de propriété"
Avec cette nouvelle version de Qgis (2.4), lorsque le relevé de propriété est demandé ça provoque une erreur liée au code python.
Si on refais la demande d'export à la suite, ça plante le logiciel carrément (minidup)

[2014-07-31 12:06] landryb opened #37 "Amélioration des codes d'erreur pour l'import MAJIC"
Dans le cas ou un utilisateur configure le plugin pour utiliser des noms bien précis pour les 6 fichiers MAJIC, le plugin devrait lever une exception/erreur si les fichiers ne sont pas trouvés. Un utilisateur sous windows vient de perdre une demi journée car le plugin était configuré pour chercher BATI.TXT alors que le fichier était nommé BATI.txt - a défaut de faire une vraie boite d'erreur, affi

[2014-08-20 09:40] #36 closed, assigned to mdouchin

[2014-08-20 13:47] #30 closed, assigned to nobody

[2014-08-22 07:46] #37 closed, assigned to mdouchin

[2014-08-25 08:28] #31 closed, assigned to nobody

[2014-09-30 08:53] #28 closed, assigned to nobody

[2014-09-30 08:58] mdouchin opened #38 "Chargement - minidump sous Windows à la fin de l'ajout des couches"
Problème relevé sous Windows 7 avec QGIS 2.4 . A la fin du chargement, QGIS plante avec ouverture fenêtre minidump

[2014-09-30 12:46] #16 closed, assigned to mdouchin

[2014-09-30 12:50] mdouchin opened #39 "Unité foncières - améliorer les scripts opencadastre"
Dans l'état actuel, les unités foncières sont stockées dans une colonne geom_uf de la table geo_parcelle, et ne semblent pas correspondre aux objets souhaités.

Normalement, une unité foncière est la fusion des parcelles adjacentes d'un même propriétaire.

CF requêtes possible ici  http://www.forumsig.org/showthread.php/39531-Plugin-cadastre-probl%C3%A8me-avec-les-couches-Unit%C3%A9s-fonci%C3%A8re

[2014-10-23 08:53] geoRom opened #40 "Affichage nom des rues"
Bonjour,
Les noms des rues n'apparaissent pas sur une commune.
Après investigation, ils apparaissent bien dans la table geo_label mais ne sont pas catégorisés comme les autres.
D’après ce que je vois dans QGIS, les étiquettes de nom de voies sont filtrées sur le champ « ogr_obj_lnk_layer » avec la valeur 'ZONCOMMUNI_id'.
Or pour cette commune (exceptée une section) le champ prend la valeur TRONROU

[2014-11-04 13:04] #39 closed, assigned to mdouchin

[2014-11-04 13:09] #38 closed, assigned to mdouchin

[2014-11-04 14:59] mdouchin opened #41 "Chargement - zoom sur une emprise trop grande"
Pour certaines données, le zoom final lors du chargement des couches dépasse l'emprise de la couche parcelle et zoome à une très petite échelle.
Cela se produit auss lors d'un zoom sur le groupe Cadastre

[2014-11-04 14:59] #41 closed, assigned to mdouchin

[2014-11-04 15:39] #40 closed, assigned to nobody

[2014-11-04 17:01] mdouchin opened #42 "Info parcelle - exporter le relevé de propriété pour toutes les communes"
Lorsqu'on exporte un relevé de propriété depuis la recherche de propriétaires (panneau de droite), l'export se fait bien pour l'ensemble des communes, avec un PDF généré pour chaque commune dans laquelle le propriétaire a des parcelles.

Par contre, depuis le dialogue d'information sur clic d'une parcelle, le relevé de propriété exporté ne concerne que la commune de la parcelle cliquée. Il faut ic

[2014-11-05 08:08] #42 closed, assigned to mdouchin

[2014-11-05 08:23] mdouchin opened #43 "Import - erreur de topologie pour certains EDIGEO"
Des utilisateurs ont remonté des erreurs du type

[code]

[2014-11-05 08:31] mdouchin opened #44 "Import - erreur de correction des multipolygones sous Windows"
L'outil interne du plugin corrige normalement les problèmes d'import des multi-polygones. Pour certains utilisateurs, cette correction ne se fait pas si l'import est fait sur une machine Windows

[2014-11-05 08:32] mdouchin opened #45 "Import - données manquantes si imports successifs sur plusieurs départements"

[2014-11-05 10:57] ghost opened #46 "Import - [postgres] erreur de représentation de geo_sym après import de plusieurs lots"
La représentation des objets de la couche geo_sym (mur, cloture ...) subit une rotation pour les premiers lots importés. Concrétement, le trait figurant la mitoyenneté ou pas d'un mur coupe dès lors la parcelle au lieu d'être parrallèle à celle-ci.
Le dernier lot de donnée présente lui une représentation cohérente.
- OS windows 7
- Qgis 2.4 standalone
- Base Postgresql (9.2) / Postgis (2.0)
- impo

[2014-11-05 15:12] #44 closed, assigned to mdouchin

[2014-11-06 13:18] #43 closed, assigned to mdouchin

[2014-11-06 14:30] #46 closed, assigned to nobody

[2014-11-07 10:42] ghost opened #47 "Import - [postgres] problème d'exhaustivité de l'import MAJIC"
Par comparaison à un autre produit, l'import majic ne semble pas exhaustif.
Les cas rencontrés concernent des comptes propriétaires dont le champ dnupro commence par "+"
exemples relevés : 201360023+00032, 201360325+00014, 201360156+00183

[2014-11-13 11:10] #47 closed, assigned to nobody

[2014-11-24 16:42] #45 closed, assigned to mdouchin

[2014-11-28 10:15] auriea opened #48 "Données texte dans champ 'dis' données EDIGEO"
La table temporaire subdsect_id contient le champ 'dis' en caractère ("Absent" a été renseigné pour certains enregistrements dans les données EDIGEO de cette commune).
Cela provoque une erreur lors du remplissage de la table geo_subdsect et un arret de l'import des données via le plugin cadastre.

ERREUR: valeur « Ab » invalide pour « DD »
DETAIL: La valeur doit être un entier

Requête :
-- geo_su

[2014-12-04 15:16] manouche opened #49 ""geo_parcelle" violates not-null constraint"
Bonjour,

Suite à votre message sur forumsig, je poste ici mon problème d'import sous qgis 2.6 et postgres 9.3.5

[code]

[code]

[2014-12-05 16:04] auriea opened #50 "Nouveau modèle conceptuel"
Serait-il possible d'avoir à disposition sur le site le nouveau modèle conceptuel depuis l'évolution du plugin à la version 1.1.0 ?
merci

[2014-12-19 09:48] Vincentlametro opened #51 "Problème d'import dans base Postgis avec Ggis 2.4"
Bonjour,
Je rencontre un message d'erreur relatif à un soucis avec l'encodage lors de l'import.

Je tente un import sur une base postgis 1.5 encodage des bases en UTF-8

Le message est le suivant :
Code:

Traceback (most recent call last):
  File "C:/Users/christophe_v/.qgis2/python/plugins\cadastre\cadastre_dialogs.py", line 1046, in processImport
    qi.installOpencadastreStructure()
  File "C:/

[2015-01-02 09:50] lbartoletti opened #52 "Recherche parcelle (ou bâtiment) par le numéro de rue de l'adresse"
Bonjour,

La recherche d'adresse est très intéressante. Pour autant, il est souvent souhaitable de rechercher l'adresse puis le numéro de rue pour trouver une parcelle (ou un bâtiment) plutôt que d'avoir la liste des parcelles sur une voie.

Est-ce qu'il est possible d'ajouter la possibilité de recherche un objet par son numéro + sa voie ?

Vous en remerciant par avance.

Cordialement.

[2015-01-13 12:51] Doctor-Who opened #53 "Interface cadastre : laisser les flux distants actifs (WMS / WFS)"
Bonjour,

Afin de permettre aux communes d’utiliser le plugin couplé aux données de leur plate forme départemental ou de leur infrastructure de données géographiques, il serait bon de laisser dans l'interface minimaliste les accès aux menus WMS et WFS afin de charger des données complémentaires.

Merci d'avance :+1:

[2015-01-21 15:51] landryb opened #54 "support d'emprises interdépartementales"
dans le cas d'une utilisation du plugin à grande échelle (région entière), est-il possible de faire évoluer les identifiants uniques (idu, etc) pour qu'ils soient préfixés par le numéro du département fourni par l'utilisateur lors de l'import ? actuellement, seul geo_parcelle dans la table parcelle semble contenir le numéro de département, préfixé par l'année. idu/geo_section/geo_subdsection n'ont

[2015-01-21 16:00] landryb opened #55 "support d'un identifiant inspire dans le modèle de données"
Peut on envisager de supporter un identifiant de parcelle inspire 'inspireId' dans le schéma de BDD pour le très long terme ? c'est à priori "juste" l'IDU de la parcelle préfixé par FR, cf http://inspire.jrc.ec.europa.eu/documents/Data_Specifications/INSPIRE_DataSpecification_CP_v3.1.pdf

[2015-02-05 09:03] omigeot opened #56 "Database import hangs at 16%"
Server : PostgreSQL 9.4 & PostGIS 2.1.5 (Debian Wheezy + apt.postgresql.org)
Client : QGis 2.6.0
Plugin : 1.1.0

Importing cadastre data from 2014 - with or without MAJIC doesn't change anything - from a single commune. The process starts, but hangs at 16%, right in the "STRUCTURATION BDD" / "Création des tables" step.

Server side, Postgres gives me the following line each time, though I'm not su

[2015-02-06 08:25] mdouchin commented on #56
Do you have the appropriate rights on you database and schema ? The postgresql user must be able to create tables, so that the plugin can create the structure.

[2015-02-06 08:26] omigeot commented on #56
Le 06/02/2015 09:25, mdouchin a écrit :

Well, I do create databases through QGis's own DB Manager with that very
same user, so I guess it's ok.

[2015-03-05 14:32] landryb opened #57 "Plugin compatible avec qgis 2.8"
Juste un détail, mais je viens de tester la v1.1.0 du plugin dans qgis 2.8.1, et a priori tout marche bien. Il faut juste modifier la ligne qgisMaximumVersion dans metadata.txt pour déclarer que le plugin est bien compatible..

[2015-03-05 14:34] mdouchin commented on #57
oui, exactement ;)
Je compte sortir la version adaptée demain

[2015-03-05 14:34] mdouchin commented on #57
Merci pour le retour

[2015-03-06 16:58] mdouchin commented on #57
sortie de la version 1.1.1 qui modifie le qgisMaximumVersion

[2015-03-06 16:58] #57 closed

[2015-03-08 11:34] pobsteta opened #58 "Ne fonctionne pas avec qgis 2.8"
Bonjour,

Le plugin sera-t-il compatible avec QGIS 2.8 ?

[2015-03-12 09:46] Doctor-Who commented on #58
Bonjour,
La version 1.1.1 l'est y compris avec la 2.8.1

[2015-03-12 09:48] Doctor-Who opened #59 "Bug emprise au chargement du cadastre"
Testé sous version 1.1.1 Windows 7 64 bits QGIS 2.8.1
Après le chargement du cadastre, l'emprise du projet ne se fixe pas sur l'emprise des données mais - semble t'il - sur France entière.
Il y avait eu un problème similaire sur une anciennne version qui avait été fixé.

[2015-03-13 14:22] hchristol opened #60 "Relevé parcellaire et relevé de propriété : PDF vides"
Dans QGis 2.8.1 (sous windows 7) et avec la version 1.1 du plugin cadastre, lorsque nous sélectionnons une parcelle et nous demandons le relevé de propriété ou le relevé parcellaire, nous obtenons des pdf qui sont vides (une ou plusieurs pages blanches, selons les parcelles).

Le reste du plugin fonctionne bien, nous avons réimporté les données edigeo/majiic, pensant que ça venait du modèle, mais

[2015-03-16 15:00] geoRom commented on #60
Je viens d'importer mes données avec qgis 2.8.1 et plugin cadastre 1.1, je reproduis le même bug.

[2015-03-20 13:40] JLRobert commented on #60
Même résultat, j'ai tenté de tout désinstaller et réinstaller, réimporter les données, les pdf restent désepérément blancs.

[2015-03-23 20:37] Christophe55 commented on #60
Bonjour, j'ai le même bug avec qgis 2.8.1 sous Window 7 et 8.1 et linux (ubuntu 14.04).

[2015-04-03 13:13] #60 closed

[2015-04-03 13:13] #58 closed

[2015-04-03 13:15] #53 closed

[2015-04-03 13:17] mdouchin commented on #48
ok merci du retour

[2015-04-03 13:17] #48 closed

[2015-04-03 15:06] hchristol commented on #60
Merci pour la correction du bug. Plugin très pratique.

[2015-04-17 12:43] landryb commented on #56
I've already seen this issue, and it was a charset issue on the database which should be with encoding UTF8 and not SQL_ASCII. check qgis stderr for messages.....

[2015-04-17 12:47] landryb commented on #10
Je viens de retomber sur ce problem, avec pgis 1.5 (debian stable obligatoire, car dans un CdC) j'ai bien un probleme sur le st_makevalid.

[code]

De ce que je vois, il faut faire une version alternative de cadastre/scripts/opencadastre/trunk/data/pgsql/2014/edigeo_formatage_donnees.sql en fonction de la disponibilité de la fonction ou non....

[2015-04-17 12:49] mdouchin commented on #10
Pourquoi ne pas utiliser les dépôts officiels de PostGreSQL ? Ainsi on peut avoir les dernières version stables de PostGreSql et PostGis dans debian stable

[2015-04-17 13:01] landryb commented on #10
C'est ce que je fais généralement... et c'est aussi ce que je préfererais. Bref, en remplacant s/ST_MakeValid(geom)/(geom)/ dans edigeo_formatage_donnees.sql, ca va plus loin et ca échoue ailleurs, mais c'est moche.

[code]

Donc oui, peut-etre requérir postgis 2.0...

[2015-04-17 13:04] mdouchin commented on #10
Depuis la version 1.2.0 du plugin, il y a une case à cocher qui permet de désactiver l'utilisation de MakeValid. Une piste peut-être ?

[2015-04-17 13:30] landryb commented on #10
En décochant 'Corriger les géométries valides' avec la v1.2.0 du plugin, j'ai toujours l'erreur sur st_makevalid(geometry). étrange..

Enfin, ca ne me parait pas être une raison valable pour désactiver la validation des géométries, donc on va requérir postgis 2.0 de notre coté.

[2015-04-17 13:55] landryb commented on #51
Il faut recréer la base pour qu'elle ait bien l'encoding UTF8, et non SQL_ASCII. C'est probablement la source de votre problème, ainsi que l'utilisation d'une "vieille" version de postgis ( cf ticket #10 )

[2015-04-20 09:25] landryb commented on #10
Aucun souci d'import avec postgres 9.1 et postgis 2.0.3.

[2015-06-04 09:23] amoust opened #62 "Objets du réseau routier ou voies sur domaine cadastré manquants"
Bonjour,

Les objets TRONROUTE, surface de voie sur domaine cadastré, code EDIGéO A_1_0_0, ne sont pas importés.
Pas de table "geo_tronroute" dans la base ?
En outre les textes correspondants ne sont pas enregistrés dans la table "geo_label".
Colonne "ogr_obj_lnk_layer" aucune ligne ayant pour valeur "TRONROUTE_ID" ou "TRONROUTE_id" !

Version du Plugin installé : 1.2.0
Peut-être est-ce un problèm

[2015-06-19 12:56] pedrogeo opened #63 "ERREUR: valeur « /199 » invalide pour « YYYY » DETAIL: La valeur doit être un entier"
Bonjour,

J'ai essayé d'importer les données cadastrales 2014 sur la totalité d'un département, tout s'est bien passé jusqu'à ce que j'obtienne le message d'erreur suivant :

ERREUR: valeur « /199 » invalide pour « YYYY » DETAIL: La valeur doit être un entier

Cela a stoppé l'import global. J'ai chargé les données dans Qgis ensuite et je n'ai que les couches commune et section qui sont correctemen

[2015-06-19 15:48] manouche commented on #63
Le problème pour moi venait des données fournies, ou sur quelques communes tu as des données manquantes. Les données 2013 passent nickel par contre. J'ai fait remonter aux services...

[2015-06-22 07:16] pedrogeo commented on #63
Bonjour manouche,

Le problème est effectivement qu'on ne peut pas corriger ces données et donc si je comprends bien, il me sera impossible de réaliser l'import avec le plugin cadastre ?

[2015-06-30 14:39] landryb opened #64 "Compatibilité qgis 2.10"
While testing qgis 2.10, i tried setting qgisMaximumVersion to 2.10 in metadata.txt, but loading a spatialite db fails with:

[code]

Loading a postgis db works fine.

[2015-07-09 15:57] mdouchin commented on #62
Bonjour

Je viens d'ajouter dans le code l'import des objets TRONROUTE . Il reste à proposer un script de Mise à jour d'une base.
Ce sera dans la prochaine version

[2015-07-09 15:58] mdouchin commented on #62
commit c030bb900519cbe0eaf8306b1a112fa460c6079c

[2015-07-20 09:28] landryb opened #65 "taille insuffisante pour les tables temporaires lors de l'import de données"
Je suis tombé sur un jeu de données majic ou le fichier PROP contient des lignes de 700 caractères... je ne suis pas en mesure de dire si c'est correct ou pas en fonction de la version de la spec MAJIC3 ou non, mais du coup l'import échoue avec

[code]

En augmentant la taille a 700 ca passe, donc il faudrait peut-etre modifier les tailles dans  scripts/opencadastre/trunk/data/pgsql/create_metier.

[2015-07-31 07:41] jusabatier commented on #65
J'ai constaté le même problème en essayant d'importer notre cadastre 2015 pour Le Puy, c'est peut-être ces données que tu avais testées, en tout cas ta solution a réglé le problème :)

[2015-07-31 08:01] mdouchin commented on #65
Le plugin Cadastre n'a pas encore le support des fichiers MAJIC du millésime 2015. Je vais publier avant ce soir une version qui l'intègre

[2015-07-31 09:44] landryb commented on #65
C'était bien avec les données du puy que j'ai vu le problème, mais c'était le millésime 2014.. pas encore testé 2015.

[2015-07-31 10:02] mdouchin commented on #65
Je viens de vérifier sur les fichiers PDF de description des fichiers MAJIC:
* 2014 : le fichier PROP fait bien 550 caractères
* 2015: c'est passé à 700 : http://www.impots.gouv.fr/portal/deploiement/p1/fichedescriptive_6458/fichedescriptive_6458.pdf#3

[2015-08-05 08:25] infoble commented on #50
bonjour, une petite question : la version à jour du MCD est-elle bien celle à cette adresse : http://demo.3liz.com/plugin_cadastre/schema_cadastre.png ?
Et qu'en est-il de la version interactive ici : http://demo.3liz.com/plugin_cadastre/SchemaSpyGUI/relationships.html ?
Merci

[2015-08-05 08:28] mdouchin commented on #50
Bonjour,
Je mets en ligne aujourd'hui les fichiers de documentation BDD ( nouvelle version 1.3.0 sortie hier)

[2015-08-07 12:22] pedrogeo commented on #63
Je viens de trouver en investiguant un peu plus les données. Le problème se situe dans la table subdsect_id, dans le champ dis (Date d'incorporation PCI) dans lequel j'ai deux enregistrements qui ont deux slash comme séparateur de mois et d'année (ex : 20/03//199).

Cela ne pose pas de problèmes dans la table subdsect_id car le champ est en character varying mais par contre cela pose problème dans

[2015-08-11 14:46] Doctor-Who opened #66 "Déplacer menu de l'extension 'cadastre' dans Extension > Cadastre"
Bonjour,

Suite à la remarque d'un utilisateur : http://www.forumsig.org/showthread.php/37917-Un-plugin-cadastre-libre-pour-QGIS-%21?p=337215&viewfull=1#post337215

Le menu de l'extension 'Cadastre' ne devrait plus être au même plan que 'Vecteur', 'Raster', 'Traitements', mais à l'intérieur du menu 'Extension'

Merci

[2015-08-26 14:08] landryb opened #67 "pas de gestion des erreurs lors de l'import"
Je suis sur un cas un peu particulier ou j'essaie d'importer un département entier (l'allier) avec mes scripts d'import extraitsdu plugin cadastre - ca marche bien dans certains cas, et dans d'autres la connection avec le serveur est coupée (pour une raison que je n'explique pas encore) lors de l'import majic. seul probleme, le code d'import ne gère pas correctement cette coupure, et continue allè

[2015-08-26 14:15] landryb commented on #67
Pour reference.. sur l'allier, BATI contient ~1600000 lignes (et est bien INSERT), NBAT contient ~4100000 enregistrements, sur la haute-loire BATI contient ~1080000 enregistrements et NBAT ~7370000. Je ne sais pas si des tests ont été faits avec autant de données ?

[2015-08-26 14:26] landryb commented on #67
avec maxInsertRows=1000, sur le fichier NBAT de la haute-loire j'echoue a 2134000 .. et avec 10000, j'echoue sur 2130000. Comme s'il y'avait une ligne dans chaque fichier NBAT qui lui plaisait pas... mais ce n'est pas une erreur d'insertion comme un pbm de taille de champ, c'est une coupure de cnx tcp/psql.

[2015-08-26 14:51] landryb commented on #67
avec maxInsertRows=10, ca met beaucoup plus de temps, mais j'echoue a 1921010 enregistrements. peut-etre lié au nombre de sessions begin/commit.... je fais un autre test en local pour éluder le pbm avec le forwarding ssh.

[2015-08-26 15:05] landryb commented on #67
en local, evidemment ca marche (enfin, ca va plus loin dans l'import..)... reste le pbm de gérer proprement une déconnection intempestive :)

[2015-08-28 09:17] amoust commented on #62
Merci :+1:

[2015-08-31 08:09] mdouchin commented on #67
Il faudrait regarder les logs PostGreSQL pour voir ce qui est dit de ce côté là. Ainsi on connaîtra l'erreur exacte (trop de connexions, sessions interrompue, etc.)

[2015-08-31 08:33] landryb commented on #67
C'est bien ca le problème, dans le log du serveur que j'ai mis dans le premier commentaire, a part 'could not send data to client: Broken pipe' il n'y a rien d'autre. Mais maintenant que je sais que c'était le forwarding ssh le souci.... en local ca marche bien, j'en suis a 3 départements importés sur 4.. Par contre, il faut trouver un moyen de gérer correctement cette exception quand la cnx est c

[2015-08-31 08:35] mdouchin commented on #67
Pardon, j'avais manqué les 2 lignes du log serveur avec le "broken pipe".
En effet, il faut ajouter de la gestion d'exceptions pour les requêtes INSERT

[2015-09-14 11:52] pasqal opened #68 "Export PDF"
Bonjour,
Après mise à jour récente du cadastre, l'export parcellaire en pdf génére systématiquement 137 pages. Pas de message de bug ou autre, juste 137 fois la même page.
 Erreur export ou erreur interne ?

Merci de votre aide

[2015-09-15 08:49] amoust opened #69 "PostgreSQL MAJIC 2015 commune_majic avec libellé de 15 caractères et plus non chargées"
Bonjour,

Au chargement dans une base PostgreSQL (9.3.5) de données MAJIC 2015, pour 68 communes ;
toutes les communes dont le libellé est composé de 15 caractères et plus ne sont pas enregistrées dans la table commune_majic.
Les communes dont le nom contient moins de 15 caractères sont correctement transcrites.
Version du pluggin 1.3.0 et nouveau schéma créé juste avant l'import.

Nota. Pas de pr

[2015-09-15 11:42] pasqal commented on #68
Pour info, l'erreur se produit lorsque, dans le même répertoire, se trouvaient les fichiers MAJIC des communes et de la communauté de communes les contenants. Problème résolu en séparant les fichiers dans des répertoires distincts.

[2015-09-15 11:42] #68 closed

[2015-10-15 07:24] Doctor-Who commented on #54
idem pour geo_commune qui ne contient uniquement les 3 derniers chiffres du code insee sans le numéro de département

[2015-10-15 07:26] Doctor-Who opened #72 "Module impression rapide de cartes"
Au même titre qu'il est possible d'imprimer un relevé de parcelle de propriétaire, il faudra ajouter la possibilité d'ajouter des cartes sur des pages supplémentaires de ces relevés.
Idem un bouton impression rapide pourrait sortir un plan mis en page (échelle, source, légende) sur l'emprise du canevas actuel.

[2015-10-15 07:34] Doctor-Who opened #73 "Intégration de requêtes types via processing"
Requête type utile pour les utilisateurs ;
- identification des parcelles publiques (utile pour les documents d'urbanisme)
- identification des parcelles potentiellement vacantes et sans maitre
- outil d'export pour la taxe des ordures ménagères
- analyse sur les dates de construction
- (à compléter par les demandes de ce sujet : http://www.forumsig.org/showthread.php/39544-Plugin-Cadastre-Partage

[2015-10-15 07:36] Doctor-Who opened #74 "Proposer le téléchargement de Fantoir si manquant"
Beaucoup de DGFiP ne fournissent plus le MAJIC FANTOIR.
Il faudrait indiquer que ceux-ci n'ont pas été trouvé dans les fichiers MAJIC de l'import et que l'utilisateur peut les récupérer sur ce site : http://www.collectivites-locales.gouv.fr/mise-a-disposition-fichier-fantoir-des-voies-et-lieux-dits

[2015-10-15 07:41] Doctor-Who opened #75 "Bug affichage des données, cercles présent pour les routes (objets + étiquettes)"
Cf : http://www.forumsig.org/showthread.php/41123-Plugin-Cadastre-Probl%C3%A8me-d-import-avec-la-v1-3-0?p=337573&viewfull=1#post337573

Pour les layers "tronçons de route (étiquettes)" et "tronçons de route", il y a des cercles vides qui apparaissent sur la carte; après recherche dans les onglets de ces deux couches, il s'avère que dans l'onglet "Diagramme" des "Propriétés" des deux layers, la cas

[2015-10-15 07:50] mdouchin commented on #75
Au sujet des cercles affichés à cause de l'option "Diagramme", cela n'a rien à voir avec le plugin Cadastre. C'est un peu connu, et corrigé de QGIS, qui apparaissait seulement dans le cas suivant

* un projet est enregistré avec QGIS 2.10
* il est ouvert ensuite avec la 2.8 -> les cercles apparaissent.

Les versions QGIS 2.8.3 et 2.10.1 on corrigé ce problème.

Pouvez vous vérifier quelle était vo

[2015-10-15 07:53] mdouchin commented on #75
cf http://osgeo-org.1560.x6.nabble.com/QGIS-2-10-weird-black-circles-tp5218734.html

[2015-10-15 07:56] Doctor-Who opened #76 "Filtrage avancé sur le module chargement"
Dans le cadre de base très importante, l'idéal serait d'améliorer la base en permettant d'afficher qu'une partie de celle-ci.
Exemple :
- Un département au lieu d'une base régionale
- Un EPCI ou une commune.
  ...en laissant la possibilité de charger plusieurs fois des secteurs différents.
  Exemple :
- Charger une commune puis une seconde
- Charger 3 EPCI à la suite
- Charger 2 départements.

[2015-12-02 15:33] Doctor-Who opened #77 "Ajouter une carte aux relevés de parcelles et relevés propriétaires"
Ajouter aux exports PDF une carte du plan cadastral pour les deux types de relevés :
- de parcelles
- de propriétaires

Mettre en couleur/surbrillance les parcelles concernées (choix de la couleur réglable)

[2015-12-18 13:25] asegui opened #78 "non achévement de l'import du plan d'un département"
Lors de l'import d'un département, l'import majic se passe très bien mais l'import d'édigéo bloc sur les points de canevas
- geo_ptcanv
  value too long for type character varying(8)
  j'ai importé 5 autres départements sans soucis.

[2015-12-18 13:27] mdouchin commented on #78
Est-ce que vous pourriez donner l'erreur complète affichée, notamment la requête qui pose problème ?

[2015-12-18 15:05] asegui commented on #78
EDIGEO
Type de base : postgis, Connexion: valfonbdd, Schéma: cadastre_04
* Copie du répertoire L:\TEMP\arcopole\pci_crige_dgfip_2015\04\DEPT04\DONNEES
1750 s
* Décompression des fichiers
2185 s
Suppression des contraintes
- SUPPRESSION DES CONTRAINTES D'INTEGRITEES : DEBUT
- suppression clefs étrangères
- suppression clefs primaires
- suppression not null sur clefs primaires
- SUPPRESSION DES CONT

[2015-12-23 09:38] sylvainbeo opened #79 "Problème de compatibilité avec Qgis 2.12 ?"
Avec Qgis 2.12, le plugin semble mal charger la couche des batiments (toutes les données attributaires excepté la première ligne) sont en "ERROR".

Constaté par d'autres ?

(

[2016-01-18 07:56] kagou opened #80 "Some bugs in import"
I have some bugs on import in QGIS 2.12.3 (also on 2.12.1) with cadastre 1.3.0

Import cadastre with spatialite new databse creation seems to work fine (look logs)
Loading spatialite have some errors (lokk logs)
Display is also buggy
Set off Surfaces layer (black screen) make possible to see the cadastre.
I have 0 label showing !
some layers are empty

I can give you access to original source file

[2016-01-30 09:21] #75 closed

[2016-02-01 09:38] mdouchin commented on #74
Fait via 5b40bc1b63708e7f871fe0727aa94a4587005560

[2016-02-01 09:38] #74 closed

[2016-02-03 19:45] mdouchin commented on #54
ok pour cela, mais il va falloir de nouveau modifier la structure cadastre, donc prévoir un script de migration (pour ceux qui veulent conserver leurs anciennes données) ou bien les gens devront réimporter les données.
NB: un des derniers commit lève déjà les contraintes de taille, ce qui va faciliter les choses.

[2016-02-04 09:46] Doctor-Who commented on #54
Bonjour
Si le script de migration est faisable, je pense que c'est la meilleure solution vis à vis des utilisateurs qui ont déjà des données importées.

[2016-03-09 15:27] M-Rick opened #81 "Integer Cadastre menu inside Internet menu"
Because our screens are not extensive,
Could you create an option to move the Cadastre plug-in inside the QGIS Internet menu?

[2016-06-08 09:23] Doctor-Who opened #82 "Echec d'import avec Spatialite"
Malgré un paramétrage habituel, au bout d'un moment, le script plante et affiche :

Le log du plugin :

[2016-06-08 09:25] Doctor-Who opened #83 "Impossible de créer une BDD Spatialite à partir du plugin"
L'opération doit se faire depuis QGIS.

QGIS 2.14.3 + GDAL 2.1

[2016-06-22 10:06] franckz opened #84 "Contenu table geo_numvoie_parcelle incomplet ?"
Bonjour,
je ne retrouve pas dans la table porteuse "geo_numvoie_parcelle" une parcelle présente dans "geo_parcelle" et dont l'objet point dans QGIS est bien affiché, et également bien présent dans "geo_numvoie". C'est d'ailleurs toute une section complète (peut être plus) de parcelle qui n'existe pas dans "geo_numvoie_parcelle". J'ai environ 30000 lignes dans "geo_parcelle", 25000 lignes dans "geo

[2016-06-29 10:38] dl2607 opened #85 "Echec à l'édition de relevé parcellaire"
Bonjour,

Je travaille avec QGIS 2.12 et le plugin cadastre 1.3.0. Depuis quelques semaines (sortie du 1.3.0?) Je n'arrive plus à éditer de relevé parcellaire. J'ai le message d'erreur suivant
[erreur python.docx](https://github.com/3liz/QgisCadastrePlugin/files/339039/erreur.python.docx)

Pouvez-vous m'expliquer le problème? Merci d'avance!

[2016-08-08 10:50] Doctor-Who commented on #83
Bug confirmé avec QGIS 2.16.1.
Le log du plugin indique :
[code]

[2016-08-08 12:26] Doctor-Who commented on #82
Bug confirmé avec la version 2.16.1 uniquement avec Spatialite, j'ai tenté l'import avec PostGIS et tout fonctionne.

[2016-08-10 09:21] mdouchin commented on #83
C'était lié à une version de spatialite comprenant des lettres et pas seulement des chiffres. Dans mon cas, "4.3.0a"

[2016-08-10 10:11] Doctor-Who commented on #82
Le problème ne se pose pas avec les base Spatialite créé depuis le plugin.

[2016-08-24 13:16] MaelREBOUX commented on #15
Bonjour,

J'amende ce ticket toujours ouvert car impossible de réaliser un import EDIGEO et MAJIC.
L'erreur retournée est la même que cité ci-dessous :
**ERREUR:  syntaxe en entrée invalide pour le type numeric : «   »**

[code]

L'environnement :
- windows 7
- postgresql 9.4
- postgis 2.2.1
- QGIS 2.14.14
- plugin cadastre 1.3.0 installée par le gestionnaire d'extension

Le reste du log de traite

[2016-08-29 14:47] mdouchin commented on #77
Fait pour les relevés parcellaire. Sur les relevés de propriété, faut-il faire autant de page que de parcelles (chaque fois centré sur la parcelle) ou bien une seule page avec échelle qui permet de tout montrer (et là on risque de ne pas voir grand chose pour certains propriétaires qui ont des parcelles sur plusieurs communes)

[2016-08-29 15:08] Doctor-Who opened #86 "Gérer le fichier FANTOIR national"
La DGFiP ne fournissant plus le fichier FANTOIR, il faut le télécharger sur Data.Gouv.fr à l'échelle nationale.
Problème :
- l'import n'accepte pas ce fichier dans la v1
- afin d'éviter une volumétrie excessive, il faudrait que le plugin ne garde que les adresses correspondant à l'emprise de la zone traitée

[2016-08-29 15:42] mdouchin commented on #77
@Doctor-Who pour les propriétaires, solution 1 ( une carte par parcelle ) ou 2 (une seule carte avec échelle pour afficher toutes les parcelles ) ?

[2016-08-29 16:28] Doctor-Who commented on #77
1 carte par parcelle : solution n°1
Par ailleurs, as tu prévu d'afficher une miniature avec localisation (comme overview lizmap) ?

[2016-09-08 16:15] mdouchin commented on #54
Merci de tester le dernier master, notamment depuis commit bba0f8a81c6269890a7248f4784f885756b8881d

[2016-09-08 16:17] mdouchin commented on #55
On pourrait ajouter juste un champ virtuel ? Ca éviterait de faire grossir la bdd.

[2016-09-09 07:17] landryb commented on #55
Certainement ! Dans notre cas, le champ est juste la concaténation d'autres champs, cf https://github.com/georchestra/cadastrapp/blob/master/script/qgis/changeOnQGISModel/alterQGISParcelle.sql

[2016-09-09 07:20] landryb commented on #54
Top ! du commit, je vois que c'est sans migration ? de toute facon je pense que c'est difficile a faire (ie retrouver le département pour un enregistrement donné..)

J'essaie de tester ca.....

[2016-09-15 13:40] Doctor-Who opened #87 "Sélection des parcelles d'un même propriétaire : ne fonctionne plus"
Depuis la 2.16 (testé ici en 2.16.2)
Je suis incapable d'utiliser le bouton "sélectionner les parcelles d'un même propriétaire"
- Dans un projet existant : aucune surbrillance ni sélection
- Dans un nouveau projet vierge réalisé à partir de la 2.16, le plugin ne sélectionne que la parcelle initialement interrogée et non les autres propriétés.

Testé avec une bdd PostGIS.

[2016-09-19 12:56] Doctor-Who opened #88 "Important : Import vide en cas d'import DXF"
Le plugin affiche "import avec succès" alors que la base est vide.
C'est le cas lorsque les archives sont au format PCI-DXF et non PCI-EDIGEO.
Il faudrait que le plugin soit capable de détecter les extensions DXF à l'intérieur de l'archive et afficher une erreur comme quoi ce format n'est pas pris en charge par le plugin.

[2016-09-21 12:37] Doctor-Who commented on #87
De retour sur la LTR 2.14.6 : le plugin fonctionne.
Problème spécifique à la 2.16 semble t'il

[2016-10-03 09:42] Doctor-Who commented on #88
Idem ici : http://www.forumsig.org/showthread.php/42918-Plugin-Cadastre-Qgis-2-16-3-import-ok-mais-donn%C3%A9es-vides

Il faudrait plus généralement afficher un message quand ce n'est pas de l'EDIGEO et non pas uniquement s'il s'agit de DXF

[2016-10-26 09:51] omaillard opened #89 "Export relevé parcellaire - erreur code python"
Bonjour,

Lorsque j'interroge une parcelle avec le module cadastre, j'ai bien les informations sur le propriétaire, mais lorsque je veux exporter le relevé parcellaire et le relevé de propriété. j'ai un message d'erreur de python.
J'ai d'abord cru que c'était un problême de version. Mais rien y fait.

Avez vous une solution

merci beaucoup
## message d'erreur ci dessous :

Une erreur est apparue l

[2016-11-15 10:08] mdouchin commented on #54
C'est sans migration, car en effet, difficile à faire (et un réimport sera moins long que plein de commandes update sur les données)

[2016-11-15 10:08] #54 closed

[2016-11-24 08:04] ju4e opened #90 "Avertir si la BDD n'est plus disponible en cours d'import."
Voici une erreur récemment constatée en utilisant le plugin cadastre (v 1.3.0) :
au moment de l'import sous pgis (postgre 9.5, pgis 2.2, qgis 2.14.8), l'import était stoppé au moment du traitement des fichiers Edigéo par ogr2ogr. Aucun message d'erreur n'apparaissait, mais le traitement était stoppé (fenêtre du plugin bloquée sur "import via ogr2ogr"). Après plusieurs recherches infructueuses, réi

[2016-12-05 14:40] Tigroots opened #91 "Memory Error à l'import d'une ComCom"
Bonjour,
Nous rencontrons un problème à l'import d'un fichier comptant 13 communes. L'objectif est de peupler une base SpatiaLite. La machine possède 150 Go de RAM (info véridique). Les versions de QGIS et de l'extension sont à jour. Dans le doute, nous avons installé la dernière version de Python également.
L'erreur "MemoryError" + "trackback machin truc..." apparaît après l'import des relations

[2016-12-08 15:00] asegui commented on #65
bonjour
j'ai une version 2.10 pisa et un plugin 1.3.0.
j'ai le message "value too long for type character variyng (550).
vous dites avoir modifier les script en juillet 2015 . faut il changer de version?
merci de votre retour

[2017-01-05 15:34] Diplos54 opened #92 "Amélioration Plugin sans fichier Propriété"
Bonjour,

Ma question concerne une demande d’évolution :

- nous avons accès à des fichiers Majic mais nous n'avons pas besoin du fichier propriétaire (et nous ne l'avons pas) c'est données nous devons les utiliser pour de la visualisation.

Serait-il possible d'intégrer la possibilité d'utiliser le plugin sans le fichier prop?

Merci par avance

[2017-01-13 13:07] jusabatier opened #93 "Valeurs de geo_sym incorrectes ?"
Bonjour,

En étudiant le rendu d'un import du cadastre sur notre solution SIG, je me suis aperçu que les valeurs geo_sym des élements de la table geo_tline étaient faussées.

Par exemple sur notre export, on a des terrains de foot avec un geo_sym à 23 qui est censé representer des trottoirs et sentiers, et en parallèle on a des trottoirs avec un geo_sym à 62 qui est censé être la valeur des terrai

[2017-01-16 17:03] scottypro opened #94 "QGIS & Plugin Cadastre: Impossibilité d'importer des données MAJIC"
Bonjour,

Cela fait maintenant plusieurs semaines que je bloque sur l'importation de MAJIC dans une BD via l'extension "Cadastre" au cause d'une limitation dans la zone de saisie du numéro de  département.

En cherchant dans le forum, je n'ai pas trouvé de sujets traitant de ce type problème.

Je administrateur SIG dans la commune de Mamoudzou, dans le département (d'outre-mer) de MAYOTTE (**976**

[2017-01-16 17:28] mdouchin commented on #94
Bonjour,

En effet, ce problème doit être réglé !

Vous pourriez essayer de modifier le fichier suivant

[code]

et chercher la ligne suivante
https://github.com/3liz/QgisCadastrePlugin/blob/1.3.0/forms/cadastre_import_form.py#L186
pour remplacer le 5 par un 6

Ensuite, redémarrer QGIS et vérifier que vous pouvez utiliser le code de direction 6

[2017-01-16 18:24] scottypro commented on #94
Merci,  je vais testé cela demain au bureau.

[2017-01-17 14:43] scottypro commented on #94
Bonsoir,

Après plusieurs essayes, ça a finalement fonctionné (la constitution de la BD spatialite EDIGEO & MAJIC et consultation de cette dernière).

Par contre j'ai du mettre 9 au lieu de 6 pour que ça marche à tout les coups.

Je ne crois pas que t'autres rencontreront se souci mais bon, on ne sais jamais.

Est-ce que l'extension sera mise à jour par rapport à ce souci lié au département de May

[2017-01-21 16:04] #94 closed

[2017-01-21 16:07] mdouchin commented on #92
Il est tout a fait possible d'utiliser le plugin Cadastre dans fichier MAJIC. Il suffit de ne pas choisir de chemin pour les fichiers MAJIC lors de l'import. Le seul souci avec cela, c'est qu'alors le fichier FANTOIR n'est pas importé, et donc la recherche d'adresse est inactive.

[2017-01-21 16:11] mdouchin commented on #86
C'est traité via 616f6153fc0871b0708de75b2892e36fc1d39487

[2017-01-21 16:11] #86 closed

[2017-01-21 17:20] Diplos54 commented on #92
D'accord, merci pour la réponse je ferrais un essai en début de semaine prochaine.

Après nous disposons tout de même du fichier MAJIC, la seule information manquante est celle concernant la partie sur les propriétaire (prop).

[2017-01-23 08:24] Diplos54 commented on #92
Petite précision nous n'avons pas de fichier Edigo (d'où l'idée de chercher à contourner uniquement le fichier prop des données Majic)

[2017-01-27 15:33] mdouchin commented on #72
@Doctor-Who peux tu me renvoyer le courriel avec exemple de modèle de composeur ? impossible de le trouver

[2017-01-28 09:10] Doctor-Who commented on #72
@mdouchin je viens de le fw à nouveau, dis moi si c'est ok

[2017-02-02 08:04] mdouchin commented on #76
J'ai fait plusieurs tests, et ce type de demande me pose question. Cette fonctionnalité est intéressante pour des grosses bases de données (département ou plus), et c'est justement pour ce type de contexte que cela pose des soucis de performance.

En effet, sauf à créer des tables, nous allons être obligé de créer des vues ou des filtres. Pour certaines couches, nous n'avons pas de référence à la

[2017-02-02 10:08] Doctor-Who commented on #76
Merci pour ton retour.
Je réalise qu'effectivement, la tâche n'est pas aisée.

#### option n°1
L'utilisateur réalise plusieurs imports dans plusieurs schémas comme je le fais moi même actuellement.

#### option n°2
Ajouter des fonctions au plugin pour pré-générer des vues matérialisées, une fois réalisées, je pense que les performances ne seront plus en jeu ?

#### option n°3
"Hacker" la fonction

[2017-02-03 16:47] mdouchin commented on #76
Bon, j'ai persévéré et trouver un filtre QGIS (sous requête) qui ne semble pas poser trop de souci (sur mon test avec des données départementales). Du coup, c'est poussé sur le "master" via d7227de5eb3512cbe552ece254aef12d34d875dd

Tests bienvenus !

[2017-02-03 16:52] mdouchin commented on #73
plus j'y pense, plus je trouve qu'il faut utiliser le plugin "Resource Sharing" de QGIS (qui a vocation à être ajouté au coeur de QGIS, en créant un dépôt GIthub, et en y posant simplement des QLR avec les requêtes. Ensuite, il faut que le plugin puisse modifier dynamiquement ces QLR pour changer les infos de connexion à la base ( spatialite ou postgis)

[2017-02-09 11:12] #76 closed

[2017-02-09 11:13] mdouchin commented on #66
done 3166ec3

[2017-02-09 11:13] #66 closed

[2017-02-16 10:01] mmondon opened #95 "relevé de propriété plusieurs lignes pour la même parcelle"
Bonjour,

Chaque parcelle apparaît sur plusieurs lignes dans le relevé de propriété (avec un petit élément différent important?). Ça donne des listes impressionnantes  pour les gros propriétaires, Commune en particulier.

[2017-02-16 10:07] mmondon commented on #77
Bravo, ça manquait vraiment sur le relevé parcellaire, les secrétaires de mairie ont ce besoin tous les jours.
On attend pour le relevé de propriété avec la solution du Doctor

[2017-02-28 09:19] samuelsig opened #96 "amélioration des filtres"
Tout d'abord un grand bravo pour cette merveilleuse extension qui a repris de plus belle son évolution.
L'ajout récent des filtres est une excellente chose.
En le testant j'ai deux remontées à vous faire (BDD postgis Alwaysdata) :
- Le filtre ne fonctionne pas sur les bâtiments
- Le filtre ne s'applique pas sur les parties 'Recherche d'adresse' et 'Recherche de propriétaire' de l'outil de recherch

[2017-03-02 10:46] #72 closed

[2017-03-02 11:00] mdouchin opened #97 "Ajouter des cartes dans le relevé de propriété ?"
Voir si c'est intéressant et faisable ?

* Utiliser un atlas avec export indépendant

    - intégrer dans la barre d'outil pour toutes les parcelles sélectionnées
    - intégrer un bouton à côté du bouton de relevé de proprio pour exporter atlas sur parcelles du proprio

[2017-03-02 14:40] Doctor-Who opened #98 "Fonctionnalité de gestion des fichiers MAJIC pour un sous­-ensemble de communes"
L'utilisateur pourra choisir un répertoire contenant les fichiers MAJIC, puis une sélection de communes (via une liste déroulante / expression contenant les codes communes de la sélection).
Un bouton « Exporter le sous-­ensemble » permettra de lancer un export des fichiers au format MAJIC, qui ne contiendront que les données des communes de la sélection.
Ces fichiers MAJIC pourront ensuite être ut

[2017-03-06 15:20] lbartoletti opened #99 "Les listes déroulantes ne sont pas ordonnées dans la recherche de lieux"
Bonjour,

À la suite de la mise à jour du plugin et du nouveau cadastre, lorsque nous recherchons des parcelles dans l'outil de recherche "Recherche de lieux", ni les sections, ni les parcelles ne sont ordonnées (étant sur une seule commune, je ne peux tester pour la liste COMMUNE).

En vous remerciant par avance.

Cordialement.

[2017-03-13 12:20] tevrard commented on #99
Bonjour,
Je rencontre également ce problème. Je précise que la liste "Communes" est également désordonnée.

[2017-03-13 12:22] tevrard opened #100 "Erreur : Recherche par lieux v1.4.1"
Bonjour,

Je rencontre l'erreur suivante lorsque je fais une "Recherche par lieux" avec le panneau de recherche, plus précisément lors du choix de la section :
[code]

Précisions :

- J'ai créé deux schémas (base postgis) sur des emprises identiques (= mêmes communes), l'un avec les données Edigeo uniquement, l'autre avec des données Majic+Edigeo
=>l'erreur ne se produit que sur le schéma "Edigeo

[2017-03-24 15:17] Nyno82 opened #101 "Impossible de faire une recherche de parcelle"
Bonjour,

Avec la nouvelle version du plugin, on ne peut plus faire de recherche de parcelle.
La table attributaire de la couche parcelle, ne correspond plus à ce qu'elle était. on ne retrouve plus les surfaces du cadastre.
C'est très ennuyeux, car l'extension ne me sers qu'à insérer le cadastre après elle est inutilisable.

Est ce qu'il y a quelque chose que l'on peut faire?

Je vous remercie par

[2017-03-24 15:41] mdouchin commented on #101
Bonjour, pouvez vous SVP détailler le problème. Je vois plusieurs questions:

* on ne peut plus faire de recherche de parcelles -> dans quel outil, comment reproduire le souci ?
* la table attributaire ne correspond plus -> pouvez vous préciser ce qui vous manque ? Vous parlez de la table parcelle_info ou de geo_parcelle ?

[2017-03-25 05:25] DaveP974 commented on #99
Bonjour,
la même chose de mon côté, la liste déroulante de recherche de commune, section et parcelle n est pas dans l'ordre.
ayant également quickfinder comme extension, la recherche de parcelles, sections et communes est dans l'ordre

[2017-03-30 07:22] ozoeau commented on #101
Bonjour
Dans notre collectivités plusieurs postes disposent de Qgis 2.14. sur mon poste j'ai réinstallé la version 2.14 récemment  et le plugin ne charge plus la couche parcelle.

J'ai recherché un peu et j'en suis à me demander si une spatialite "cadastre" générée avec un plugin ancien  ne serait pas partiellement non lu avec une version plus récente.
Pour nous, les poste disposant du plugin 1.3

[2017-03-30 15:47] ozoeau commented on #101
J'ai désinstallé le plugin 1.4.1 et ré-installé le [1.3] (http://plugins.qgis.org/plugins/cadastre/version/1.3.0/)
et tout est rentré dans l'ordre.

[2017-04-04 09:26] lipton58 commented on #101
Bonjour, je rencontre le même souci au niveau des champs de la table parcelle.
en effet, la surface indiquée donne la surface calculée du polygone et non plus celle de qui correspond à la surface réelle (cf matrice cadastrale).
les champs section commune ne sont plus non plus renseignés
j'ai pris contact avec le service du cadastre et les impôts
je vous mets une copie de l'échange que j'ai eu avec

[2017-04-04 11:56] Nyno82 commented on #101
J'ai résolu mon problème en réinstallant également la version 1.3 du plugin.

Il faut attendre qu'il y est une version futur qui corrige ce problème

[2017-04-04 12:00] lipton58 commented on #101
Oui effectivement c'est ce que j'ai fait après avoir lu le post.

merci

[2017-04-05 11:26] haubourg commented on #101
Confirmé en formation aussi sur 10 postes. La base PG a été créée avec la 1.3.
Je n'ai pas trouvé de log d'erreur, ça existe quelquepart?

[2017-04-05 11:34] haubourg commented on #50
Salut les gars,
google trouve difficilement le modèle de données, serait il possible de basculer le png http://demo.3liz.com/plugin_cadastre/schema_cadastre.png vers le dépôt github, et pourquoi pas aussi la version schemaSpy plus lisible que autodoc?
J'ai fait ça pour QWAT par exemple : https://github.com/qwat/qwat-data-model/tree/master/diagram
(et bravo pour le plugin)

[2017-04-06 18:25] haubourg commented on #101
Ok, vu ici: https://github.com/3liz/QgisCadastrePlugin/commit/94109cf68231963bddba5592343e8e6efb6feca4#diff-de6e6caa27e82d71edc8b2988b588c7eL1636

Il doit y avoir une étape de migration du modèle de données de 1.3 vers 1.4 non réalisée par le client..

[2017-04-18 08:52] jipi04 commented on #99
Bonjour,
Nous avons également le même problème. Les listes déroulantes Section et Parcelle ne sont pas ordonnées. (QGIS 2.14.6 et 1.4.1)
En vous remerciant par avance.
Cordialement

[2017-04-26 08:26] Mairie09 opened #102 "PROBLÈME INSTALLATION QGIS"
Bonjour,

Nous avons un problème lors de l'utilisation du logiciel QGIS 2.18.5 et notamment avec Python. Je vous mets ci dessous la procédure que l'on a suivi, pas à pas, lors de l'installation :

1- Une fois le logiciel installé, il y a 5 fichiers (voir capture d' écran n° 1 en pj ), donc on ouvre le "QGIS Desktop 2.18.5 with GRASS 7.2.0".
2- On clique sur l'onglet "extension"-"installer/gérer le

[2017-04-27 15:59] BrunoDefrance commented on #101
Bonjour
Je confirme aussi.
Après une mise à jour du plugin vers la version 1.4.1, les anciens cadastres (importé via le plugin version 1.3) ne sont plus lisible (couche parcelles non trouvée)

Il faut donc importer et charger avec la même version du plugin.

en tout cas MERCI pour ce plugin !

[2017-04-27 16:07] mdouchin commented on #101
En effet, je l'avais précisé dans le menu "Notes de version" pour la 1.4.0, cf
https://github.com/3liz/QgisCadastrePlugin/blob/master/cadastre_menu.py#L412

Mais cet ajout n'apparaît bêtement plus dans la 1.4.1 sortie juste après.

[2017-05-02 13:52] mmondon commented on #102
Bonjour
Pour les données des propriétaires, il vous faut les données majic3, vous ne pouvez pas les extraire de VISU.
Cordialement,

[2017-05-02 14:04] mmondon opened #103 "infos bati et relevé parcellaire"
Bonjour,

je suis en QGIS 2.18.0, plugin cadastre en 1.4.1.
J'ai les fichiers EDIGEO et MAJIC, je crée avec une base sqlite pour une commune.
Sur les relevés parcellaires, je n'ai plus aucune information sur le bâti alors que j'interroge une parcelle bâtie, bien sûr.
Est-ce qu'on vous a déjà signalé la chose?

[2017-05-15 12:09] Mairie09 commented on #102
Bonjour,

Très bien merci pour votre réponse !!Et en ce qui concerne le reste de l'installation tout est ok ?!

[2017-05-23 06:49] Fred-PF opened #104 "Erreur lors de l'import EDIGEO"
Bonjour,

J'utilise la version 1.4.1 du plugin sous QGIS 2.16.3
PostgreSQL 9.2 avec PgAdminIII
Windows 10 Pro

L'import des fichiers MAJIC se déroule bien.
L'import des fichier EDIGEO bloque avec le message suivant
Une erreur est survenue lors de l'exécution de la requête :

Requête :
`-- geo_commune: utilisation de max et non distinct on pour compatibilite sqlite
INSERT INTO "cad_2016".geo_commun

[2017-05-23 07:12] Fred-PF commented on #99
Bonjour,
Même problème rencontré avec la consultation sur un département. Je ne comprends pas pourquoi ce tri a disparu.
J'ai trouvé une solution temporaire sous PostgreSQL en réécrivant dans le bon ordre les tables geo_parcelle, geo_section et geo_commune.
Cordialement

[2017-05-23 07:21] mdouchin commented on #99
Corrigé via 824d9eda3c4176c428c923beabd8242e73dea242

[2017-05-23 07:21] mdouchin commented on #104
Merci pour le retour, je vais corriger cela

[2017-05-23 07:51] Fred-PF commented on #102
Bonjour,
La projection source des fichiers EDIGEO n'est pas forcément EPSG:2154
Il faut chercher parmi vos fichiers EDIGEO un fichier avec l'extension .GEO et l'ouvrir
Cela donne par exemple
[code]

Ici la projection source est RGF93CC45
On a la nomenclature exacte sur le site http://spatialreference.org/ref/epsg/?search=rgf93&srtext=Search
Et ça donne **EPSG:3945**

Cordialement

[2017-05-23 09:10] mdouchin commented on #102
merci @Fred-PF pour la réponse.
J'ai prévu de lire ce fichier automatiquement, au lieu de demander à l'utilisateur de spécifier la projection source dans la boite de dialogue.

[2017-05-23 09:31] Fred-PF opened #105 "Nouveau menu pour exporter la vue courante en PDF"
Bonjour,

Merci pour cette nouvelle fonctionnalité.
Pour une meilleure lisibilité du document PDF, il faudrait que la légende ne mentionne que les couches actives du projet QGIS.

Cordialement

[2017-05-23 12:20] Mairie09 commented on #102
Merci à vous pour vos réponses.
Mais je n'y arrive pas quand même, lorsque je clique sur un fichier .GEO du dossier EDIGEO il me demande avec quel programme l'ouvrir, je clique sur QGIS et il me dit impossible de démarrer le programme car il manque qgis_app.dll sur l'ordinateur, essayez de rééinstaller le programme pour corriger le problème.
ENsuite pour ta réponse Fred, je ne trouve pas comment f

[2017-05-23 12:25] mdouchin commented on #102
QGIS est un logiciel bureautique complet pour faire du traitement, de la visualisation et de l'analyse de données spatiales. Si on est nouveau dans le domaine de la géomatique ( informatique + spatial ), cela peut en effet être difficile.

Le mieux pour qu'on puisse vous aider, c'est de préciser:

1/ est-ce que l'import s'est bien passé, jusqu'au bout
2/ au sujet de l'erreur python, le mieux est d

[2017-05-23 12:28] mdouchin commented on #104
Le script de création de la table geo_commune fait bien référence au type TEXT sans contrainte de taille:
https://github.com/3liz/QgisCadastrePlugin/blob/46bbb2801a25c6ff5a6cc5fa6e0e5f872cda6fa0/scripts/plugin/commun_create_metier.sql#L716

Avez-vous créé un nouveau schéma dans la base de données, et tester un import ?

[2017-05-23 16:01] Fred-PF commented on #104
Je pense que mon problème provient de l'utilisation d'une base qui contient seulement les données Majic créée ... avec la version 1.3.0, sur laquelle je réalisait un import Edigeo avec la V1.4.0.
Désolé pour le temps perdu

[2017-05-23 16:10] Fred-PF commented on #102
Effectivement, il faut progresser pour maîtriser la bête et c'est pas facile quand on part de zéro.
Mais le jeu en vaut la chandelle ! Faut pas se décourager.
En plus ce renseignement de projection source sera automatisé, donc moins d'écueils à l'avenir.
- Ouvrir un éditeur de texte (bloc-note ou notepad sous windows) et ensuite dans cet éditeur ouvrir le fichier .GEO
- Dans l'interface d'import,

[2017-05-24 07:44] Fred-PF commented on #104
C'était bien ça

[2017-05-24 07:44] #104 closed

[2017-05-27 13:17] mdouchin commented on #100
En effet, les outils de recherche ne fonctionnent pour l'instant que si des données MAJIC sont présentes dans la base.

[2017-06-15 15:48] sig-pnrnm commented on #73
👍
Cette fonctionnalité nous ferait gagner pas mal de temps, même si elle est bien sûr possible en requêtant dans la base.

[2017-06-29 16:06] zorgas2a commented on #103
Bonjour,
Je viens sur ce sujet car j'ai également le même problème avec le Plugin Cadastre en installant la version 1.4.1 sur Qgis 2.18 ( Mac & PC) aucune donnée sur le relevé Bâti.

Lien du signalement sur le forumsig:

 [http://www.forumsig.org/showthread.php/43626-Probl%C3%A8me-Cadastre-V1-4-relev%C3%A9?highlight=cadastre](url)

Allez vous travailler dessus pour faire une mise à jour de correct

[2017-06-30 13:14] olivierdurr commented on #103
Bonjour,
En effet j'ai le même problème et le relevé parcellaire est donc inutilisable depuis la version 1.4.1.
Cordialement
Olivier DÜRR

[2017-06-30 13:20] olivierdurr commented on #99
Bonjour,
il semble que la version disponible sur le repository de qgis soit encore la version sans le tri.
Cordialement
Olivier DÜRR

[2017-06-30 14:10] rldhont commented on #99
Bonjour, cette correction sera disponible dans une version 1.4.2 qui devrait bientôt être publié.

[2017-06-30 14:11] rldhont commented on #100
Une amélioration a été intégré 65ec418ba1e7f835833372989fc8b1804fc3f993 et sera disponible dans la version 1.4.2 qui sera bientôt publiée.

[2017-07-03 12:58] mdouchin commented on #103
Bonjour,

Nous allons regarder et vous tiendrons au courant

[2017-07-05 07:29] mdouchin commented on #105
Bonjour,

En effet, ce serait mieux.
Sachez que vous pouvez tout à fait utiliser votre propre modèle d'impression (composeur) pour cette fonctionnalité.
Si vous ouvrez les options du plugin, vous pouvez voir (et modifier) le chemin vers le composeur utilisé.

Par exemple chez moi : `/home/mdouchin/.qgis2/python/plugins/cadastre/composers/paysage_a4.qpt`

[2017-07-05 09:02] mdouchin opened #106 "Import / Identification - Erreur encodage Python sur QGIS 2.18.10"
Constaté avec une récente version de QGIS 2.18.10 (et peut-être antérieure ?).

Suite au commit suivant https://github.com/qgis/QGIS/commit/14ab5eb0bda9a5993b9ab15a3b7de1af9df8dcba

[code]

[2017-07-05 09:37] mdouchin commented on #106
It seems I can find a workaround by replacing in my code L 461 of cadastre_dialogs.py
 `c = connector._execute(None,unicode(sql))`
by
`c = connector._execute(None,unicode(sql).encode('utf-8'))`

@jusabatier Can you confirm this workaround allows you to import data ( AND have good accentuated chars visibles in tables and in the plugin dialogs ) ?

[2017-07-05 09:46] jusabatier commented on #106
Nope, I replaced this line with your code in `~/.qgis2/python/plugins/cadastre/cadastre_dialogs.py` and restarted my QGis, but still have the same error when importing in a PostGIS database.

[2017-07-05 09:49] jusabatier commented on #106
Moreover, it seems like your stacktrace is different, the one I have is :

[code]

[2017-07-05 09:51] mdouchin commented on #106
yep, I will try to adapt the line "/home/jusabatier/.qgis2/python/plugins/cadastre/cadastre_import.py", line 1115
There are probably more locations (but hopefully not, and if so, I would need to refactor the code...)

I would find a way to try catch and use one or other method to avoid bugs in versions prior and after the QGIS commit

[2017-07-05 09:59] jusabatier commented on #106
I confirm that replace cadastre_import.py line 1115 :
`c = self.connector._execute_and_commit(sql)`
with
`c = self.connector._execute_and_commit(unicode(sql).encode('utf-8'))`

solved the problem and allow to perform a successful import in PostGIS database

[2017-07-05 11:53] mdouchin commented on #106
yep, I will try to adapt the line "/home/jusabatier/.qgis2/python/plugins/cadastre/cadastre_import.py", line 1115. You can try and add the `.encode('utf-8')`
There are probably more locations (but hopefully not, and if so, I would need to refactor the code...)

I would find a way to try catch and use one or other method to avoid bugs in versions prior and after the QGIS commit

[2017-07-05 12:29] mdouchin commented on #106
Ok. I will try to provide updated code as a workaround

[2017-07-05 12:36] smevel opened #107 "log d'import"
Actuellement, le log d'import n'est pas enregistré dans un fichier, mais seulement affiché dans la boîte de dialogue. Proposition d'ajout d'une option pour conserver le log dans un fichier.

[2017-07-05 13:04] guillaumelaurant commented on #106
Bonjour,

J'ai essayé de modifié cadastre_dialogs.py comme demandé mais ça ne fonctionne toujours pas, sous QGIS 2.18 comme 2.14...

[2017-07-05 13:08] jusabatier commented on #106
Il y a probablement 2 fichiers à modifier :

- cadastre_dialogs.py ligne 461 :
`c = connector._execute(None,unicode(sql).encode('utf-8'))`

- cadastre_import.py ligne 1115 :
`c = self.connector._execute_and_commit(unicode(sql).encode('utf-8'))`

Et bien penser à relancer QGis après, pour moi ça a résolu le problème et l'import dans PostGIS s'est fait correctement en 2.18.10

[2017-07-05 13:28] guillaumelaurant commented on #106
Ça ne fonctionne pas, voici le message d'erreur :

Traceback (most recent call last):
  File "C:/Users/g.laurant/.qgis2/python/plugins\cadastre\cadastre_menu.py", line 361, in getParcelleInfo
    self.cadastre_search_dialog
  File "C:/Users/g.laurant/.qgis2/python/plugins\cadastre\cadastre_dialogs.py", line 2371, in __init__
    self.setProprietairesContent()
  File "C:/Users/g.laurant/.qgis2/pyth

[2017-07-05 14:27] jusabatier commented on #106
Après avoir fait les modification de mon dernier post, j'ai relancé QGis puis réimporté les données dans le schema PostGIS (eventuellement le supprimer puis recréer).

Par la suite celle-cis se chargent sans soucis.

[2017-07-06 07:32] olivierdurr opened #108 "Problème d'import des données cadastrales"
Bonjour,
depuis que j'ai installé la dernière version du module téléchargé depuis ce github, afin de résoudre le problème de tri des parcelles dans le panneau de recherche (problème d'ailleurs fort bien résolu), je n'arrive plus à importer de cadastre (edigeo+majic ou même edigeo seul) dans une base spatialite; à 72% (vers lieu-dit), le module tourne dans le vide (je l'ai laissé une nuit entière s

[2017-07-06 07:40] mdouchin commented on #108
C'est peut-être lié à la version de QGIS, voir bug https://github.com/3liz/QgisCadastrePlugin/issues/106 que je suis en train de corriger.

Quel est le message d'erreur ? (vous pouvez copier coller le texte ici )

[2017-07-06 07:48] olivierdurr commented on #108
Bonjour,

je n'ai pas du tout de message d'erreur; je viens de télécharger une
ancienne version du module (la 140) et ça me fait le même problème que ce
soit avec un QGIS 2.18.7 ou 2.16.3, avec le dernier module cadastre ou avec
la version 140.
Cela ne semble pas donc pas provenir du module puisqu'auparavant la commune
que je vous ai envoyé fonctionnait très bien et pas non plus de la version
de Q

[2017-07-06 08:20] olivierdurr commented on #108
Re-bonjour,

alors, j'ai essayé sur un ordi portable où QGIS 2.18.3 est installé et où
j'avais installé le module cadastre du github parce que j'avais besoin du
tri des numéros de parcelles. Si je fais un import d'un cadastre
(edigeo+majic) il s'arrête au même endroit (geo-lieudit) mais cette fois-ci
avec une fenêtre qui s'ouvre avec une erreur python qui me dit qu'il ne
trouve pas la fonction con

[2017-07-06 08:42] mdouchin commented on #108
Bonjour,

Je corrige l'erreur de concat.
Je vais sortir une version avec les corrections d'erreur rapidement.

[2017-07-06 08:44] mdouchin commented on #108
Attention à ne pas utiliser le courriel pour répondre automatiquement à ces messages (GITHUB), car vous pouvez laisser du texte des messages précédents. J'ai supprimé les textes (notamment le lien vers les fichiers cadastraux).
Il vaut mieux cliquer sur le lien en bas du message "View it in Github". Puis commenter depuis l'adresse, par ex pour cette demande : https://github.com/3liz/QgisCadastrePl

[2017-07-06 09:04] mdouchin commented on #108
Commits 624654b et 58beda1 corrigent respectivement le souci apparu suite à QGIS 2.18.10 et le souci de concat (non disponible dans sqlite...)

Merci de vérifier et fermer la demande si c'est bon

[2017-07-06 09:06] mdouchin commented on #106
Le commit 58beda1 doit régler le souci, et permettre au plugin Cadastre de fonctionner avec les version de QGIS avant et après le commit qgis/QGIS@14ab5eb

Merci de télécharger la dernière version du plugin et de vérifier si c'est bon

[2017-07-06 12:00] olivierdurr commented on #108
Je viens de tester sur l'ordi portable et sur mon ordi de bureau et tout fonctionne pour l'import et pour le tri.
Je tiens à dire que j'ai eu beaucoup de mal pour l'ordi de bureau car il reste des parties de module chargées en mémoire même lorsqu'on désinstalle le module.
Ainsi après désinstallation du module 141 de QGIS et installation du module du github (dernière version), les parcelles et sect

[2017-07-06 12:00] #108 closed

[2017-07-06 13:56] mdouchin commented on #103
J'ai trouvé le souci, et proposé une correction dans le commit 45dc924 . Par contre, il faut réimporter les données, ou bien lancer plusieurs requêtes sur la base.

Les requêtes sont les suivantes. Il faut les lancer une par une dans DBManager de QGIS, car cet outil ne permet pas de lancer plusieurs requêtes en même temps.
Il faut remplacer 2016 par la bonne année.

[code]

[2017-07-07 07:52] olivierdurr commented on #103
Bonjour,
je viens de tester avec le DB manager sur la commune dont je vous avais envoyé le zip et ça a l'air de fonctionner.
Je vais maintenant tester avec le module sur une communauté de communes; je vous tiendrai au courant.
Cordialement

[2017-07-07 09:17] olivierdurr commented on #103
J'ai regardé un peu plus précisément la commune où j'ai lancé les requêtes dans db manager et il reste un problème; en effet, il semble que lorsque le propriétaire est une personne physique (aucun caractère spécial dans le compte communal) les relevés sont corrects; par contre, si le propriétaire est une personne morale (caractère '+' dans le compte communal pour les communes, hlm, etc et caractèr

[2017-07-07 10:11] olivierdurr commented on #103
Je viens de vérifier sur une communauté de communes; c'est exactement la même chose:
propriétaire physique: cela semble bon
propriétaire moral avec un + dans le compte communal: pas d'en-tête et tableau de propriétaire vide dans le relevé parcellaire et relevé de propriété vide; et petit carré à la place du +
propriétaire moral avec une étoile dans le compte communal: pas de pdf (relevé parcellair

[2017-07-10 08:16] mdouchin commented on #103
Merci pour le retour.
Je vérifie ce point

[2017-07-13 13:23] mdouchin commented on #106
Bug QGIS référencé par d'autres ici:
https://issues.qgis.org/issues/16833

[2017-08-17 14:10] mdouchin commented on #103
Il faut absolument télécharger la dernière version de QGIS 2.18 (certaines versions mineures ne sont pas complètement fonctionnelles sur certains accès à la bdd, notamment dû à un bug d'encodage)

[2017-08-23 14:15] mmondon opened #109 "Import - Support du millésime MAJIC 2017"
Bonjour,
Nous recevons les fichiers majic 2017. D'après cet article, il y a quelques changements https://georezo.net/blog/parcellair/2017/05/18/majic-nouveautes-2017/
Une nouvelle version est-elle prévue?
Cordialement,
Michel Mondon

[2017-08-23 14:26] mmondon opened #110 "Mauvais placement des étiquettes des parcelles"
Bonjour,
Les numéros de parcelles de la couche Parcelles (étiquettes) sont souvent mal placées, ce quelque soit le zoom. Il ne me semble pas avoir remarqué ce phénomène auparavant.
J'ai installé la dernière version de QGIS et je teste avec les données 2017.
[export_cadastre_150349613532.pdf](https://github.com/3liz/QgisCadastrePlugin/files/1245725/export_cadastre_150349613532.pdf)
On a ici le cas

[2017-08-23 14:33] mmondon commented on #103
J'ai installé la dernière version 2.8.12, modifié les 2 fichiers selon le commit 45dc924, ça marche, les informations sur le bâti apparaissent dans le relevé. Par contre je constate la même chose qu'Olivier, si le propriétaire est une commune par exemple, il n'y a rien.

[2017-08-24 08:22] mdouchin commented on #109
Oui, nous allons sortir une nouvelle version tout début septembre.

[2017-09-05 08:48] mmondon opened #111 "recherche de lieux et export relevé parcellaire"
Bonjour,

Nous constatons un comportement étonnant du bouton d'export pdf dans la recherche de lieux.
Lorsque nous recherchons une parcelle, ça ne fonctionne pas.
Si nous faisons une recherche d'adresse ou une recherche de propriétaire ça fonctionne.
Et quand nous refaisons, ensuite, une recherche de lieux l'export fonctionne, du moins, le temps de la session.
Merci

[2017-09-06 14:23] mdouchin commented on #109
Vous pouvez tester la version de développement, en installant manuellement le plugin. Je viens de "pousser" 2 commits (modifications de code) qui permettent de faire passer l'intégration du Majic 2017.

Pour récupérer la dernière version:
https://github.com/3liz/QgisCadastrePlugin/archive/master.zip

Par contre, je n'ai pas modifié les calculs pour les relevés parcellaires et les relevés de propri

[2017-09-06 14:40] mdouchin commented on #109
Je viens de créer un message sur le forumsig
http://www.forumsig.org/showthread.php/44478-Plugin-Cadastre-Nous-aider-à-tester-les-données-MAJIC-2017?p=350293

[2017-09-08 11:40] MaelREBOUX commented on #109
Bonjour Michaël,

Peut-on partager / croiser nos expertises sur ce point ?
cf https://github.com/georchestra/cadastrapp/issues/348

[2017-09-08 12:09] mdouchin commented on #109
@MaelREBOUX oui bien sûr !

[2017-09-21 08:13] MaelREBOUX commented on #109
@mdouchin : il y a une incohérence entre la doc et la base sur les modifications qui touche à l'article 50 / PEV professionnelle : https://github.com/georchestra/cadastrapp/issues/348#issuecomment-331084067

[2017-09-25 10:28] omaillard commented on #109
Bonjour,

j'ai installer cadastre master. Tout fonctionne pour une bonne partie de mon territoire, en revanche pour 3 communes, j'ai un message d'erreur et je ne comprends pas. Le message d'erreur est ci-dessous.
Quelqu'un aurait une explication?

Bien cordialement

 "Une erreur est survenue lors de l'éxécution du code Python:

UnboundLocalError: local variable 'gd' referenced before assignment
Tr

[2017-10-02 08:47] MaelREBOUX commented on #109
Bonjour @mdouchin  Pas de nouvelle version du plugin depuis le 06/09 ? Parce que je me lance dans la remontée des nouveautés dans cadastrapp.

[2017-10-02 09:58] mdouchin commented on #109
Peu de retours, car beaucoup n'ont pas encore les données.
Pour ceux que j'ai eu, mes modifications sur le format permettent bien d'importer les données en base.
J'ai suivi les fichiers de description pour faire ces modifications.

Mon seul souci est maintenant d'intégrer les modifications de calculs pour l'export des relevés.

[2017-10-02 12:29] MaelREBOUX opened #112 "Le numéro d'invariant est incomplet"
Bonjour,

Je remarque que dans la table pev le numéro d'invariant ressemble à ça : ```0230005634```
où ```023``` correspond à la partie terminale du code INSEE de la commune, le reste est l'identifiant du local.

Pour moi **il manque le code de département et le code de bureau afin d'obtenir un identifiant unique.** Exemple : ```8500230005634```

C'est d'ailleurs la valeur brute qui est dans les f

[2017-10-02 12:58] MaelREBOUX commented on #109
Je suis dessus.
D'où dans Majic proviennent les valeurs des attributs co_bipevla, gp_bipevla, de_bipevla ?

[2017-10-02 14:03] omaillard opened #113 "Problême détermination de la vacance avec CCTHP"
Bonjour,

j'ouvre ce topic car je me retrouve face à un problème pour déterminer la vacance des habitations . En effet la colonne CCTPH de PEV est entièrement vide cette année. Est ce un changement de codification que le plugin cadastre ne comprends pas? Cependant il n'y a pas eu d'erreur pour installer les fichiers. Avez vous peut-être une autre raison.

dans l'attente de votre réponse,

Cordiale

[2017-10-02 14:06] mdouchin commented on #113
Bonjour,

Avez vous utilisé la version "master" (de développement du plugin Cadastre), ou la version 1.4.1 ? Seule la version master intègre le support des données MAJIC 2017.
Voir le post suivant http://www.forumsig.org/showthread.php/44478-Plugin-Cadastre-Nous-aider-%C3%A0-tester-les-donn%C3%A9es-MAJIC-2017?p=350293

[2017-10-02 14:10] omaillard commented on #113
Oui c'est exactement celle ci que j'ai installé.

[2017-10-02 14:14] MaelREBOUX commented on #109
Chouette la doc officielle DGFiP de MAJIC III n'est pas à jour sur la taxation PEV (p. 27 3.7).
On passe du caractère 65 à 156
alors qu’il y a vraisemblablement les valeurs de la base d’imposition neutralisée et planchonnée.

[2017-10-02 14:19] mdouchin commented on #109
Dans le plugin, voici ce que j'avais fait selon ma compréhension des "4 occurences"

[code]

[2017-10-02 14:28] MaelREBOUX commented on #109
OK : ça vient bien du fichier BATI. Je viens de me faire confirmer par DGFiP que ces valeurs sont bien révisées (valeurs neutralisées et planchonnées)  si ça concerne un local professionnelle.
La doc officielle ne le dit pas : pas de X dans les 2 colonnes.

Et je constate que les relevés de propriété générés par la version 2017 de VisuDGFiP comportent une évolution assez importante.
Pour les propr

[2017-10-03 15:37] MaelREBOUX commented on #109
Avant de revenir sur le précédent post : je ne vois pas la table **ccoac** qui est censée contenir les codes et libellés des natures de locaux commerciaux.

Confirmation de ce manque @mdouchin ?

[2017-10-03 15:58] mdouchin commented on #109
En effet, j'ai oublié d'ajouter la table ccoac. Je vais le faire.

[2017-10-04 06:52] Migliorati opened #114 "Erreur lors de l'import"
Bonjour,

Je viens d'installer le logiciel, voici la configuration de l'import que j'effectue :

![image](https://user-images.githubusercontent.com/20703341/31163143-3fb59656-a8e1-11e7-9cb6-a050eb4d2361.png)

Lors de l'import, voici l'erreur que je reçois :

`Une erreur est apparue lors de l'exécution du code Python :

Traceback (most recent call last):
  File "C:/Users/bmigliorati/.qgis2/python/p

[2017-10-10 13:31] pnropf opened #115 "la table geo_batiment_parcelle n'est pas fiable du tout en cas d'import multicommunale"
bonjour,
souhaitant associer à chacun de mes bâtiments le code insee de sa commune de rattachement, je pensais y arriver en utilisant la table geo_batiment_parcelle qui laisse supposer que chaque batiment est associé à sa parcelle... toutefois quelques tests rapide montre que le champs identifiant geo_batiment n'est pas unique, et peut être relié à plusieurs bâtiments différents (de communes diffé

[2017-10-10 13:37] mdouchin commented on #115
J'ai normalement repensé les identifiants pour la prochaine version du cadastre. Je vais vérifier si j'ai bien ajouté le code département et direction dans ces tables

[2017-10-10 13:43] pnropf commented on #115
Super ! merci pour votre réactivité…

j’ai vu les messages pour la version « master » en cours : si j’ai bien compris, pour intégrer les derniers fichiers MAJIC en train d’être publié par les services fiscaux (j’ai reçu les premiers aujourd’hui),  il faut forcement installer la version « master » ? ou est-ce que l’on peut se « contenter » de la version officielle actuelle pour intégrer les nouveau

[2017-10-10 13:50] pnropf commented on #115
Pour fiabilisé complétement l’identifiant, c’est le code insee complet de la commune qu’il faut concatener à l’identifiant « communal » (la direction n’est pas assez discriminante je pense).

Cordialement,

Pascal LAMBERT
Chargé de mission SIG/EVALUATION
Tel. : 03 44 63 65 62
-------------------------------------------------------------
Parc naturel régional Oise - Pays de France
Château de la Bor

[2017-10-12 14:07] smevel opened #116 "Erreur lors de l'import liée aux fichiers EDIGEO [subdivision fiscale]"
Pour info, si même message d'erreur à l'import dans le log :
`ERREUR:  valeur « Ab » invalide pour « DD »`

Après investigation, nous avons rencontré une erreur liée aux fichiers sources EDIGEO.
L'import plantait sur deux communes :
- Landudec (29108) / feuille D (https://cadastre.data.gouv.fr/data/dgfip-pci-vecteur/latest/edigeo/feuilles/29/29108/edigeo-291080000D01.tar.bz2)
- Loqueffret (29141)

[2017-10-12 14:08] #116 closed

[2017-10-13 06:51] mdouchin commented on #116
Merci pour le retour

[2017-10-24 13:46] jdesboeufs commented on #115
Il suffit d'ajouter les deux premiers caractères du code département (97 dans le cas des DROM).
Cela permet de reconstruire le code INSEE commune en préfixe, ce qui suffit pour l'unicité.

[2017-10-25 10:12] sig-pnrnm opened #117 "Ouverture d'une base PostGis créée sur autre PC"
Bonjour,

Suite à [ce message sur le Forum SIG](http://www.forumsig.org/showthread.php/44616-Plugin-Cadastre-Ouvrir-base-cadastre-PostGis-cr%C3%A9%C3%A9e-sur-un-autre-PC), il semble que le plugin ne permette pas d'ouvrir une base Cadastre PostGis créée sur un autre PC.
Ou alors, il me manque une étape !
(ça marche bien pour les base Spatialite, pour lesquelles il suffit de créer une connexion préa

[2017-10-25 12:49] sig-pnrnm commented on #117
Peut-être un problème lié au fait que la BDD a été créée en Localhost, et que j'essaie de l'ouvrir depuis un PC distant via IP du serveur PG ?

[2017-10-31 10:55] pnropf commented on #115
Non, cela ne suffit pas !

Voici un exemple : le bâtiment dont l’id est 20166000003521 correspond à plusieurs bâtiments situés sur plusieurs communes du même département (ou pas)… le problème est lié au fait que rien ne relie l’identifiant du bâtiment à sa commune (aucun lien avec une portion du code insee communal).
Mon propos étant d’associer à chaque bâtiment ses caractéristiques d’habitat situ

[2017-11-14 14:27] mdouchin commented on #115
J'ai proposé une correction dans la dernière version. Je réalise une intersection en plus comme critère de jointure. cf 352b752

[2017-11-14 14:34] mdouchin commented on #91
Quelles sont les options de configuration du plugin, notamment celles du groupe *Performances* ?

[2017-11-14 14:41] mdouchin commented on #109
Je ne trouve pas de tableau avec la nomenclature de CCONAC dans les fichiers descriptifs 2017. @MaelREBOUX tu confirmes ? https://www.collectivites-locales.gouv.fr/files/files/cadastre/ffs_2017_bati.pdf

[2017-11-14 15:08] pnropf commented on #115
Bonjour,

Je pense que cela ne suffira pas à régler le problème ! en effet le soucis vient du fait que geo_batiment n’est pas unique : plusieurs bâtiments de communes différentes possèdent le même identifiant… sauf erreur de ma part, votre code ne modifie pas cet état de fait et il ne sera toujours pas possible d’associer un bâtiment bien déterminé à sa parcelle.

Il faut que l’identifiant geo_bat

[2017-11-14 15:14] mdouchin commented on #115
@pnropf Merci de tester . L'intersection réalisée via
https://github.com/3liz/QgisCadastrePlugin/commit/352b75284fe48d00dca855cda9236cc48f7966c7#diff-b5c1e96fdcd57d42db78e9d468839d97R151
permet bien de régler le problème, en remplissant la table geo_parcelle_batiment avec un critère de plus.

Il faudrait peut-être affiner en utilisant l'intersection entre le centroide du batiment et la parcelle, p

[2017-11-14 16:02] pnropf commented on #115
@mdouchin
je ne peux pas tester le résultat de la modification proposée, car la table edigeo_rel est vide chez moi : il m'est donc difficile de juger de l'efficacité du code proposé.
Concernant l'intersection, il faut effectivement utiliser le centroïde car les bâtiments sont fréquemment en limite des communes, voire même à cheval sur plusieurs communes.
l'intersection va effectivement logiquement

[2017-11-14 20:43] MaelREBOUX commented on #109
La doc DGFiP n'est pas à jour. Je l'ai remonté mais j'ai un doute sur ce point précis.
J'ai la nomemclature de côté je la met dessous demain.

[2017-11-15 08:48] pierrejego commented on #109
Bonjour @mdouchin, MaelREBOUX n'est pas disponible aujourd'hui. Par contre je travaille sur l'intégration du cadastre dans geOrchestra avec lui et je dois pouvoir te répondre.

Effectivement il n'y a pas de tableau descriptif dans le document pour le CCOCAC. Ils ont fait une description textuel, paragraphe 2.1.3.1. Catégorie, petit c. Voila l'extrait sur le sujet plus bas.

 J'en ai fait deux tabl

[2017-11-20 21:42] zorgas2a opened #118 "Cadastre-ERREUR: syntaxe en entrée invalide pour le type numeric : « »"
Bonjour,

Après avoir télécharger le plugin cadastre sur le l’astre je trouve cette erreur en faisant un import sous PostGIS : comment puis je faire pour résoudre ceci?

ERREUR:  syntaxe en entrée invalide pour le type numeric : «   »

REQUETE 
-- Traitement: pev
INSERT INTO "cadastre".pev
(
 pev, annee, ccodep, ccodir, ccocom, invar,
 dnupev,
 ccoaff, ccostb, dcapec, dcetlc,
 ccocac, dnutrf, dcfl

[2017-11-28 16:01] mdouchin commented on #109
@pierrejego Merci beaucoup

[2017-11-28 16:02] MaelREBOUX commented on #109
@pierrejego Merci Pierre

[2017-11-28 16:28] Zebulon29 opened #119 "MAJIC (DNOMUS-DPRNUS et DNOMLP-DRNLP) - Nom de Jeune fille - Nom d'épouse"
Bonjour

Nous souhaitons installer le plugin Cadastre dans les différents services de notre collectivité. J’ai un point bloquant pour le déploiement de votre plugin. Celui-ci ne fait pas apparaître pour une femme, son nom d’épouse.

Pour différents services de notre collectivité, ils ont besoins de ces 2 informations, qui sont présentes dans le fichier MAJIC (DNOMUS-DPRNUS et DNOMLP-DRNLP). Une év

[2017-12-21 08:18] landryb opened #120 "Invalid value 'Ma' for "DD""
Vu lors d'un import de données sur le dept 38 (isère)

[code]

La conséquence, c'est qu'il n'y a aucun objet pour le lot correspondant dans la table `geo_subdsect` .. ce qui ne va probablement pas plaire au plugin qadastre ni a cadastrapp.

J'imagine que le "DD" est peut-être le résultat d'un `to_date()` sur une substring, mais j'ai du mal a voir si le pb vient de majic ou d'edigeo, et dans quel f

[2017-12-21 08:31] landryb commented on #120
Ok, trouvé.
[code]

C'est sensé être DD/MM/YYYY ... et ca provient de

https://cadastre.data.gouv.fr/data/dgfip-pci-vecteur/latest/edigeo/feuilles/38/38507/edigeo-38507000AI01.tar.bz2
[code]

Dans ce cas, 2 problemes:
  * comment y faire remonter a la dgfip pour correction ? @jdesboeufs une idée ?
  * comment gérer ce cas dans l'import pour juste ignorer lavaleur erronée ?

[2017-12-21 09:12] landryb commented on #120
J'ai regardé un peu toutes les données du 38, et pour le champ 'DIS' j'ai un peu de tout, du 'YYYY' seul sans DD/MM, du '(null)', du 20050121 (YYYYMMDD?), du 28072009 (DDMMYYYY), du 2002.02.27 (YYYY.MM.DD !? original) - il faut donc croire que le `to_date()` ici (https://github.com/3liz/QgisCadastrePlugin/blob/master/scripts/plugin/edigeo_formatage_donnees.sql#L58) bouffe toutes ces variantes horr

[2017-12-21 09:40] jdesboeufs commented on #120
@landryb on a pas mal d'anomalies à remonter, et on aimerait être en mesure d'assurer un minimum de suivi et de transparence.
J'avais l'idée de créer un dépôt GitHub dédié au PCI, on pourrait du coup utiliser les Issues comme moyen de centraliser les problèmes.
Au début je ferai peut-être une compilation mensuelle mais je suis sûr que c'est un outil qui pourrait être pris en main directement par l

[2017-12-21 09:43] landryb commented on #120
Ca serait génial, mais à ma connaissance les agents de la DGFiP n'ont pas forcément accès à internet..... ou alors les choses ont bien changé :)

[2017-12-21 09:45] jdesboeufs commented on #120
Ça se tente quand même, et au pire ça leur fera un argument auprès de leur DSI.

[2017-12-21 09:53] jdesboeufs commented on #120
Pour en revenir au problème, ce champ étant facultatif, même mal formaté il ne devrait pas être bloquant pour l'import dans les outils.

Et par ailleurs c'est dommage que ce champ soit de type T (texte) avec contrainte puisqu'il y a un type D (date) qui fonctionne plutôt bien.

[2017-12-26 08:17] landryb commented on #120
Mais ca j'imagine que c'est dépendant du process qui maj les données et de leur schéma.. vu que le champ en question autorise DD/MM/YYYY ..

En attendant de trouver ou faire remonter les incohérences dans le pci, le script d'import s'est aussi pris les pieds dans le tapis de la meme manière sur une feuille du 73, mais celle-ci a été plus drole a trouver.

[code]

Pratique, pour trouver une valeur

[2017-12-27 10:10] landryb opened #121 "Import incrementaux de lots distincts melange les lots dans la table comptecommunal"
J'ai une db qadastre ou j'ai importé (avec mon fork en cli mais utilisant le meme schema) dans des lots distincts des départements:
- dans un premier temps 03 puis 15 puis 43 puis 63.
- dans un second temps 01 puis 07 puis 26 puis 38 puis 42 puis 69 puis 73 puis 74.

étrangement, les données du 01 se retouvent dans le lot du 38, et ainsi de suite..

[code]

J'ai l'impression qu'une table/vue inter

[2017-12-27 10:38] landryb commented on #121
La table `geo_unite_fonciere` a l'air ok:
[code]

[2017-12-27 10:43] landryb commented on #121
C'est juste une idée, mais ptete qu'il manque un filtre sur le lot ici: https://github.com/3liz/QgisCadastrePlugin/blob/master/scripts/plugin/2017/majic3_formatage_donnees.sql#L703

je tenterais bien avec `and lot='[LOT]'` dans ce `WHERE`... @mdouchin ?

[2017-12-27 12:24] Christophe55 commented on #118
Bonjour,
J'ai le même souci pour un import avec Postgis (avec les version 1.4.1 et 1.5.0 du plugin)
erreur de valeur nulle pour le champ numeric
----------------------------------------------------------------------------------------------------
ERREUR:  syntaxe en entrée invalide pour le type numeric : «   »
-----------------------------------------------------------------------------------------

[2017-12-27 13:29] landryb commented on #121
Et j'ai bien l'impression de tenir le bon bout du problème :)

avant:
[code]
après:

[code]

[2017-12-28 15:23] landryb commented on #121
Mon import court toujours, mais ca a bien l'air de corriger ce problème la:

avant:
[code]
apres:
[code]

[2018-01-02 10:09] mdouchin commented on #118
Bonjour,

Pouvez vous préciser

* le millésime des données : 2016 ou 2017 ?
* les options choisies lors de l'import ( surtout les années)

[2018-01-02 10:10] mdouchin commented on #121
Merci pour le suivi. Voir le PR pour continuer la discussion
https://github.com/3liz/QgisCadastrePlugin/pull/122

[2018-01-02 10:24] mdouchin commented on #115
Merci de vérifier avec la nouvelle version 1.5.0 , en relançant un nouvel import.

[2018-01-05 14:53] landryb commented on #121
J'ai l'impression qu'il y'a en plus d'autres erreurs liées aux imports multiples dans les tables 'non geographiques' faisant le lien entre 2 tables geo, ex `geo_tline_commune` ou `geo_borne_parcelle`, je n'ai pas le meme nombre d'objets dans les tables entre mon dev et ma prod ou les imports ont été fait en plusieurs fois, mais ou je suis sensé avoir les memes données à la fin.

A priori pas de so

[2018-01-05 15:05] landryb commented on #121
@mdouchin j'ai l'impression que c'est la meme chose pour edigeo, si tu peux confirmer mon intuition..

je vois dans `edigeo_formatage_donnees.sql` que les tables `geo_tpoint_commune` et `geo_symblim_parcelle` (je prends 2 exemples au pif) sont créees en faisant une jointure entre les 2 tables geo correspondantes, avec un `WHERE s.annee='[ANNEE]'` mais sans filtrage sur le lot, alors que l'info de

[2018-01-05 15:15] landryb commented on #121
La ou ca me fait une différence, c'est que d'un coté la base fait 205Go en prod, et 123Go de l'autre sur le dev.. donc si je pouvais arriver a alléger le tout.. ceci dit pour cadastrapp, une fois crée nos vues matérialisées je n'utilise plus que 4 tables spatiales du modèle QGIS donc je pourrais bien TRUNCATE toute les autres :)

[2018-01-05 15:32] landryb commented on #121
Selon ma lecture, il faudrait ptete revoir aussi les tables local00 et local10 qui font un WHERE avec ANNEE sans LOT (mais pas sur pour ces deux), et sinon pour les tables de liaison edigeo:
  * geo_subdfisc_parcelle
  * geo_numvoie_parcelle
  * geo_batiment_parcelle
  * geo_borne_parcelle
  * geo_croix_parcelle
  * geo_symblim_parcelle
  * geo_tpoint_commune
  * geo_tline_commune
  * geo_tsurf_co

[2018-01-11 17:30] mdouchin commented on #121
Merci @landryb pour ces retours. Il faut en effet qu'on consolide cette histoire de lots. Est-ce que tu peux te charger de cette revue et compléter le PR #122 ? ou tu préférerais que je m'en charge ?

[2018-01-12 07:22] landryb commented on #121
Compléter la PR c'est pas le souci, c'est sur la logique de la chose (ie le filtre manquant (?) sur les requetes remplissant ces 9 tables de liaison, et local00/local10) que j'ai besoin de ton retour :)

[2018-01-16 16:11] Christophe55 commented on #118
Bonjour, il s'agit de données millésime 2017, l'année précisée est 2017.
Testé également avec version de format 2016 et données 2016, le problème reste identique.

Cordialement.
Christophe.

[2018-01-18 08:53] Christophe55 commented on #118
Suite au crash de l'import des données MAJIC, j'ai relancé, sans faire de DROP SCHEMA l'import des fichiers EDIGEO seuls, l'import a foncionné et je dispose de mes infos propriétaire sur mes parcelles, je n'ai pas pu vérifié pour le coup quels sont les données manquantes dans la base de données..

cordialement
Christophe

[2018-01-22 10:14] geofffl commented on #120
Bonjour à tous,
Je suis confronté à ce problème, travaillant sur les départements 73 et 74 (tout est OK pour le 74). Auriez-vous une idée de contournement pour intégrer malgré tout les données ? Est-il possible de forcer le script d'import pour que le champ vide ne soit pas bloquant ?
Merci d'avance !

[2018-01-22 13:04] landryb commented on #120
Oui, corriger les données en éditant le fichier édigeo avec un éditeur de texte. Décompresser et recompresser la feuille évidemment...

[2018-01-24 08:28] mdouchin commented on #120
Merci pour cet échange. Je vais ajouter un test dans le script d'import pour éviter le désagrément sur ce champ. Le souci, c'est que beaucoup de champs de différentes "tables" peuvent être concernées un jour ou l'autre par des incohérences dans les fichiers sources. Le mieux est toujours de revenir à la source, afin que le problème soit résolu en amont

[2018-01-24 08:35] mdouchin commented on #120
Que pensez vous d'une valeur par défaut à 01/01/1900 dans le cas où la date n'est pas conforme ?

[2018-01-24 08:44] mdouchin commented on #120
Je propose

[code]
et la même chose pour dedi

PostgreSQL est assez "intelligent" pour convertir des dates bizares comme 32/12/2017 en 01/01/2018, c'est pourquoi mon expression régulière reste simple.

[2018-01-24 09:01] landryb commented on #120
Hm, je ne suis pas si certain qu'il faille une regex, car dans ce champ il y'a un peu de tout, pas forcément DD/MM/YYYY, cf mon 3e commentaire... il faudrait pouvoir "tester" le résultat de to_date, ou p-e juste des chiffres (et des points, / ?)..

[2018-01-24 09:05] mdouchin commented on #120
justement, la regex permet de savoir si le "tout" qui est dans ce champ correspond au format attendu. Si non, on utilise 01/01/1900.
Le vrai souci provient de l'absence de support de regexp pour spatialite.

[2018-01-24 09:29] landryb commented on #120
Je ne sais pas si to_date sait analyser correctement 20050121, 2010, 28072009 et 2002.02.27, car ce sont des exemples que j'ai trouvé dans mes fichiers..si on requiert DD/MM/YYYY c'est bien plus strict

[2018-01-24 09:41] mdouchin commented on #120
to_date n'analyse rien. C'est le 2ème paramètre on on lui signale le format. Dans notre cas, le to_date s'attend donc à avoir un format "français" DD/MM/YYYY.

C'est pourquoi ma regex, qui elle analyse le champ, ne permet que ce format, justement pour que le to_date ne plante pas. C'est le standard EDIGEO qui doit être respecté. Si c'est le cas, le plugin prendra la date. Sinon il mettra le 1er ja

[2018-01-24 10:36] landryb commented on #120
ok, dans ce cas...c'est peut-être plus propre.

[2018-01-24 11:04] geofffl commented on #120
Je n'ai pas les compétences pour tout suivre, mais merci de la proposition ! A disposition au besoin pour des tests ou autre.

[2018-01-24 11:22] mdouchin commented on #120
@geofffl @landryb @jdesboeufs pouvez vous tester avec la version "master" téléchargeable via
https://github.com/3liz/QgisCadastrePlugin/archive/master.zip

[2018-01-24 15:27] geofffl commented on #120
L'importation vient de se terminer, et elle s'est déroulée sans blocage et retour d'erreur. Bon, par contre, ma table parcelle est vide !

[2018-01-24 15:32] mdouchin commented on #120
@geofffl sous spatialite ou postgresql ? Si spatialite, via le DBManager de QGIS, est ce que la table parcelle issue du MAJIC est vide ? ou bien la table parcelle_info ? ou bien la table geo_parcelle issue du EDIGEO ?

[2018-01-24 15:45] geofffl commented on #120
Désolé j'ai été avare en détails !
- importation via postgresql
- table parcelle = peuplée
- table geo_parcelle = vide
- table parcelle_info = vide
- table proprietaire = peuplée
J'en déduis que ça coince toujours avec EDIGEO ?

[2018-01-24 15:59] mdouchin commented on #120
hum, rien à voir avec la modification que j'ai fait en tout cas, car elle concernait geo_subdsect.
Pourriez vous m'envoyer le EDIGEO (si pas trop gros) via send.firefox.com ou framadrop.org svp ?

[2018-01-24 16:29] geofffl commented on #120
Bien-sûr, je vous transmets une commune https://framadrop.org/r/wl7lr2ioqV#5np0uwhmQhUQVVVjy51wjaPIG+9Gv90RB/Gd4+KApu4=
Sinon, c’est tout le département 73 que j'importe.

[2018-01-25 08:30] geofffl commented on #120
Des nouvelles fraîches : je viens de tenter de nouveau l'import avec la version master du plugin fournie plus-haut.
Les tables restent bien vide (voir ma liste plus haut) avec postgresql. MAIS, ça fonctionne avec spatialite. Mes tables sont bien peuplées et les parcelles apparaissent !

[2018-01-25 08:44] mdouchin commented on #120
Mêmes tests et résultats pour moi : geo_parcelle vide après import sous PostgreSQL. Je cherche pourquoi.

[2018-01-25 09:00] mdouchin commented on #120
Le souci vient de la table geo_subsect qui est vide sous PostgreSQL. Je regarde pourquoi

[2018-02-05 09:17] TiphLB opened #123 "Pas de données MAJIC lues"
Bonjour,

Sous QGIS 2.16 j'ai installé la nouvelle version du Plugin Cadastre, ré-importé et re-chargé mes données en créant une BDD spatialite, tout se déroule bien mais rien faire, aucune recherche possible (commune / section / parcelle / propriétaire / ...).
L'outil "Info Parcelle" ne fonctionne pas non plus ("La couche de parcelles n'a pas été trouvée dans le projet"), hors toutes mes couches

[2018-02-07 07:24] mdouchin commented on #123
Bonjour,

Cela doit être dû à un bug connu, qu'il faut que je résolve. Est-ce que la base de données spatialites est placée dans un répertoire dont un des éléments du chemin contient un espace ?

[2018-02-07 08:22] TiphLB commented on #123
Oui, il est vrai qu'un élément du chemin contient un espace (aucun accent) mais ce chemin fonctionne très bien avec la version précédente du plugin que j'ai d'ailleurs ré-installé.

[2018-02-16 09:03] geofffl commented on #120
Bonjour à tous,
Je viens aux nouvelles concernant la table geo_subsect vide sous postgresql. Avez-vous une piste pour identifier la cause du souci ?

[2018-02-21 16:16] djeide19 opened #124 ""la couche de parcelle n'a pas été trouvée dans le projet""
Bonjour,

J'ai installé la version 1.5.0 du plugin cadastre dans QGIS (version 2.14.19 Essen). La configuration du plugin a été faite, l'import des données se passe correctement. Par contre, lorsque je souhaite utiliser "Infos parcelle", il m'affiche "la couche de parcelle n'a pas été trouvée dans le projet". Quelqu'un aurait-il une solution ?

Merci d'avance !

[2018-02-22 12:28] Ettezaz opened #125 "QGIS 2.18.16"
Depuis la mise à jour vers QGIS 2.18.16, il y a une erreur au démarrage de l'application.

ImportError: No module named _psycopg
Traceback (most recent call last):
  File "C:/OSGEO4W64/apps/qgis/./python\qgis\utils.py", line 333, in startPlugin
    plugins[packageName] = package.classFactory(iface)
  File "C:/Users/user/.qgis2/python/plugins\cadastre\__init__.py", line 26, in classFactory
    from

[2018-02-22 12:54] mdouchin commented on #125
Bonjour,
Ce bug est apparu suite à la montée de version de QGIS 2.18.15 à 2.18.16 ?
Le plugin Cadastre utilise les outils du gestionnaire de bases de données de QGIS, qui utilisent psycopg pour se connecter aux bases PostgreSQL.

Pouvez vous essayer d'utiliser les outils de QGIS : Menu Base de données > Gestionnaire de base de données pour vous connecter à la base ?

[2018-02-22 13:46] Ettezaz commented on #125
Bonjour,
Je n’avais pas la version 2.18.15, mais une 2.18 c'est certain, je ne sais plus laquelle.
Je vois bien les bases de données dans le Gestionnaire de BD.

Cependant, j'utilise très peu le plugin pour accéder à une base, il me sert uniquement à importer des EDIGEO pour en faire des SHP sur lesquels je peux travailler, la base de données n'est pour moi qu'une étape intermédiaire.

[2018-02-22 17:41] mdouchin commented on #125
Et dans le gestionnaire de base de données, si vous voyiez bien les connections, est-ce que vous pouvez double-cliquer sur une connection et vous connecter, puis lister les objets (tables, etc.).

Sinon, faire un test : ouvrir la console python (menu Extension) et taper puis valider

[code]

[2018-02-22 19:57] Ettezaz commented on #125
Il y a du y avoir un bug lors de la mise à jour, le plugin Cadastre étant le seul qui ne fonctionnait pas, j'ai cru que c'était la cause.
Maintenant tout fonctionne ! Merci.

[2018-02-22 19:57] #125 closed

[2018-02-27 09:32] fredm63 opened #126 "bug 1.5 avec ¤ dans code propriétaire"
Une parcelle dont le propriétaire public est de la forme 63113¤10208
a son relevé parcellaire complet qui s'affiche dans la 1.3, par contre dans la 1.5 le propriétaire ne s'affiche pas sur le relevé parcellaire.
La parcelle s'affiche, la sélection fonctionne, ce n'est que le pdf généré qui est incomplet.

releve_parcelle_201763113¤10208.pdf (dans la 1.3 : complet)
releve_parcelle_20176311310208_15

[2018-02-27 10:09] fredm63 commented on #111
Bonjour,
Même souci, tant dans la version 1.3 sous qgis 2.16, que dans la version 1.5 sous qgis 2.18
et ce partout où je l'ai installée

[2018-03-05 08:43] SebCasa opened #127 "pb format date lors de l'import vers postgres"
Bonjour,
j'utilise le Plugin depuis la première version sans aucun problème.
Mais depuis un bug pc j'ai tt réinstallé et migré vers postgres 10
Mais j'ai ce message :
ERREUR / ERREUR:  valeur du champ date/time en dehors des limites : « 29022009 »

-- Traitement: parcelle
INSERT INTO "TEST1mars2018".parcelle
(
 parcelle, annee, ccodep, ccodir, ccocom, ccopre, ccosec, dnupla, dcntpa, dsrpar, dnupro

[2018-03-05 09:35] mdouchin commented on #127
Bonjour,

Le souci vient des données qui contiennent une date qui n'est pas au bon format. En effet, **29022009** n'est pas une date valide : il n'y a pas de 29 février 2009, car 2009 n'était pas bissextile

Vous pourriez essayer de modifier le fichier MAJIC en cause avec un éditeur de texte et retenter l'import ?

[2018-03-05 10:36] SebCasa commented on #127
ahh même pas percuté je test
merci de la piste

[2018-03-06 15:57] clembeb opened #128 "Compatibilité du plugin avec QGIS 3"
Bonjour,

Une migration du code du plugin "cadastre" vers python 3 est-elle prévue ?
L'intercommunalité pour laquelle je travaille (Vallons de Haute Bretagne Communauté) serait éventuellement intéressée pour financer en partie ces travaux.

Cordialement

[2018-03-06 17:04] lukkas1404 commented on #127
Bonjour,

J'avais le même problème et après correction de toutes les dates abbérantes, le traitement plante à la toute fin.

Une idée ?
ci-après le message d'erreur.

_ERREUR:  la transaction est annulée, les commandes sont ignorées jusqu'à la fin du bloc
de la transaction

SET search_path = "plugin", public, pg_catalog;DROP TABLE IF EXISTS "batiment_id";DROP TABLE IF EXISTS "borne_id";DROP TABLE

[2018-03-07 06:31] SebCasa commented on #127
Tu fais flipper
j'ai 7 département a corriger j'ai pas encore terminé le premier

[2018-03-08 09:17] landryb opened #129 "Import de données depuis les geojson 'corrigés' de datagouv"
Grace à @jdesboeufs je viens de voir qu'etalab fait des 'corrections' lors de la conversion d'edigeo en geojson, car le driver edigeo d'ogr s'en tient à la norme stricte, et donc certaines geometries sont perdues/tronquées - cf https://blog.geo.data.gouv.fr/cadastre-millesime-janvier-2018-nouveautes-perspectives-a657d471a178

Vu que corriger les données à la source (bien qu'étant certainement le p

[2018-03-08 10:50] mdouchin commented on #129
Ce serait intéressant en effet. On a actuellement du code pour corriger certains soucis (par exemple les multipolygones), mais si cela pouvait être directement dans la données, ce serait mieux.

A terme, on devrait peut-être même supprimer le support de l'EDIGEO, et utiliser pour l'importer directement les GEOJSON. Qu'en penses tu ?

[2018-03-08 11:26] jdesboeufs commented on #129
Actuellement nous n'exposons que quelques couches purement géographiques dans les GeoJSON, qui sont fournis par commune ou département.

Pour les prochaines itérations nous réfléchissons aussi à fournir l'échelon feuille, dans un format JSON structuré qui expose la totalité de l'information extraite des EDIGÉO, et notamment les indications de qualité et certaines relations non géographiques.
On de

[2018-03-08 15:43] mdouchin commented on #128
Bonjour,

Je proposerai une montée de version, mais pas forcément ce premier semestre. Pour l'instant, la 3.0 n'étant pas forcément super stable, je préfère rester sur la compatibilité avec la 2.18, qui est déclarée LTR (version maintenue à long terme).

[2018-03-12 10:32] didifire commented on #124
Bonjour,

J'utilise QGIS (version 2.18.17). Je rencontre exactement le même problème que djeide19. C'est un outil que j'utilise beaucoup dans le cadre de mon travail. Le fait de ne plus pouvoir l'utiliser me cause pas mal de soucis. Je souhaite vraiment trouver une solution. Si quelqu'un a la solution je suis preneur !

Merci d'avance

[2018-03-15 15:08] ghost opened #130 "Erreur de chargement d'extension"
Bonjour,
Je travaille sur la version 2.18.17 "Las Palmas".
Je souhaite installer le plugin Cadastre pour traiter des données Majic, néanmoins le message suivant s'affiche à chaque tentative d'installation du plugin ;
"Erreur de chargement d'extension
Cette extension semble avoir des dépendances non-définies. Il a été installé mais ne peut être chargé. Si vous avez réellement besoin de ce plugin, v

[2018-03-26 09:38] loicdouillard commented on #120
Bonjour à tous,
Je confirme avoir le même problème...à savoir aucun objet dans geo_parcelle ni dans geo_subsect suite à l'utilisation du plugin cadastre version master. C'est dommage parce que ça me permettait d'aller au bout de l'import Edigeo. Pour moi l'erreur d'import venait d'un date / time hors des limites sur le geo _subsect...
Bonne journée

[2018-03-28 10:59] SebCasa commented on #127
Bon bah j'ai modifié mes fichiers sources et maintenant j'ai :
INITIALISATION
* Copie du répertoire C:\Users\s.maison.AFTRP\.qgis2\python\cadastre\scripts/plugin
0 s
STRUCTURATION BDD
Création des tables
Création des tables edigeo
Ajout de la nomenclature
10 s
MAJIC
Suppression des contraintes
- SUPPRESSION DES CONTRAINTES D'INTEGRITEES : DEBUT
- suppression clefs primaires
- SUPPRESSION DES CONTR

[2018-03-28 11:40] mdouchin commented on #127
Merci pour le retour. Sur le dernier souci, il semble que le mot de passe ne soit pas coché comme "enregistré" dans la configuration de votre connexion PostgreSQL.
Vous pouvez soit cocher cette case dans les paramètres de connexion, soit utiliser un service PostgreSQL.

[2018-03-28 12:13] SebCasa opened #131 "pb import EDIGEO"
Bonjour,
Après avoir modifier un paquet de dates pourries dans la data MAJIC III.
j'ai un bug dans l'import EDIGEO
Voici la fin de la log si quelqu'un a une idée (postgres 10.1/QGIS 2.18.16/pluggin cadastre 1.5.0)
- INDEXES
1574 s
- ANALYSES
- FORMATAGE DONNEES : FIN
1745 s
Purge des données brutes
1746 s
EDIGEO
Type de base : postgis, Connexion: data d, Schéma: 77
* Décompression des fichiers
272

[2018-03-28 13:25] SebCasa commented on #127
Merci c'est bien cela
maintenant j'ai des bug de date dans les EDIGEO

[2018-03-28 14:12] SebCasa commented on #127
Voici mon nouveau message :
INSERT INTO "a".geo_subdsect
(geo_subdsect, annee, object_rid, idu, geo_section, geo_qupl, geo_copl, eor, dedi, icl, dis, geo_inp, dred, creat_date, update_dat, geom, lot)
SELECT '2017'||'770'||SUBSTRING(idu,1,10), '2017', object_rid, idu, '2017'||'770'||SUBSTRING(idu,1,8), qupl, copl, to_number(eor,'0000000000'), to_date(dedi, 'DD/MM/YYYY'), floor(icl), to_date(dis, 'D

[2018-03-29 12:41] SebCasa commented on #127
j'ai ceci maintenant :
-- geo_subdsect
INSERT INTO "a".geo_subdsect
(geo_subdsect, annee, object_rid, idu, geo_section, geo_qupl, geo_copl, eor, dedi, icl, dis, geo_inp, dred, creat_date, update_dat, geom, lot)
SELECT '2017'||'770'||SUBSTRING(idu,1,10), '2017', object_rid, idu, '2017'||'770'||SUBSTRING(idu,1,8), qupl, copl, to_number(eor,'0000000000'), to_date(dedi, 'DD/MM/YYYY'), floor(icl), to_d

[2018-04-04 16:10] TiphLB opened #132 "Pb recherche propriétaire"
Bonjour,

L'outil de "Recherche de propriétaire" du plugin me pose soucis.
Je ne comprends pas vraiment comment est effectuée la recherche et les résultats qui me sont donnés.

1_La recherche
Je travaille pour la Communauté de communes Arc Sud Bretagne.
Si je cherche "arc", il me trouve 16 items (peu importe la casse) mais aucun n'est "Communauté de communes Arc Sud Bretagne". Idem si je tape "sud

[2018-05-03 08:24] equinton opened #133 "Plantage lors de l'import dès que le schéma devient trop volumineux"
Après avoir importé plusieurs centaines (ou milliers) de fichiers, le programme d'importation plante systématiquement à cette étape :
ERROR:  current transaction is aborted, commands ignored until end of transaction block
2018-05-03 09:21:59 CEST [8704-18] quinton@cadastre STATEMENT:  SET search_path = "cadastre", public, pg_catalog;DROP TABLE IF EXISTS "batiment_id";DROP TABLE IF EXISTS "borne_id

[2018-05-14 23:10] unmecduweb opened #134 "Erreur à sélection d'une section - recherche de lieu"
Bonjour,

Je reçois une erreur à la sélection d'une section lors de la recherche de lieux.

Pour information je n'ai pas de donnée MAJIC, est-ce le problème?
J'utilise une DB SpatiaLite

Merci d'avance, et merci pour votre travail!

Le stack trace

`Une erreur est survenue lors de l'éxécution du code Python:

TypeError: 'NoneType' object is not iterable
Traceback (most recent call last):
  File "/

[2018-05-23 14:36] renaudIDGEO commented on #134
Même problème
version de QGIS 2.18.20 (64bits)
version du plugin 1.5.0

[2018-05-29 15:22] gubrossard opened #135 "Erreur d'éxécution du code Python"
Bonjour,
J'utilise Qgis 2.18.20, le plugin cadastre à jour et une base spatialite.
Je charge une commune en édigéo et les fichiers majic du département.
Le chargement fonctionne bien avec les fichiers edigeo.
Mais lorsque je paramètre le chargement des fichiers majic au bout de 30 secondes j'ai une fenêtre d'erreur qui apparait (dont le titre est "Une erreur est survenue lors de l'exécution du cod

[2018-06-14 09:49] dede42 commented on #130
Bonjour,
Nous avons le même problème.
Quelqu'un a t'il trouvé la solution ?

Merci d'avance pour votre aide

[2018-06-25 15:22] rb973 opened #136 "filtrage à partir des communes : expression invalide !"
Bonjour,
Après importation des données dans une base PostGIS, lorsque j'essaye de charger les données, un message m'indique "filtrage à partir des communes : expression invalide ! " et aucune parcelle n'est chargée. Pourtant je n'effectue aucun filtrage et les parcelles semblent bien présentent en BD. Est-il possible de forcer le chargement de toutes les données du schéma? A défaut, existe t-il un

[2018-06-25 15:39] rb973 commented on #136
Merci de votre retour. En complément :
OS Windows 7 Professionnel pour le poste client
Version de QGIS : 2.18.15
Version du plugin Cadastre : 1.5.0

[2018-06-26 11:16] oznerol2 opened #137 "table subdsect_id (EDIGEO) contenant différents formats de dates"
Au moment de l'import ( PostgreSQL) et pendant le script 'edigeo_formatage_donnees.sql' ,  ce dernier peut s'arrêter en raison de données de dates incohérentes ( de formats divers ) dans la table subdsect_id.

une solution peut être dans ce script de rajouter en entête une fonction 'to_date_safe' , laquelle serait **utilisée à l'étape ci dessous:**
-- geo_subdsect
INSERT INTO [PREFIXE]geo_subdsect

[2018-06-27 13:05] mdouchin commented on #137
Bonjour,
J'ai déjà apporté une solution pour geo_subdsect, dans la version "master" (pas encore publiée). La solution était plus simple, basée sur une expression régulière, par exemple

[code]

Voir le SQL
https://github.com/3liz/QgisCadastrePlugin/blob/master/scripts/plugin/edigeo_formatage_donnees.sql#L56

Pouvez vous svp tester et me faire un retour ?

[2018-06-27 16:44] oznerol2 commented on #137
Bonjour,

L'expression régulière est en  effet  pertinente ;)

Néanmoins les champs ( dedi, dis, dred) sont déclarés en  type date à la constitution de la table Pgsql.

Cependant en passant par  'to_char'  , cela semble ok , test sur 2 départements ok:
CASE WHEN to_char(dis,'DD/MM/YYYY') ~ '^\d{2}/\d{2}/\d{4}$' THEN to_date(to_char(dis,'DD/MM/YYYY'), 'DD/MM/YYYY') ELSE NULL END

Très cordialement,

[2018-06-27 17:14] oznerol2 opened #138 "edigeo_create_table_parcelle_info_simple.sql"
Bonjour,

il semblerait que le champ de geo_commune de la table geo_commune ne contienne que 9 caractères et non 10?

INSERT INTO [PREFIXE]parcelle_info
SELECT gp.ogc_fid AS ogc_fid, geo_parcelle, gp.idu AS idu, gp.tex AS tex, gp.geo_section AS geo_section,
c.tex2 AS nomcommune, c.idu AS codecommune, Cast(ST_Area(gp.geom) AS integer) AS surface_geo,
gp.lot AS lot,
gp.geom AS geom
FROM [PREFIXE]geo

[2018-06-29 12:51] fosforoselrey commented on #130
Bonjour,
Merci pour cette  réponse. Malheureusement, j'ai depuis changé de matériel informatique, et le problème ne s'est (heureusement cette fois-ci) pas reproduit. Je suis donc incapable de vous donner ces éléments.

Peut-être que dede42, qui semble avoir le même souci, pourra vous en dire plus...

[2018-06-29 13:06] dede42 commented on #130
Bonjour,

voici les éléments complémentaires

système d'exploitation : Windows 7 professionnel SP1
chemin de mon répertoire utilisateur : C:\Users\andre.poulet\.qgis2\python\plugins\cadastre

QGIS installé : 2.18.19

Extension QGIS cadastre :
Version installée : 1.5.0 (dans C:\Users\andre.poulet\.qgis2\python\plugins\cadastre)
Version disponible : 1.5.0 (dans Dépôt officiel des extensions QGIS)

E

[2018-07-02 13:15] rb973 commented on #136
Bonjour,
Sans réponse, je me permets de vous relancer et de vous préciser qu'après importation des données, je n'ai que 110 tables en base PostGIS. Pour exemple, je me suis rendu compte que la table parcelle_info était absente. J'ai effectué l'importation sur plusieurs millésimes et le problème est identique. Aurie-vous une idée sur l'origine de cette anomalie?
Merci par avance.
Bien cordialement,

[2018-07-04 13:43] mdouchin commented on #127
Veuillez tester la dernière version "master", j'ai apporté des correctifs pour geo_subdsect, ainsi que pour les fichiers MAJIC

[2018-07-12 07:46] rastatom opened #139 "Erreur : no such function: to_date"
Bonjour,
Depuis la MAJ 1.5.1 je n'arrive plus à intégrer notre cadastre.
J'utilise QGIS 2.18.21 et je ne sais pas si c'est un bug de QGIS ou de l'extension.

Voici les logs :
Erreur rencontrée pour la requête:
-- geo_commune: utilisation de max et non distinct on pour compatibilite sqlite INSERT INTO geo_commune ( geo_commune, annee, object_rid, idu, tex2, creat_date, update_dat, commune, geom, lo

[2018-07-12 13:38] arteragence opened #140 "Erreur Python"
Bonjour,
Nous constatons un bug du plugin dans la partie "importer" dès qu'il faut choisir le dossier ou créer la base spatialite.
Voici le message d'erreur :
[code]
Nous avons testé sur plusieurs PC, même message d'erreur.

Bon courage

[2018-07-12 15:21] mdouchin commented on #140
Bonjour,

Pouvez vous tester le plugin, version "master_2", via téléchargement du ZIP suivant et écrasement du contenu du répertoire de `~/.qgis2/python/plugin/cadastre` par le répertoire `https://github.com/3liz/QgisCadastrePlugin/archive/master_2.zip`

[2018-07-12 15:31] mdouchin commented on #139
Bonjour,

J'ai tenté de trouver une solution élégante, compatible avec PostgreSQL et Sqlite, pour convertir les mauvaises dates (présente dans de trop nombreux fichiers MAJIC...) comme le 30/02/2018, ou encore le 31/11/2017...

Suite à ce test, j'ai dû complexifier le code qui tranforme mes requêtes PostgreSQL en SQlite pour compatibilité..

C'était une mauvaise idée, et je suis revenu là dessus.

[2018-07-12 15:40] mdouchin commented on #137
Je pense qu'il faudrait passer les types de date en text. Car je vois de plus en plus de retours de dates loufoques, comme des 30 février...

[2018-07-12 15:50] mdouchin commented on #140
LA nouvelle version 1.5.2 doit corriger le souci. Merci de fermer le bug si ok

[2018-07-12 15:50] mdouchin commented on #139
La nouvelle version 1.5.2 implémente le remplacement des format date pour MAJIC par du texte.
Merci de tester et fermer si ok

[2018-07-12 16:04] arteragence commented on #140
Je viens d'essayer de changer le répertoire et il y a toujours des bugs mais différent :
-Lorsque je sélectionne l'onglet spatialite l'erreur suivante s'affiche :

`NameError: global name 'BaseError' is not defined
Traceback (most recent call last):
  File "C:/Users/Laurian/.qgis2/python/plugins\cadastre\cadastre_dialogs.py", line 218, in updateSchemaList
    except BaseError as e:
NameError: glob

[2018-07-12 16:05] mdouchin commented on #135
Bonjour,

Il faudrait copier coller ici l'erreur Python, c'est ce qui nous permettra de comprendre le souci et de le corriger

[2018-07-12 16:06] mdouchin commented on #131
Il faut enregister le mot de passe dans votre connexion à PostgreSQL (ou bien utiliser un fichier de service )

[2018-07-12 18:16] rastatom commented on #139
Merci pour la version 1.5.2, elle fonctionne parfaitement.

[2018-07-12 18:16] #139 closed

[2018-07-12 18:30] mdouchin commented on #140
Pouvez vous svp réessayer, en supprimant le plugin cadastre depuis le gestionnaire d'extension, puis en le résinstallant ? Et fermer / relancer QGIS si besoin.
A priori, QFileInfo et BaseError sont bien défini dans cadastre_dialogs.py, cf

https://github.com/3liz/QgisCadastrePlugin/blob/master_2/cadastre_dialogs.py#L36
et
https://github.com/3liz/QgisCadastrePlugin/blob/master_2/cadastre_dialogs.py

[2018-07-13 08:04] arteragence commented on #140
Après réinstallation de qgis et du module tout fonctionne à nouveau comme il faut !
Merci pour votre aide, je ferme le bug.

[2018-07-13 08:05] #140 closed

[2018-07-13 11:07] gubrossard commented on #135
Bonjour,

Merci de votre réponse.
Je n'arrive pas à voir l'erreur, la fenêtre ne s'affiche pas. Mais j'ai
finalement réussi à créer une base de données PostGreSQL/Postgis et
importer les données edigeo et majic.

Cordialement
Guillaume

Le jeu. 12 juil. 2018 à 18:05, mdouchin <notifications@github.com> a écrit :

[2018-07-24 12:18] fred-V13 commented on #128
bonjour,

j'ai fait une première version (voir fourche) compatible 2 et 3
pourquoi ne pas faire les deux ? en effet pour plusieurs raisons j'utilise les deux versions.

https://github.com/fred-V13/QgisCadastrePlugin

[2018-07-30 09:22] oznerol2 opened #142 "pb traitement PEV cause données bati pouvante être inconsistante"
Bonjour,

Sur une donnée BATI brute telle que ci-dessous:
2400010010000403           00121   HA7 120   000024000000043000000216EP                              P 007                                              000000043     1+ 005- 005+ 000

 CASE when trim(SUBSTRING(tmp,70,9))='' THEN NULL ELSE to_number(SUBSTRING(tmp,70,9),'999999999') END AS dvlpera,

retourne une entrée invalide  ( au 70ème ca

[2018-07-30 09:37] oznerol2 commented on #142
( a priori les données brutes seraient altérées en raison d'un mélange de format 2016+2017)

[2018-07-30 14:08] mdouchin commented on #137
Oui

[2018-07-30 14:08] #137 closed

[2018-07-30 14:13] mdouchin commented on #138
Normalement, il contient 10 caractères

  4 (année)
+2 (département)
+1 (direction)
+3 (code commune à 3 chiffres)
= 10

[2018-07-30 14:19] mdouchin commented on #128
Bonjour,
Merci pour ce retour et travail. Je viens de rentrer de congés, je vais pouvoir tester.

Avant de partir, j'avais aussi bien avancé de mon côté sur la migration:
* branch master = compatible QGIS 3
* branche master_2 = pour QGIS 2. Si des améliorations / modifs sont apportées ici, j'avais prévu de les merger sur la branche master

J'avais souhaité bien séparer les 2 branches, pour ne pas

[2018-07-30 14:22] mdouchin commented on #128
Le premier travail pour QGIS 3 est dans la branche master_dev et non master (j'avais prévu de fusionner une fois les tests et fonctionnalités ok)

[2018-07-31 06:04] fred-V13 commented on #128
Bonjour

Merci pour votre retour. Je ne suis pas expert github et j'avais pas compris master_2 pour qgis 2 j'ai pris la version la plus récente (1.5.2)
Il y a 25 "if" dans l'ensemble du code, obligatoire car les api ont un peu changées mais globalement à part des changements de noms de classe il y a pas trop de changement. (et python 3 qui est plus strict)

J'ai commencé par faire une version QGIS

[2018-07-31 08:57] mdouchin commented on #128
J'avais pensé garder "master" pour QGIS 3, et c'est pour cela que master_2 a été créée (et correspond au plugin actuel 1.5.2 pour QGIS 2). Mon coeur balance entre les 2 solutions (j'ai hésité aussi). Je vais tester votre version, et je vais peut-être vous rejoindre sur le coup d'une seule branche pour les 2 QGIS. J'aime pas trop la taille des imports dû aux 2 versions, mais on pourra toujours nett

[2018-07-31 09:19] fred-V13 commented on #128
tout a fait on peut aussi sortir les imports python style import re, tempfile etc...
le tout c'est de garder une clef de lecture style QGISVERSION la variable global qui permet avec un editeur de texe en recherche (notepad++ par ex) de rapidement passer sur les différences de version (et de nettoyer rapidement quand plus de 2.xx)

[2018-08-07 09:30] landryb opened #143 "doublons dans la table geo_parcelle"
Cf georchestra/cadastrapp#408, et probablement lié au commit 549a1a36 dans le modèle QGIS, j'ai des doublons à l'import dans la table `geo_parcelle`.

[code]

Suite à ce commit je pense qu'il manque un DISTINCT ici: https://github.com/3liz/QgisCadastrePlugin/blob/master/scripts/plugin/edigeo_formatage_donnees.sql#L80

si je l'ajoute, j'ai bien le même nombre de parcelles dans les tables `parcelle`

[2018-08-09 05:53] landryb commented on #143
Avec ma PR, il n'y a a priori plus de doublons dans les tables `geo_parcelle` et `parcelle_info` après l'import de 2 départements:
[code]

[2018-08-13 09:24] julienrascle opened #145 "Automatisation import cadastre"
J'aimerais automatiser l'import des données cadastrales grâce à un script python autonome.
Quelle serait la démarche à suivre ?

Merci d'avance

[2018-08-13 11:07] mdouchin commented on #128
J'ai plutôt fait le choix de travailler sur une version QGIS3 seule. On ne fera dans la master_2 que des modifications pour la compatibilité des MAJIC 2018 et 2019.

Je travaille donc activement sur la branche master_dev, que je fusionnerait sur la branche master une fois les choses à peu près OK.

J'avais déjà pas mal travaillé de mon côté. Je m'aide aussi de ton travail pour les choses pas encor

[2018-08-13 11:40] fred-V13 commented on #128
oui désolé pour les commits je suis pas un expert github...
pas de soucis cela signifie que la version qgis2 est juste maintenue ?
ça me convient car je migre mes utilisateurs sur la 3.

Par contre fait signe quand une version "3 "stable 3liz sera prête, je souhaiterais rajouter la possibilité d'aller chercher les données sur un serveur OGC (WFS) via directement les couches ou via couches virtuell

[2018-08-13 16:14] mdouchin commented on #128
Je viens de pousser plusieurs commit. Merci à tous de tester la branche master_dev et de faire des retours ici.

Vous pouvez télécharger le zip et l'installer dans Qgis 3
https://github.com/3liz/QgisCadastrePlugin/archive/master_dev.zip

[2018-08-14 05:57] fred-V13 commented on #128
A priori et sauf erreur les svg on un problème (exemple mur fossé etc...)
il y a des ??? au lieu des images.
QGIS 3.2 / WINDOWS
Sinon RAS

[2018-08-14 15:40] mdouchin commented on #128
Merci pour le retour.
Je viens de pousser un nouveau commit pour éviter un souci d'encodage pour certains fichiers.
Je regarde et corrige le souci des SVG asap

[2018-08-17 15:47] mdouchin commented on #128
La branche de développement master_dev a été supprimée et mergée dans master. J'ai fait plusieurs tests sous Linux et Windows, et pour moi on maintenant a une iso-fonctionnalité du plugin sous QGIS 3.
Je vais pousser la 1.6.0 comme expérimentale.

Je ferme cette demande, on en ouvrira d'autres si besoin

[2018-08-17 15:47] #128 closed

[2018-08-20 08:53] mdouchin commented on #145
@landryb a une branche sur sont github qui permet de réaliser ce type de tâche. Il faudrait voir le travail à réaliser pour que le plugin intègre cette possibilité

[2018-08-20 09:43] landryb commented on #145
cf https://github.com/landryb/QgisCadastrePlugin/tree/import_cli

[2018-08-20 09:44] landryb commented on #145
surtout https://github.com/landryb/QgisCadastrePlugin/blob/import_cli/README_cli.md en fait..

[2018-08-20 12:11] rb973 opened #146 "Table parcelle_info absente"
Bonjour,
Lors de l'import des données EDIGEO (+ MAJIC) concernant la Guyane, la table "parcelle_info" n'est pas créée. Les opérations d'importation semblent s'interrompre ensuite. Bien que diverses table soient créées en BD, en découle un dysfonctionnement du module. Auriez-vous une idée de l'origine du problème?
Pour info, voici ma config
- QGIS 2.8.18,
- module cadastre dans sa version 1.5.2,
-

[2018-08-21 13:06] MaelREBOUX opened #147 "Framacalc des abbréviations vides"
Dans le wiki il y a une page : https://github.com/3liz/QgisCadastrePlugin/wiki/abbreviations_releves
qui pointe vers un framacalc qui a du expirer depuis longtemps car vide.

Il faudrait supprimer cette page et, dans le meilleurs des mondes, renvoyer vers une doc à jour...
dans le cadre de Cadastrapp / georchestra on ambitionnait de faire une telle page sur une doc en ligne.

TODO....

[2018-08-21 14:00] mdouchin opened #148 "Import - Support du millésime 2018"
@landryb j'ai ajouté le support du millésime 2018 dans la branche master (QGIS3). Si tu as déjà des fichiers, pourrais tu tester stp ?

[2018-08-21 14:02] mdouchin commented on #148
C'est ajouté aussi à la branche master_2

[2018-08-21 17:37] mdouchin commented on #148
commits correspondants : 3ff8080924f1ab27008648d4d258ad5eb0cffaa5 et c8c011a578c24025428b19f0e3350ed726d5bf66

[2018-08-21 18:15] rb973 commented on #146
Bonjour,
Je viens de tester sur QGIS 3.2. Le problème est identique.
Merci par avance.

[2018-08-21 18:31] mdouchin commented on #146
Si l'import s'est mal passé, il est normal que la suite ne fonctionne pas. Pouvez vous svp retenter un import dans un nouveau schéma postgresql, et copier coller le contenu du log d'import (ne pas faire de copie d'écran svp)

[2018-08-22 07:11] landryb commented on #148
Je t'avoue que dans l'immédiat, vu le peu de différences j'avais pris les scripts 2017 vu qu'a priori les changements n'impactaient pas l'utilisation que l'on fait de la base `qadastre` dans `cadastrapp`, mais je vais faire un test d'import sur une commune en local.

Dans un premier temps, j'ai essayé d'installer 1.6.0 dans qgis 3.2.1, et le chargement du code m'a insulté:
[code]

j'ai installé la

[2018-08-22 07:26] mdouchin commented on #148
Oups en effet, j'avais laissé traîner ces imports de module future. Je vais corriger cela !

[2018-08-22 07:57] MaelREBOUX commented on #148
ha ben tu m'as gratté su https://github.com/3liz/QgisCadastrePlugin/commit/c8c011a578c24025428b19f0e3350ed726d5bf66#diff-a6a8b0fbe0845ac6a429200e86e3d133

J'avais commencé à le faire pour prendre ma part ^^

merci

[2018-08-22 08:01] mdouchin commented on #148
Désolé @MaelREBOUX j'étais en mode "robot", à force d'habitude de bosser quasi seul sur ce projet. Faut que je change la gouvernance du plugin pour mieux accueillir les bonnes volontés ici présentes ! Notamment accepter plus vite les PR.

[2018-08-22 08:05] MaelREBOUX commented on #148
Pour ma part j'ai fait un git clone directement dans le répertoire \.qgis2\python\plugins\ et switcher sur la branche master_2.
QGIS 2.18 semble l'accepter. Enfin je suppose car j'ai pu mettre le millésime 2018.

Import en cours.

Je testerai en QGIS 3 sous Ubuntu ensuite.

[2018-08-22 08:06] MaelREBOUX commented on #148
Oups : erreur

[code]

[2018-08-22 08:10] mdouchin commented on #148
J'ai oublié le END !
Remplacer `AS valplaf` par `END As valplaf`
je corrige et pousse

[2018-08-22 08:11] MaelREBOUX commented on #148
oui : vu sur https://github.com/3liz/QgisCadastrePlugin/blob/master_2/scripts/plugin/2018/majic3_formatage_donnees.sql#L410

[2018-08-22 08:30] landryb commented on #148
Pareil, import OK et chargement de la db sqlite OK, sur une commune seule (63216)

[2018-08-22 08:32] MaelREBOUX commented on #148
J'ai commencé à regarder les données. je vois qu'il manque des valeurs dans le domaine gnextl. je vais faire une PR.

Erreur sur  clic sur parcelle :

[code]

[2018-08-22 08:37] landryb commented on #148
J'ai des erreurs sur le chargement des styles, car la table `layer_styles` n'existe pas dans la db spatialite, mais a priori ca n'empeche pas l'affichage des couches.
[code]

Pas de souci a l'utilisation du clic sur parcelle, mais je suis en qgis3/python3..

Bref, en ce qui concerne la problématique 'majic 2018', a part la coquille trouvée (END manquant) pour moi ca parait bien.

[2018-08-22 08:42] mdouchin commented on #148
Merci pour vos retours.

@MaelREBOUX
* au sujet de gnextl, je veux bien un PR. Je fermerai cette demande ensuite.
* au sujet du bug d'encodage, merci d'ouvrir un ticket dédié en précisant version de QGIS et OS stp

[2018-08-22 08:47] mdouchin commented on #148
@landryb J'ai créé une branche https://github.com/3liz/QgisCadastrePlugin/tree/remove_future . Peux tu tester et valider que c'est OK chez toi avec ton QGIS 3?

[2018-08-22 08:50] MaelREBOUX opened #149 "[QGIS 2 / master_2] clic sur parcelle produit une erreur"
- QGIS 2.18.23 64 bit sur Windows 7 64 bit
- code du plugin = branche master 2, HEAD = 46beb4288c930aa8097c5fe55867a33d5d09f6cd
- BD PostGIS en millésime 2018

impossible d'obtenir la fiche info parcelle : erreur :

[code]

Même erreur reproduite sur des données millésime 2018 mais importées en version 1.5.3.

[2018-08-22 08:51] MaelREBOUX commented on #148
@mdouchin désolé j'avais mal regardé. En l'état de ce que je peux voir des données ça m'a l'air OK. Domaines et valeurs (vides...) bien lues.

Comme je le disais dans https://docs.google.com/document/d/1eQcf-k0MEeeLLJZ09Qse1xnoJkI3xe3JD0uwV36Hp4Q  l'article 52 reste pour moi pour l'instant un mystère.

ticket #149 créé

[2018-08-22 09:36] mdouchin commented on #148
merci @landryb je pousse sur master

[2018-08-22 12:55] rb973 commented on #146
Merci de votre retour. Voici donc
**Le message d'erreur**
ERREUR:  la transaction est annulée, les commandes sont ignorées jusqu'à la fin du bloc
de la transaction
**Le détail de la requête**
SET search_path = "ds_cadastretest", public, pg_catalog;DROP TABLE IF EXISTS "batiment_id";DROP TABLE IF EXISTS "borne_id";DROP TABLE IF EXISTS "boulon_id";DROP TABLE IF EXISTS "commune_id";DROP TABLE IF EXIS

[2018-08-23 08:03] MaelREBOUX commented on #148
@landryb j'ai enfin un QGIS 3 sous Ubuntu mais il est où le dossier utilisateur de QGIS maintenant ? j'ai pas de .qgis3 dans mon home.

[2018-08-23 08:26] landryb commented on #148
`.local/share/QGIS/QGIS3/profiles/default`

[2018-08-23 09:13] MaelREBOUX commented on #148
@landryb vu merci.

@mdouchin
Je viens de tester sous QGIS 3 branche master et tout est passé. je retrouve les mêmes valeurs que sous QGIS2 branche master_2.

[2018-08-23 09:49] landryb commented on #143
Fixé par 8425b32, cf #143

[2018-08-23 09:49] #143 closed

[2018-08-23 14:06] mdouchin commented on #149
Est-ce que cette erreur était déjà présente dans des versions précédentes ? Ou avec le millésime précédent.
J'aimerais savoir si c'est les fichiers MAJIC qui ont changé ou si c'est le plugin qui a changé.

[2018-09-03 10:36] MaelREBOUX commented on #148
@mdouchin on vient de trouver un problème dans la lecture ds fichiers Majic III. Il y aune modification de structure dans l'article 50 des propriétés bâties.

Un FILLER a sauté et les valeurs dsupk1 commencent à 72 au lieu de 100 en 2017.
**Cette modification de structure est non signalée dans la note de version !**

**L'impact est que tout est à vide ou null ou 0 pour cs 2 attributs.**

cf  pour

[2018-09-03 11:30] mdouchin commented on #148
Merci Maël pour cela. Je regarde.
Au sujet des PR, pas besoin de faire sur la branche master_2, je ferai le cherry pick du commit de la master.

[2018-09-03 11:41] mdouchin commented on #148
J'ai fussionné le PR sur master, et fait le cherry-pick sur master_2
@MaelREBOUX merci !

[2018-09-03 14:54] mdouchin commented on #149
Je viens de pousser des correctifs. @MaelREBOUX peux tu stp tester pour QGIS 2 et QGIS 3 si tout fonctionne bien, avec le millésime 2017 et avec le 2018 ?

[2018-09-04 08:27] brossardm commented on #149
Bonjour à vous.
J'ai exactement la même erreur (interrogation des parcelles et éditions de relevés) avec le plugin en version 1.5.0. et 1.5.3 et les versions de Qgis 2.18.16, 2.18.17, 2.18.19, 2.18.23.
Par contre avec Qgis 3.20 et le plugin en 1.6.0, il n'y a pas de problème.

[2018-09-04 08:41] mdouchin commented on #149
@brossardm pouvez-vous tester avec QGIS 2.18 et la version de dev actuelle pour QGIS 2, soit:
https://github.com/3liz/QgisCadastrePlugin/archive/master_2.zip

Si c'est ok, je sors une version 1.5.4 et 1.6.1 dans la journée pour corriger ce souci (et ajouter le support du millésime 2018)

[2018-09-04 08:49] brossardm commented on #149
Je viens de tester avec la version 2.18.23 et c'est ok !
Merci ;-)

[2018-09-04 15:03] mdouchin commented on #149
Versions 1.6.1 et 1.5.4 sorties et poussées sur le dépôt d'extensions QGIS

[2018-09-04 15:03] mdouchin commented on #149
Merci de fermer la demande si OK

[2018-09-04 15:18] MaelREBOUX commented on #149
salut. Désolé pas pu tester avant ta release.

Je viens de tester et ça refonctionne.

[2018-09-04 15:18] #149 closed

[2018-09-05 14:28] MaelREBOUX opened #152 "Import - Support du millésime 2018 : nouvel article 52"
les fichiers BATI contiennent dorénavant un nouvel article 52 portant sur les lissages des locaux révisés / Descriptif des quotes-parts de lissage (locaux révisés).

![screenshot296](https://user-images.githubusercontent.com/6370443/45099847-9156e780-b128-11e8-8acd-53130dde5deb.png)

2 exemples de valeurs :

```3500470470005070           00152   +0000000002 +0000000000 +0000000000 +0000000001 +000

[2018-09-05 14:30] MaelREBOUX commented on #148
@mdouchin @landryb : il reste à traiter le nouvel article 52. Je viens de faire une nouvelle issue #152 à part parce que c'est plus conséquent que les petits ajustements faits jusqu'à présent.

@mdouchin : je veux bien d'un échange tel pour que tu m'expliques dans le détail le mécanisme de chargement. Je pense que je suis pas loin d'avoir compris mais je veux bien être aiguillé STP.

[2018-09-06 12:38] cam1000 opened #153 "QGIS 3.2: Plugin cadastre : erreur import des fichiers via ogr2ogr"
Bonjour,

J'utilise régulièrement le super plugin cadastre pour importer les données MAJIC/EDIGEO dans une base de données PostGIS.
J'ai reçu de la part de la DGFIP les données MAJIC et j'ai récupéré sur cadastre.data.gouv.fr mes feuilles EDIGEO.

Je lance le processus mais une erreur survient.

j'utilise QGIS 3.2, et du coup la version 1.6.1 du plugin.
J'ai également essayé de lancer le plugin su

[2018-09-17 14:10] pedrogeo commented on #107
Bonjour,

Je suis en train d'importer le cadastre (edigeo et majic 2018) pour un département entier et le processus d'import se bloque lors de la partie "geo_parcelle". Je travaille avec une base Spatialite, Qgis 2.18.23 et plugin cadastre v. 1.5.4

Il n'y a aucun message d'erreur (le curseur windows tourne sans fin - je l'ai laissé tourner plus d'une nuit à partir de l'étape "geo_parcelle" sans u

[2018-09-18 15:05] pedrogeo commented on #107
J'ai poursuivi mes investigations en faisant un import dans une base PostgreSQL 9.6.10 et cette fois-ci le log de la fenêtre d'import est un peu plus explicite :
_Erreur - L'import des données via OGR2OGR a échoué: FAILURE: Unable to open datasource..._

Il m'indique qu'il n'a pas pu importer certains fichiers en base car il ne les trouve pas. En fait, certaines feuilles n'ont pas été extraites. J

[2018-10-03 12:26] Fred-PF opened #154 "Infos propriétaire absentes du relevé parcellaire"
Bonjour,

L'outil Informations parcelle renvoie bien l'identification du propriétaire telle qu'elle figure dans la table parcelle_info, mais dans l'édition pdf du relevé parcellaire il y a toutes les informations sauf celle du propriétaire.

Ce problème m'était déjà arrivé mais je ne me souviens plus de la solution.

Cordialement
Frédéric

QGIS 2.18.3
Cadastre1.5.4
PgAdmin 4 V3.0
PostgreSQL 10

[2018-10-03 12:36] Fred-PF commented on #154
Complément : même situation pour le relevé de propriété

[2018-10-04 06:54] mdouchin commented on #154
Je viens de pousser une correction de bug sur la branche master_2 pour QGIS 2 et master pour QGIS3
https://github.com/3liz/QgisCadastrePlugin/commit/632e5e0a613dea3ea7269b10d34a920159dcae8a

Vous pouvez tester soit en reportant la modification dans votre fichier `templates/proprietaires_line.tpl.sql` soit en téléchargeant la version master_2 ici
https://github.com/3liz/QgisCadastrePlugin/archive/m

[2018-10-04 07:34] Fred-PF commented on #154
Ça marche nickel
Merci beaucoup

[2018-10-04 08:09] mdouchin commented on #154
ok merci pour le retour

[2018-10-04 08:43] SebCasa commented on #154
Ok pour moi aussi

[2018-10-05 10:02] djes opened #155 "Recherche et noms de fichiers avec espace"
Quand la base spatialite est dans un dossier contenant des espaces, la recherche ville/section/parcelles ne fonctionne pas.

[2018-10-08 07:06] sniogret commented on #153
Bonjour,
J'ai également la même erreur avec qgis 3.2,  la version 1.6.1 du plugin et les données majic 2018/edigeo...
Pourtant, les tables semblent bien peuplées (j'ai fait quelques select count et le nombre de lignes est assez similaire à 2017)...
Si j'essaye de charger les données, qgis 3.2 plante..
Si vous pouviez une solution pour résoudre ce dysfonctionnement, ça serait cool ;-)
Merci par ava

[2018-10-10 06:46] cam1000 commented on #153
Bonjour,

J'ai réussi à trouver le problème me concernant, est-ce le même pour vous ?
J'ai un fichier de configuration qui n'était pas bien renseigné, .pg_service.conf et le plugin cadastre ne parvenait pas à interroger la base.
J'ai ajouté l'user, le password, et le sslmode et depuis ça fonctionne.

Cordialement

C.

[2018-10-10 08:01] MaelREBOUX commented on #50
@mdouchin : on ne trouve plus le modèle conceptuel qui était là encore en juillet dernier.
http://demo.3liz.com/plugin_cadastre/schema_cadastre.png

Si tu nous explique comment il est généré on peut peut-être te le pousser ?

[2018-10-10 08:45] mdouchin commented on #50
J'utilise aussi Schemaspy pour d'autres projets. Je vais pousser dans un dépôt github dédié la documentation du plugin, pour ne pas faire grossir le dépot du plugin.

[2018-10-10 10:16] tufftuff93 opened #156 "doublons "geo_parcelle" dans la table geo_parcelle"
Bonjour,

Sous qgis 3.2.3, après avoir importer les données majic et edigeo au format spatialite avec le code source en date du 10/10/18:

La géographie des parcelles doublonne possiblement dans la table geo_parcelle. C'est mon cas pour 23140 parcelles sur 226226 id de geo_parcelles uniques.

Pour les remonter:
select *
from geo_parcelle
where geo_parcelle in (
	select geo_parcelle
	from geo_parce

[2018-10-12 08:00] sniogret commented on #153
Bonjour,

Trouvé !
En fait ma config était bonne, seulement j'utilisais une authentification cryptée et donc ogr2ogr ne parvenait pas à créer les données edigeo...
Cordialement,

[2018-10-13 08:10] mdouchin commented on #156
Merci pour ce retour. Je vais proposer un correctif

[2018-10-13 09:40] mdouchin commented on #156
Bonjour,

Je ne comprends pas bien d'où vient le souci. Voici la requête qui ajoute des données à geo_parcelle, une fois compilée (remplacement des fonctions postgresql par un équivalent sqlite, et des [xxx] par les bonnes valeurs. J'ai mis ici 123 pour la concaténation code département et direction, mais vous pouvez bien sûr remplacer par les bonnes valeurs.

[code]

Sur mon test, après import en

[2018-10-15 07:10] mdouchin commented on #156
Hum, j'avais testé ave des données de edigeo_rel vidée. Je reteste...

[2018-10-15 09:08] mdouchin commented on #156
@tufftuff93
Pouvez-vous svp tester le plugin version master_2 ? Le commit 8e88623 résout normalement le problème.
Vous pouvez tester plus "simplement" en remplaçant le script `edigeo_formatage_donnees.sql` par la version https://github.com/3liz/QgisCadastrePlugin/blob/8e88623c215fae1b4c2c7da30cb81ca43ec107e2/scripts/plugin/edigeo_formatage_donnees.sql

[2018-10-15 10:00] tufftuff93 commented on #156
Résolu,
Je retrouve bien les 226226 parcelles identifiées de manière unique.

Bonne journée à vous.

[2018-10-15 10:03] mdouchin commented on #156
Très bien ! Merci pour votre retour et votre aide. Je vais publier cette semaine une version 1.5.5 et 1.6.2 avec cette correction de bug.

[2018-10-16 11:59] MaelREBOUX commented on #50
+1 : il faut qu'on fasse pour Cadastrapp depuis.. hum hum

[2018-10-17 08:57] DelazJ opened #157 "Doublons dans la table parcelle (pas geo_parcelle)"
Bonjour,
J'ai bien vu #156 et les nouvelles versions publiées (mais pas testé car je veux m'assurer que ça marche avant de repasser une aprèm sur une intégration de données) mais je pense que mon bug est différent: mon problème de doublon dans ma Bd Postgis se porte sur la table parcelle et pas geo_parcelle (sur un millésime 2018).

`select * from geo_parcelle `: 1193087 et en exécutant un having

[2018-11-19 14:29] benjaminsaut opened #159 "Erreur import MAJIC 2018 "no such table: pevlissage""
**Description du bug**

Bonjour, il m'est impossible d'importer les fichiers MAJIC millésimes 2018 du à l'erreur "no such table: pevlissage". Auparavant pas de soucis avec le millésime 2017.

Merci d'avance pour votre aide.

Ci-dessous le log du plugin Cadastre :

INITIALISATION
* Copie du répertoire C:\Users\BSA\.qgis2\python\plugins\cadastre\scripts/plugin
0 s
MAJIC
Suppression des contraintes
-

[2018-11-19 16:13] mdouchin commented on #159
En effet, j'ai ajouté une nouvelle table pour gérer le PEV lissage du MAJIC 2018, et cela pose souci si vous réimportez des données sur un schéma créé avant la dernière version.

Pouvez-vous tenter un import sur un nouveau schéma svp ?

[2018-11-19 17:46] benjaminsaut commented on #159
Merci beaucoup cela fonctionne ! Effectivement, j'ai crée un nouvel base indicée 2018. En relisant le guide conseillait bien de créer de nouveaux schémas pour les nouveaux millésimes, j'avoue être assez débutant dans le domaine. Merci encore !

[2018-11-19 17:46] #159 closed

[2018-11-26 09:04] MaelREBOUX opened #161 "[import] Libellé des types des voies en entier"
**Description de la demande**

Dans les données et donc dans les sorties (bordereau parcellaire / relevé de propriété) les types de voies sont en abrégés pour les adresses de parcelles ou les propriétaires.
Exemple :
![image](https://user-images.githubusercontent.com/6370443/49003526-5f22b800-f162-11e8-91de-b076288d88ea.png)

Voici un extrait de la table **voie**

![screenshot093](https://user-ima

[2018-12-07 12:54] benjaminsaut opened #162 "Erreur import MAJIC 2018 "table ll already exists""
**Description du bug**

Bonjour, l'import de données MAJIC 2018 ne fonctionne pas alors que cela a fonctionné juste avant pour d'autres communes du même département sur la même base spatialite dédiée à 2018, à cause de l'erreur "table ll already exists". Merci d'avance pour votre aide.

**Log**

Ci-dessous le log du plugin Cadastre

[code]

Recopier ci-dessous l'erreur Python de QGIS

[code]

**En

[2018-12-12 07:18] mdouchin commented on #162
Merci pour ce rapport de bug. Je vais proposer rapidement une correction

[2018-12-12 09:33] benjaminsaut commented on #162
Entendu merci à vous

[2018-12-13 08:45] Cantalou15 opened #163 "Les outils de recherche ne fonctionnent pas"
Windows 7
QGis 3.4.2
Plugin Cadastre 1.6.2

Les outils de recherche de lieux (listes déroulantes par commune et section, ...) ne fonctionnent pas avec QGis 3.

Les couches sont bien chargées lors du "chargement des données", mais il n'est pas possible d'utiliser les listes déroulantes avec la version 3.2 de QGis alors tout fonctionne avec la version 2.18 installée sur le même poste.

Le journal de

[2018-12-14 10:13] lbartoletti opened #164 "Les parcelles ne s'affichent pas dans QGis 2"
**Description du bug**

Bonjour,
Dans QGis 2, l'import des données cadastre fonctionnent mais les parcelles sont invisibles à cause d'un problème de style.

Le problème vient de l'expression `isselected("Parcelles")` qui est une fonction de QGis 3 mais pas de QGis 2. Toutefois, il est possible d'avoir cette fonctionnalité en installant le plugin "Expresison +" qui contient cette fonction.

**Envir

[2019-01-02 13:02] mdouchin commented on #164
Normalement, lors du chargement, le plugin applique le fichier QML `parcelle_info.qml` situé dans le répertoire `styles/classique` . Je ne trouve pas de référence à `isselected` dans ces fichiers.
Comment avez-vous chargé les données cadastrales svp ?

[2019-01-02 13:10] mdouchin commented on #163
Je n'ai pas de souci de mon côté. Pourriez vous svp faire le test suivant

* Ouvrir QGIS
* Ouvrir la console Python via le menu Extensions
* Charger des données cadastre avec l'outil de chargement

D'autres questions:

* Est-ce que la console affiche des message d'erreurs ?
* Est-ce que QGIS affiche des messages d'erreurs dans le panneau de messages (menu Vue / Panneaux / Fenêtre de message )
* Qu

[2019-01-02 13:30] mdouchin commented on #157
La table parcelle est remplie à partir des données MAJIC. S'il y a doublon, c'est la plupart du temps à cause des données MAJIC qui se trouvent en doublon dans le répertoire source précisé lors de l'import. Par exemple, il existe un fichier ZIP (ou TAR ou TAR.GZ) au même endroit que les mêmes fichiers décompressés.

Est-ce le cas chez vous ?

[2019-01-02 13:32] mdouchin commented on #156
version publiées le 16/10/2018

[2019-01-02 13:32] #156 closed

[2019-01-02 14:58] mdouchin commented on #155
Bug reproduit et compris. Ce sera corrigé dans la prochaine version

[2019-01-02 15:07] mdouchin commented on #154
je ferme. Le correctif est dans les versions 1.5.5 et 1.6.2

[2019-01-02 15:07] #154 closed

[2019-01-02 15:08] mdouchin commented on #153
merci pour vos retours. Je ferme

[2019-01-02 15:08] #153 closed

[2019-01-02 15:16] mdouchin commented on #152
Les données de l'article 52 sont bien importées dans la table `pevlissage`, voir

* structure : https://github.com/3liz/QgisCadastrePlugin/blob/master/scripts/plugin/commun_create_metier.sql#L420
* import : https://github.com/3liz/QgisCadastrePlugin/blob/master/scripts/plugin/2018/majic3_formatage_donnees.sql#L559

Merci de vérifier si les informations stockées sont cohérentes avec ce qui attendu,

[2019-01-02 15:20] mdouchin commented on #146
Il faudrait voir si il n'y a pas une requête en erreur

* dans les logs de PostgreSQL. Sous Linux, c'est dans /var/log/postgresql/
* dans la fenêtre de message de QGIS, sous l'un des onglets

Est-ce que la table `parcelle_info` est bien présente dans votre schéma ?

[2019-01-03 14:42] mdouchin commented on #120
Pouvez vous svp retester, avec pour QGIS 2 la version de la branche master_2 et pour QGIS 3, la version de la branche master, et me faire un retour svp ?

[2019-01-07 09:45] benjaminsaut commented on #162
Bonjour,

merci pour votre réponse et le développement, entre temps j'ai intégré tout le département en bloc sur une autre base spatialite et cela fonctionne bien. Je testerai la requête si un problème d'import se reproduit.

Bien cordialement

[2019-01-07 20:27] rb973 opened #165 "[interface] confusion "année" <> 'millésime'"
L'attribut "année" présent dans de nombreuses tables n'est pas documenté. J'ai l'impression qu'il correspond à la version du format définie lors de l'importation des données en BD PostgreSQL, n'est-ce pas?

Si c'est le cas, comme il n'est pas possible de lui spécifier une année antérieure à 2012 depuis le module cadastre de QGIS, et que cette date risque d'induire en erreur nos chargés de mission

[2019-01-08 08:29] kbdl21 opened #166 "La recherche cadastrale ne fonctionne pas sous QGIS 3.4.2."
**Description du bug**

Bonjour,
dans QGis 3.4.2, le chargement des données via le plugin fonctionne correctement et elles s'affichent normalement dans la fenêtre de visualisation de Qgis, mais, dans le panneau "Cadastre - Outils de recherche", aucune donnée n'est disponible (les zones 'Commune', 'Section', 'Parcelle' sont vides).

La méthode d'accès aux données cadastrale que j'utilise est la mêm

[2019-01-08 10:45] mdouchin commented on #166
Bonjour,

Si vous utilisez Spatialite, y a-t-il un espace dans le chemin complet du fichier de base de données ? J'ai corrigé très récemment dans le code ce souci. Je publierai une nouvelle version cette semaine.

[2019-01-08 14:57] mdouchin commented on #166
Merci de tester avec la nouvelle vesion 1.7.0 et me dire si c'est ok

[2019-01-09 06:38] kbdl21 commented on #166
Bonjour,
c'est parfait, ça fonctionne parfaitement.

Il reste juste le petit bug qui existait déjà dans les versions précédentes qui impose, lorsqu'on veut "**Exporter le relevé parcellaire**" (bouton pdf à droite de la case parcelle dans "Recherche des lieux") de faire une "**Recherche de propriétaire"**, c'est à dire de rentrer 3 caractères dans la zone "**Nom**".

Merci pour votre réactivité.

[2019-01-09 06:38] #166 closed

[2019-01-09 08:08] kbdl21 opened #167 "Export de relevé parcellaire, fonctionne après recherche par nom seulement"
**Description du bug**
Bonjour,
lorsqu'on veut "Exporter le relevé parcellaire" (bouton pdf à droite de la case parcelle dans "Recherche des lieux") de faire une "Recherche de propriétaire", c'est à dire de rentrer 3 caractères dans la zone "Nom". Tant que cette recherche fictive n'a pas été faite, le bouton "Exporter le relevé parcellaire" reste inactif.

**Reproduire le bug**
1. Les données cada

[2019-01-09 17:07] Mavialle commented on #50
Bonjour,

Du coup est-il possible de trouver la dernière version du MCD en ligne ? Si oui, où doit-on aller ?

Merci en tout cas pour tout le travail fait autour de ce plugin, il est vraiment top !

[2019-01-11 08:37] rastatom commented on #163
J'ai le même problème que toi avec une base SpatiaLite, QGIS 3.4.2, plugin 1.6.2.

[2019-01-11 10:59] mdouchin commented on #163
@rastatom cela a été corrigé normalement, version 1.7.0 pour QGIS 3 et 1.5.6 pour QGIS 2

[2019-01-11 11:04] rastatom commented on #163
Effectivement, merci !

[2019-02-01 14:58] Cantalou15 commented on #163
Je confirme que c'est tout à fait opérationnel pour QGis3 et plugin 1.7.0. Merci aux développeurs... qui sont plus réactifs que moi !

[2019-02-01 14:58] #163 closed

[2019-02-05 15:48] oznerol2 opened #169 "pb arret du script cause champs manquants ds parcelle_id"
**Description du bug**

les champs p.tex2, p.codm sont manquants dans la table p.parcelle_id  au moment de la requette suivante:

INSERT INTO "dep01".geo_parcelle
(geo_parcelle, annee, object_rid, idu, geo_section, geo_subdsect, supf, geo_indp, coar, tex, tex2, codm, creat_date, update_dat, geom, lot)
SELECT DISTINCT '2018'||'010'||p.idu, '2018', p.object_rid, p.idu, '2018'||'010'||SUBSTRING(p.idu

[2019-02-06 11:09] oznerol2 commented on #143
Bonjour,

je confirme les doublons ogc_fid dans la table geo_parcelles qui empêche le script d'arriver a son terme notamment pour la création de la table parcelle_info, toujours avec les derniers plugins.

Cdt,

[2019-02-08 10:07] Mavialle commented on #50
Bonjour,

Excusez-moi de relancer mais est-il possible de récupérer quelque part la dernière version du MCD en ligne ? J'en aurais besoin pour paramétrer des droits d'accès utilisateurs (en fonction de si l'utilisateur travaille sur telle ou telle commune, il ne pourra accéder qu'aux données de sa commune).

Je vous remercie d'avance pour votre aide.

[2019-02-14 09:03] Antoine25500 opened #170 "Recherche parcelles et contenance cadastrale"
**Description du bug**

Bonjour

Après import des données via le plugin et la création d’une BDD spatialite,

J’ai des problèmes avec le plugin cadastre :

Dans l’onglet recherche du cadastre je peux sélectionner la commune et les sections mais je n’ai pas le choix pour les parcelles.

Lors de la recherche des parcelles via l’interface cadastre je n’ai que la surface géométrique et non la contenan

[2019-02-18 06:22] rastatom commented on #170
Tu as les données MAJIC associées?
Il y a bien les 2 surfaces avec l'outil infos parcelles.

[2019-02-18 06:35] rastatom opened #171 "Relevé de propriété inutilisable"
**Description du bug**

Le relevé de propriété comporte trop de résultats identiques (Ex : pour le propriétaire d'une parcelle, le relevé de propriété fait 5 pages.).
Je ne sais pas si c'est un bug ou la base de données qui a un problème.

**Reproduire le bug**

Export d'un relevé de propriété en PDF.

**Environnement**
 - OS: Windows 10
 - Version de QGIS :  3.4.4
 - Version du plugin : 1.7

[2019-02-18 07:52] Antoine25500 commented on #170
Bonjour,

Non j'utilise uniquement les données des fichiers EDIGEO.

Dans l'outil infos parcelles je n'ai que la surface géographique et non la contenance cadastrale.

[2019-02-18 08:14] rastatom commented on #170
Il me semble bien que cette information n'est disponible que dans les données MAJIC...

[2019-02-18 08:52] Antoine25500 commented on #170
Si la contenance cadastrale est bien enregistrée dans le fichier  EDIGEO. J'arrive à la voir dans les attributs en faisant un import sans le plugin "Cadastre". Après celui ci est peut être programmé pour récupérer les données dans MAGIC ?

Je pense quand même que je fait mal quelque chose. Car dans l'onglet Cadastre-Outils de Recherche

J'ai Commune Menu déroulant avec les communes
Section Menu dé

[2019-02-18 09:02] rastatom commented on #170
J'ai la même chose que toi si je n'importe que les fichiers EGIGéO.

[2019-02-18 09:08] Antoine25500 commented on #170
La recherche ne fonctionne pas non plus ?

Merci pour ces infos, je pensais que le plugin pouvait fonctionner sans MAJIC.

C'est dommage car les fichiers EDIGEO sont librement téléchargeable ce qui n'est pas le cas des données MAJIC.

[2019-02-18 09:10] rastatom commented on #170
Pour la recherche, j'ai la commune et les sections, rien de plus.

[2019-02-18 09:23] Antoine25500 commented on #170
OK comme moi   Merci pour les renseignements.

Dommage pour ce plugin qui est super pratique pour tout le reste (mise en page automatique, impression, interrogation des parcelles)

Je ne sais pas si les développeurs peuvent l'améliorer pour que le maximum d'outils fonctionne sans les données MAJIC ?

[2019-02-18 09:46] mdouchin commented on #170
Le plugin doit pouvoir fonctionner sans MAJIC, au moins la recherche commune / section / parcelle. Si ce n'est pas le cas il y a un bug, que je vais tenter de reproduire.

Pour le contenance cadastrale, vu que c'est une donnée MAJIC, c'est logique qu'elle n'apparaisse pas.

[2019-02-18 10:18] Antoine25500 commented on #170
Bonjour,  la contenance cadastrale est une donnée MAJIC mais qui est contenue dans les fichiers EDIGEO de la DGFIP.

Sous QGIS, après l'import avec le plugin "cadastre",  (via sqlite). Dans la base de données si on ajoute la couche geo_parcelle on a le champ supf qui correspond à la contenance cadastrale. On peut donc la voir mais en utilisant "identifier les identités" de QGIS (et non du plugin)

[2019-02-27 15:02] HydraTophe opened #172 "Crash QGis après interrogation d'entités d'une couche "Parcelle" ou "Bati""
**Description du bug**

QGis crash à chaque fois que je cherche à interroger une couche "Parcelle" ou "Bati" dès lors qu'elles sont visibles à l'écran (soit en direct, soit via le clic droit). Le bug ne se produit (a priori) que sur les couches qui sont contenues dans une base SqLite et chargées depuis le plugin (si l'on réenregistre la couche au format .shp, je peux alors l'interroger normalement

[2019-03-05 16:45] PoutchPoutch opened #173 "QGIS 3.4- Mac - impossible de charger l'extension 'cadastre' pvk 1 err lors de l'app à sa mh initGui()"
**Description du bug**
 Sur OS Mac Mojave 10.14
Essai de chargement de l'extension depuis le gestionnaire des extensions dans QGIS 3.4.3 cadastre ne peut pas charger : ascii codec can't decode byte 0xc3 in position 1024: ordinal not in range (128)  . Pour info mon python est 3.6.8

**Reproduire le bug**
![capture d ecran 2019-03-05 a 16 38 57](https://user-images.githubusercontent.com/48254399/538

[2019-03-11 14:34] lipton58 commented on #170
Bonjour

j'vais déjà eu un pb lors la nouvelle version du plugins cadastre... du coup je travaillais en ayant installé une ancienne version du cadastre ce qui n'est plus possible de faire sur qgis 3.4

j'avoue ne pas comprendre "ajouter la cocuhe geo_parcelle" ... comment faire ? est ce que ça permettra d'avoir comme avec l'ancienne version l'équivalence du champ SUPF - qui était vraiment la surfa

[2019-03-12 09:01] rastatom commented on #170
Dans l'explorateur, tu dois avoir ta base de données (spatialite dans mon cas).
Dans cette base tu as la couche geo_parcelle que tu peux charger et qui contient le champ supf.

[2019-03-12 09:16] lipton58 commented on #170
MERCI INFINIMENT !!!!!!!

je ne savais vraiment pas ou trouver cette donnée maintenant c'est bon !!!

[2019-03-12 11:39] Antoine25500 commented on #170
Bonjour, oui on peut donc voir cette donnée avec les outils QGIS.

Mais elle n'apparait pas avec l'outil interrogation du plugin cadastre ....

[2019-03-13 17:19] MaelREBOUX opened #174 "Import - nouveaux identifiants sans millésime"
Bonjour,

Actuellement, les identifiants de quasiment tous les objets (commue, parcelle, propriétaire, pev, etc, etc) comportent au début le millésime sous la forme d'une année.
on se retrouve donc avec des identifiants du genre : **20183500010000A0002**.
Or : **cet identifiant parcellaire n'est pas l'identifiant officiel fourni par la DGFiP**. Celui-ci est : 3500010000A0002. On peut multiplier su

[2019-03-14 08:29] mdouchin commented on #174
Je suis d'accord avec le principe. Ce ajout de l'année est issu des scripts SQL OpenCadastre initiaux, que j'ai depuis beaucoup fait évoluer.

Merci pour ce travail

[2019-03-14 11:14] landryb commented on #174
De toute façon on utilise un schéma de bdd distinct par millésime, non ? :)

[2019-03-14 18:07] pierrejego commented on #174
Ou si j'ai bien compris on ne garde pas les millésimes différents :)

Si fonctionnellement ça va à tout le monde, je pense que ça peut alléger un petit peu la base et les jointures pour Cadastrapp, donc je suis pour aussi. C'est d'ailleurs comme ça dans le modèle Arcopole aussi.

[2019-03-20 22:06] MaelREBOUX commented on #174
@landryb : perso oui c'est ce que je ferai mais d'autres ont pensé ça différemment visiblement et ce serait compliqué et/ou mal venu de tirer un trait sur ça amha.
Est-ce qu'il faudrait faire un peu de "bruit" / promotion sur cette évolution pour voir si ça réagit ?

@pierrejego oui je me souviens de jointure un peu lourdingue ;)

[2019-03-28 09:45] EtienneRouvin opened #175 "Import - valeur compte communal DGFiP n'est pas respectée"
**Description du bug**

Dans les fichiers MAJIC, le compte communal est de cette forme : 350047H00XXX, à savoir le codecom 35 0 047 qui n'est pas le code INSEE sur 5 caractères.

On va proposer une correction.

**Environnement**
 - OS: Windows
 - Version de QGIS :  3.4.4
 - Version du plugin :  master (1.7.0) HEAD (74b1be4977ddc42185c620d9b45bb9f410a6450e)

[2019-03-28 10:24] mdouchin commented on #175
C'est normal, car il peut y avoir plusieurs directions par département.
Code département = 35
Code direction = 0

[2019-03-28 10:31] EtienneRouvin commented on #175
On ne retrouve justement pas cette forme dans la base QGIS, il manque le code de direction.
Exemple : "35047H00XXX" au lieu de "350047H00XXX"

[2019-03-28 10:35] MaelREBOUX commented on #175
Bonjour @mdouchin

@EtienneRouvin travaille avec moi. On est en train de faire un tour complet des identifiants de quasi toutes les tables, en rapport avec #174

Et on est tombé sur ce pb sur le compte communal. Chez nous il manque bien le code de direction DGFiP partout sur tous les comptes communaux.

[2019-03-28 11:17] EtienneRouvin commented on #174
PR 176 poussée.

[2019-03-29 09:08] MaelREBOUX commented on #174
pour info sur la méthodologie : @EtienneRouvin a fait la modif puis importer des données et on est allé voir à la main sur les 3/4 des tables les plus importants qui contiennent les données / identifiants. Genre : compte communal, code de parcelle, invariant, etc.

Tout OK pour le moment.
Là on va faire un import cadastrapp mais à ce stade on voit pas ce qui pourrait coincer.

[2019-03-29 15:26] EtienneRouvin opened #177 "Import - Problème sur master"
**Description du bug**
En travaillant sur master, ce problème survient lorsque je lance l'import alors que cela fonctionne lorsque je reviens au commit 74b1be4977ddc42185c620d9b45bb9f410a6450e

**Log**
[code]

[2019-04-03 15:02] sig-pnrnm opened #179 "Erreurs rencontrées pendant l'import"
Je viens de demander de l'aide sur [GeoRezo à cette adresse](https://georezo.net/forum/viewtopic.php?id=115261), mais peut-être aurai-je plus de chance ici.

Voici le log de mes erreurs, si jamais vous aviez une piste de la source du problème :
[code]

Et, comme je le précisais sur GeoRezo, ces logs proviennent de QGis 3.4.2 avec le plugin en version 1.7, mais j'ai eu le même genre d'erreur (sans

[2019-04-09 15:11] MaelREBOUX commented on #152
OK. Je vais regarder.

[2019-04-11 17:15] MarJoM commented on #173
Bonjour, avertissement identique sur

- MacOs 10.13.6 Hight Sierra
- QGis 3.2.3 Bonn
- Version du plugin  1.7.0
- Version de Python 3.6.5

Python m'est "terra incognita", mais au vue des erreurs et de la lecture des lignes de codes pointées dans le log ci dessous, je me demande si ce plugin est compatible MacOS. C'est une question : ce plugin est il compatible avec le port MacOS de QGis ?

Le log

[2019-04-12 15:27] MarJoM commented on #173
Bonjour,

Bonne nouvelle, le problème provient d'un bug et il est contournable assez facilement.
Voir : https://wiki.python.org/moin/UnicodeDecodeError

Comme le log d'erreur le signale, à la ligne 196 du fichier "cadastre_menu.py" il est fait référence du résultat de la lecture du fichier "metadata.txt". il s'agit toujours selon le log d'une erreur de transcription de caractères (voir lien ci des

[2019-04-15 14:22] manouche commented on #173
Bonjour, Yes !!!! Vous avez fait ma journée :)
Je confirme ça marche très bien à nouveau

[2019-04-16 07:01] manouche commented on #173
Bonjour, Yes !!!! Vous avez fait ma journée :)
Je confirme ça marche très bien à nouveau

[2019-04-16 16:20] MarJoM commented on #173
Vous avez bien de la chance ! …
Pour la table SQLite que je crée avec Cadastre, la base affiche "dans l'Explorateur à gauche "Impossible de vérifier les métadonnées", et si je tente avec une base neuve et que je la choisie dans le menu "connexions" j'ai en retour "Veuillez sélectionner une base de données".
J'ai du rater un truc.

[2019-04-21 18:01] M-Rick commented on #173
Mais une fois le problème d'erreur Python réglé en nettoyant le fichier Metadata.txt, le plugin ne fonctionne pas de toute façon. Il échoue lors de la création d'une base de données SQLite. Il y avait exactement le même problème avec la version précédente dans QGIS 2.18, mais le problème pouvait se résoudre en installant une version plus ancienne de SQLite qui semble avoir été cassée lors de toute

[2019-04-23 15:19] jipi04 opened #184 "pb info-bulle"
Bonjour,
Je ne sais pas si quelqu’un a déjà rencontré ce bug :
L’info  bulle ne fonctionne pas en interrogeant la couche « Parcelles »
C’est toujours les information d’une même parcelle qui est renvoyée où que l’on se place sur la carte.
Il n’y a rien de particulier à faire pour reproduire le bug, création  d’une base de donnée SPATIALITE au millésime 2018, puis import dans QGIS.
Environnement :
-

[2019-04-29 07:15] jipi04 commented on #172
Bonjour,

Nous rencontrons le même problème :
Crash ID: c7cc71f4640cb334813599b694fe5fbb019e65e7

Stack Trace

QgsGeometryCollection::vertexAt :
QgsMapToolIdentify::closestVertexAttributes :
QgsMapToolIdentify::featureDerivedAttributes :
QgsMapToolIdentify::identifyVectorLayer :
QgsMapToolIdentify::identify :
QgsMapToolIdentify::identify :
QgsMapToolIdentifyAction::identifyFromGeometry :
QMetaObje

[2019-04-30 14:26] manouche commented on #173
Je suis sous postgis et tourne avec un import existant et le plug'in marche de nouveau. Je n'ai pas eu encore le temps de tester un nouvel import (je le ferai dès que possible). Par contre, à vous lire, j'imagine que le problème vient plutôt de SQlite…

[2019-05-02 08:01] #179 closed

[2019-05-02 08:01] rldhont commented on #179
Fixed in next cadastre plugin version

[2019-05-02 08:03] rldhont commented on #177
Fixed by 5dc613232005bd087ddf11990147f94070c562ff

Available in next release

[2019-05-02 08:03] #177 closed

[2019-05-02 14:53] MaelREBOUX commented on #55
Mergé donc à tester.

[2019-05-02 14:53] MaelREBOUX commented on #175
Mergé donc à tester.

[2019-05-03 14:20] EtienneRouvin commented on #174
Le code a été mis à jour et les conflits ont été résolus
@rldhont

Merci ! :)

[2019-05-04 11:53] M-Rick commented on #173
Bonne nouvelle, en utilisant cette version de QGIS, tout fonctionne parfaitement !
https://lutraconsulting.github.io/qgis-mac-packager/

D'ailleurs cette version fonctionne beaucoup que la version officielle de QGIS pour Mac.
Elle intègre ses propres frameworks et sa propre version de Python avec tous les modules nécessaires au bon fonctionnement.

[2019-05-07 15:31] MaelREBOUX commented on #174
@EtienneRouvin  tu remercieras après le merge de la PR  ;)

A moins qu'il y ait un souci avec cette grosse évolution @rldhont ?

[2019-05-13 10:51] MaelREBOUX commented on #161
PR proposée au merge.

Voilà le type de requête à passer pour récupérer un libellé de voie complet

[code]
Sauf que on voit qu'on a des espaces qui traînent dans l'attribut `cconvo`.

Je vais proposer un correctif.

[2019-05-13 11:07] MaelREBOUX commented on #161
Voilà c'est fait.
Désolé : m'apprendra à tester mieux avant de PR...

[2019-05-13 12:02] MaelREBOUX commented on #161
super. merci @rldhont

[2019-05-13 12:02] #161 closed

[2019-05-16 11:39] auri179 opened #188 "Question : Import fichiers EDIGEO sur import existant"
Bonjour,
J'ai une petite question, lors d'import de fichiers EDIGEO du cadastre sur un import existant (par exemple dans le cas de mises à jour) est-ce que les données s'écrasent correctement ou il faut recréer la base de donnée PostGIS ?

[2019-05-20 14:43] MaelREBOUX commented on #188
C'est vous qui voyez.

Le secret réside dans l'attribut `lot`. Cet attribut est rempli à chaque import par la valeur que vous mettez ci-dessous :

![capture_051](https://user-images.githubusercontent.com/6370443/58029926-e8b5b000-7b1d-11e9-808c-ae0442c1806e.png)

J'avoue ne pas avoir tester un réimport d'un même lot sur lui-même. J'ai plutôt l'habitude de détruire le schéma ou les tables avant de

[2019-06-15 10:57] M-Rick commented on #173
La nouvelle version macOS de QGIS développée par Lutraconsulting a été intégrée aux dépôts officiels de QGIS.
Vous pouvez désormais télécharger les dernières versions ici :
https://qgis.org/downloads/macos/

Et vous pouvez signaler les bugs ici :
https://github.com/qgis/QGIS-Mac-Packager

Désormais je n'utilise plus que cette version sur Mac. Elle contient bien moins de bugs et est mieux intégrée

[2019-06-20 14:27] MaelREBOUX commented on #173
Merci @M-Rick pour cette info de premier ordre pour les utilisateurs sous OS X.

Du coup @PoutchPoutch : est-ce que votre problème est résolu ?
Si oui : merci de fermer le ticket.

[2019-06-26 11:36] benjaminsaut opened #189 "Pas de chargement des parcelles dans QGIS problème création table parcelle_info"
**Description du bug**

je n'arrive pas à charger correctement les parcelles d'une base spatialite, tout apparaît (bâti, étiquettes, ...) sauf les parcelles. Lors de l'import pas de bug particulier, c'est en chargeant les données que la couche n’apparaît pas. Sur QGIS 2.18 et avec module cadastre antérieur je n'avais pas de soucis pour importer sur base spatialite puis charger. je précise que j'ai

[2019-07-02 10:34] MaelREBOUX commented on #188
Je peux confirmer que les données existantes ne sont pas écrasées.

Peut-on fermer ce ticket @auri179 ?

[2019-07-02 10:39] MaelREBOUX commented on #175
Résolu

[2019-07-02 10:39] #175 closed

[2019-07-02 10:40] MaelREBOUX commented on #174
Résolu

[2019-07-02 10:40] #174 closed

[2019-07-02 10:41] MaelREBOUX commented on #173
Je me permet de fermer ce ticket.

[2019-07-02 10:41] #173 closed

[2019-07-02 10:47] MaelREBOUX commented on #55
OK.

[2019-07-02 10:47] #55 closed

[2019-07-02 10:54] MaelREBOUX commented on #143
@landry : j'ai détecté la même chose cette semaine sur les sections. Faudrait que je reteste avant de créer un nouveau ticket.

[2019-07-02 10:56] MaelREBOUX commented on #64
@landryb : on peut fermer ce ticket ?

[2019-07-02 10:59] MaelREBOUX commented on #69
Dans PostGIS les attributs concernés sont de type `text` donc pas de problème de longueur.

Je me permet donc de fermer ce ticket. cdt,

[2019-07-02 10:59] #69 closed

[2019-07-02 11:35] #64 closed

[2019-07-02 12:10] auri179 commented on #188
Oui merci de l'information c'est bon :)

[2019-07-02 12:21] #188 closed

[2019-07-12 05:35] sigeal opened #190 "Import données MAJIC - Onglet Locaux vide"
**Description du bug**

Après import de donnée MAJIC et EDIGEO, l'onglet "Locaux" de la fenêtre "Informations sur la parcelle" reste vide.

**Reproduire le bug**

1. Configurer les noms des fichiers MAJIC - Bouton "Configurer le plugin"
2. Créer une base SpatiaLite, configurer l'emplacement des fichier MAJIC et EDIGEO (.bz2) et lancer l'import  - Bouton "Charger des données"
3. Charger les données

[2019-07-15 14:25] sigeal commented on #190
Re-testé avec la version 1.7.0, l'onglet "Locaux" est correctement renseigné.

[2019-07-15 14:49] #190 closed

[2019-07-24 13:34] landryb commented on #145
Pour info, je suis en train de batailler pour mettre a jour le code pour qgis3/qt5/python3.

Le mieux serait a mon avis de transformer toute la partie import en un job pour processing, ce qui faciliterait le scripting..

[2019-07-24 14:49] landryb commented on #145
cf https://github.com/landryb/QgisCadastrePlugin/tree/import_cli_qgis3 pour la branche avec le support de qgis3/python3/qt5. a priori ca semble marcher ici avec les données 2019.. je fais un test sur un département pour voir.

[2019-07-25 09:53] auri179 commented on #145
J'ai également besoin de ce script pour automatiser les imports / maj du cadastre.
Qu'est ce que les tests ont donné ?
Et quelle est la procédure pour l’exécuter en python ?
Merci !

[2019-07-25 10:59] landryb commented on #145
https://github.com/landryb/QgisCadastrePlugin/blob/import_cli_qgis3/README_cli.md#configuration

pas de pb manifeste pour l'import d'un departement complet, comme les années précédentes..

[2019-07-29 14:25] Julie-Dejante commented on #189
Bonjour,
Nous rencontrons le même problème, la couche des parcelles est vide quand nous réalisons un import (sous QGIS 3.4.10).

[2019-08-02 10:30] PGP-94 commented on #189
Bonjour, Je rencontre le même problème, la couche parcelle est vide (QGIS 3.2.3).

**A l'import** : la donnée EDIGEO (PCI-Vecteur) est importée dans une base spatialite.
quand cette base spatialite est chargé, tout apparaît mais la couche parcelle est vide (table attributaire vide). Tests fait sur des communes différentes.

**LOG**
INITIALISATION
* Copie du répertoire C:\Users\XX\AppData\Roaming\Q

[2019-08-06 07:07] arno974 commented on #189
Hello,

Problème confirmé et rencontré également de mon côté.
Import OK. Dans le module recherche affichage de la commune et de la section mais pas des parcelles. ( WARNING    cadastre debug - error while fetching data from database)

[2019-08-07 10:49] cpornin opened #191 "UnicodeDecodeError: 'utf-8'"
Bonjour,

Voici le problème que j'ai rencontré à l'utilisation du plugin :

**Description du bug**

Lors du lancement de l'import des données en base spatialite dans le plugin Cadastre, un message d'erreur python apparaît concernant l'encodage. Y aurait-il un moyen de le résoudre simplement en changeant l'encodage ? si oui, dans quels fichiers et comment savoir par quel encodage ?

**Reproduire le

[2019-08-13 10:08] MaelREBOUX opened #192 "Import - Support du millésime MAJIC 2019"
Ce ticket pour organiser et recenser le travail à faire pour le support des évolutions du millésime 2019 des fichiers MAJIC.

Suivi de l'avancement :
- [x] PROP : table ccodro
- [x] PROP : table dformjur
- [x] NBAT : table parcelle
- [x] NBAT : table ccolloc
- [x] NBAT : table sufexoneration
- [x] BATI : table local00
- [x] BATI : table local10
- [x] BATI : table burfx
- [x] BATI : table gnextl
-

[2019-08-13 10:13] MaelREBOUX commented on #192
On a commencé à bosser et on va pousser des PR cet après-midi.

[2019-08-14 14:02] MaelREBOUX commented on #192
9 points sur 10 réglés.

On attend des retours de la communauté utilisateurs pour voir comment on gère article 30/31.

[2019-08-16 10:44] landryb commented on #192
Vu que pour moi c'est du chinois, pas d'opinion sur l'article 30/31 :)

[2019-08-19 08:02] MaelREBOUX commented on #192
On vient de comprendre qu'on ne peut pas supprimer des attributs obsolètes comme ça sans casser la possibilité de traiter des millésimes antérieurs. En fait, il faudrait que les traitements d'import soient millésimés complètement, ce qui n'est pas le cas. `commun_create_metier.sql` est commun à tous les millésimes.
On va donc rajouter les requêtes `ALTER TABLE` qu'il faut dans `2019/majic3_formata

[2019-08-19 08:12] landryb opened #196 "[import] Détection de doublons de communes et de sections"
Sur les données PCI 201907 (et probablement d'autres millésimes) il arrive que des communes soient importées en double dans la table `geo_commune` car les objets communes dans les fichiers EDIGEO sont légerement différents entre les feuilles de la commune (ou c'est lié aux fusions de communes ?). J'ai le cas sur 61 communes de l'isère, mais aussi d'autres communes de la région.

[code]

certes, ca

[2019-08-19 08:18] MaelREBOUX commented on #189
Bonjour,

Je viens de tester un import de données EDIGEO + MAJIC 2018 sur une commune vers une base spatialite sans problème.

infos :
- QGIS 3.4.7
- plugin clone github tags 1.7.1
- base spatialite neuve

A vous relire j'ai l'impression que vous voulez insérer des données dans une base existante. **Est-ce le cas ?**
Si oui il vous faut rajouter l'attribut `inspireid`

[code]

Vous avez une idée d

[2019-08-19 08:23] MaelREBOUX commented on #196
Ici on a également des doublons de communes et des doublons de sections depuis des années (je savais pas). On a un post-traitement FME qui fait le job mais on est d'accord que ce serait sympa de gérer ça ici.

[2019-08-19 08:25] MaelREBOUX commented on #196
Du coup @landryb : une idée de la requête SQL à balancer pour supprimer ce qui est en double ?
Pas simple...
A minima on sort ça dans un log ?

[2019-08-19 08:27] landryb commented on #196
[code]

[2019-08-19 08:39] MaelREBOUX commented on #191
C'est ici que ça semble se produire : https://github.com/3liz/QgisCadastrePlugin/blob/master/cadastre_import.py#L597-L602

Est-ce qu'il y aurait un caractère non UTF-8  dans un des fichiers MAJIC ?

[2019-08-19 08:44] MaelREBOUX opened #197 "[Documentation] Rajouter des prérequis"
En parcourant les ticket je pense qu'il faudrait rajouter un chapitre **prérequis** au README

Notes en vrac :
- versions QGIS supportées
- versions QGIS testées pour la dernière release
- versions spatialite
- versions Postgresql / PostGIS

[2019-08-19 08:44] MaelREBOUX commented on #10
@landry : puis-je fermer ce ticket ?

[2019-08-19 08:44] #10 closed

[2019-08-19 08:45] MaelREBOUX commented on #11
Bonjour @omigeot

Vu l'ancienneté de ce ticket : puis-je le fermer ?

[2019-08-19 08:46] #15 closed

[2019-08-19 08:47] MaelREBOUX commented on #33
Bonjour @fredericbonifas

Vu l'ancienneté de ce ticket : puis-je le fermer ?

[2019-08-19 08:49] MaelREBOUX commented on #49
Bonjour @manouche

Vu l'ancienneté de ce ticket : puis-je le fermer ?

[2019-08-19 08:49] MaelREBOUX commented on #51
Bonjour @Vincentlametro

Vu l'ancienneté de ce ticket : puis-je le fermer ?

[2019-08-19 08:54] MaelREBOUX commented on #56
Hello @omigeot

Due to the old age of this issue : can I close it ?

[2019-08-19 08:55] MaelREBOUX commented on #59
Bonjour @Doctor-Who

Est-ce que ce problème est toujours d'actualité ou peut-on clore ce ticket assez ancien ?

[2019-08-19 08:57] MaelREBOUX commented on #62
Bonjour @amoust

Vu l'ancienneté de ce ticket : puis-je le fermer ?

[2019-08-19 08:57] MaelREBOUX commented on #62
C'est un objet présent en base -> je ferme

[2019-08-19 08:57] #62 closed

[2019-08-19 09:00] MaelREBOUX commented on #63
@pedrogeo  Je me permet de fermer ce ticket qui s'explique par un problème sur les données. cdt,

[2019-08-19 09:00] #63 closed

[2019-08-19 09:03] MaelREBOUX commented on #65
Vu l'ancienneté du ticket et l'absence de retour depuis sur ce problème je me permet de le fermer.

[2019-08-19 09:03] #65 closed

[2019-08-19 09:07] MaelREBOUX commented on #78
Bonjour @asegui

Est-ce que votre problème est toujours d'actualité ?

[2019-08-19 09:08] MaelREBOUX commented on #79
Bonjour @sylvainbeo

Vu l'ancienneté de ce ticket : puis-je le fermer ?

[2019-08-19 09:09] MaelREBOUX commented on #80
Hello @kagou

Relative to the old age of this issue : may I close it ?

[2019-08-19 09:11] MaelREBOUX commented on #81
Il y a une entrée dans le menu Extensions > cadastre
N'est-ce pas adéquat ?

![capture_176](https://user-images.githubusercontent.com/6370443/63253408-17087000-c272-11e9-8e11-680a6f56727e.png)

[2019-08-19 09:12] sylvainbeo commented on #79
Oui. Je le fais.

[2019-08-19 09:12] #79 closed

[2019-08-19 09:13] MaelREBOUX commented on #82
Bonjour @Doctor-Who

Est-ce que ce problème est toujours d'actualité ou peut-on clore ce ticket assez ancien ?

[2019-08-19 09:14] MaelREBOUX commented on #82
doublon avec #83 visiblement

[2019-08-19 09:14] #82 closed

[2019-08-19 09:14] MaelREBOUX commented on #83
Bonjour @Doctor-Who

Est-ce que ce problème est toujours d'actualité ou peut-on clore ce ticket assez ancien ?

[2019-08-19 09:15] MaelREBOUX commented on #84
Bonjour @franckz

Est-ce que ce problème est toujours d'actualité ou peut-on clore ce ticket assez ancien ?

[2019-08-19 09:17] MaelREBOUX commented on #93
Bonjour @jusabatier

Est-ce que tu as investigué un peu plus sur ce problème ?
Est-ce que les données brutes EDIGEO sont identiques à ce que tu constates en base ?

[2019-08-19 09:20] MaelREBOUX commented on #95
Bonjour @mmondon

Est-ce que ce problème est toujours d'actualité ou peut-on clore ce ticket assez ancien ?

PS : pour les parcelles non bâties il est normal d'avoir plusieurs lignes pour chaque parcelle car celle-ci peut être soumises à différents impôts fonciers : commune, groupement de commune, etc. Chaque ligne indique cette part.

[2019-08-19 09:22] franckz commented on #84
Bonjour,

Oui vous pouvez clore ce ticket. Merci.

Bonne journée.

De : Maël REBOUX [mailto:notifications@github.com]
Envoyé : lundi 19 août 2019 11:15
À : 3liz/QgisCadastrePlugin
Cc : ZIELONKA Franck; Mention
Objet : Re: [3liz/QgisCadastrePlugin] Contenu table geo_numvoie_parcelle incomplet ? (#84)

Bonjour @franckz<https://github.com/franckz>

Est-ce que ce problème est toujours d'actualité ou p

[2019-08-19 09:23] asegui commented on #78
Bonjour
Tout est rentré dans l’ordre
Cordialement

[cid:image002.jpg@01D55680.7EE6B870]

www.maregionsud.fr<https://www.maregionsud.fr/>

Amélia SEGUI
-
Délégation Connaissance Planification Transversalité
Service Connaissance Territoriale et Information Géographique
Hôtel de Région - 27 place Jules Guesde - 13481 Marseille cedex 20
Tél. : 0491575675

De : Maël REBOUX <notifications@github.com>
En

[2019-08-19 09:23] MaelREBOUX commented on #97
Mon avis : il ne faut PAS mettre de carte dans un relevé de propriété. C'est déjà tellement compliqué comme ça à maintenir le RP.

En plus, avec des propriétaires qui ont des parcelles sur tous les coins d'une comme : cela n'a aucun sens.

En revanche : un export multipage des relevés parcellaire d'une sélection (ici les parcelles du même proprio) ça a du sens et c'est utile. C'est ce qu'on a fait

[2019-08-19 09:25] MaelREBOUX commented on #99
Bonjour @Fred-PF @jipi04 @lbartoletti

Est-ce que ce problème est toujours d'actualité ou peut-on clore ce ticket ?

[2019-08-19 09:27] MaelREBOUX commented on #100
Bonjour @tevrard

Est-ce que ce problème est toujours d'actualité ou peut-on clore ce ticket ?

en lien avec #99

[2019-08-19 09:28] MaelREBOUX commented on #102
Bonjour @Mairie09

Est-ce que ce problème est toujours d'actualité ou peut-on clore ce ticket ?

[2019-08-19 09:34] MaelREBOUX opened #198 "Comment gérer des versions du modèle de données ? et les patches qui permettent d'upgrader ?"
Tout est dans le titre...

On a décidé de commencer doucement avec un patch de la version 1.7.1
https://github.com/sigrennesmetropole/QgisCadastrePlugin/commit/b0c7837bfb6623fdffcac4bd83bba1897cad6a5f

Mais comme pour un (gros) projet comme GeoNetwork ce serait pas mal de stocker qq part dans une table les infos des différents import qui ont eu lieu. Histoire de s'y retrouver pour assurer une comp

[2019-08-19 09:35] MaelREBOUX commented on #101
Je me permet de fermer ce ticket.

Le sujet est plus général et on s'y confronte encore cette année : comment gérer des versions du modèle de données ? et les patches qui permettent d'upgrader ?

voir #198

[2019-08-19 09:35] #101 closed

[2019-08-19 09:41] MaelREBOUX commented on #103
Bonjour @mmondon

Est-ce que votre problème est toujours d'actualité ?

[2019-08-19 09:43] landryb commented on #198
Tu feras attention, ton sql droppe la table parcelle après l'avoir crée.

[2019-08-19 09:49] MaelREBOUX commented on #107
+1 pour cette demande

https://github.com/3liz/QgisCadastrePlugin/blob/master/cadastre_dialogs.py#L120-L132

avec @EtienneRouvin on sait en gérer des logs fichiers mais inclure ça dans un projet Python de pro... ^_^

[2019-08-19 09:53] mmondon commented on #103
Bonjour, Non, je vous remercie.CordialementMichelLe 19 août 2019 11:41, Maël REBOUX <notifications@github.com> a écrit :Bonjour @mmondon

Est-ce que votre problème est toujours d'actualité ?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-19 10:05] MaelREBOUX commented on #109
Je crois qu'on avait tout géré pour ces évolutions.
Je ferme donc.

[2019-08-19 10:05] #109 closed

[2019-08-19 10:10] MaelREBOUX commented on #110
Bonjour @mmondon

Votre problème est-il toujours d'actualité ?

Le placement des étiquettes provient de la table **geo_label** (WHERE "ogr_obj_lnk_layer" = 'PARCELLE_id').

Votre problème de cartographie a donc 2 sources possible :
- le placement originel dans EDIGEO, donc DGFiP
- le réglages de vos styles dans le projet QGIS, si vous l'avez modifié.

[2019-08-19 10:12] MaelREBOUX commented on #112
Tu jettes un coup d'œil @EtienneRouvin STP ?

[2019-08-19 10:13] MaelREBOUX commented on #111
Bonjour @mmondon @fredm63

Est-ce que ce problème est toujours d'actualité ?

[2019-08-19 10:15] MaelREBOUX commented on #79
merci !

[2019-08-19 10:24] MaelREBOUX commented on #113
Bonjour @omaillard

La documentation DGFiP officielle MAJIC v 2019 mentionne bien p. 17 2.2.11.  les Codes « Occupation du local ». On dirait qu'il est géré depuis 2011 dans le plugin.

L'attribut existe bien dans la table pev
https://github.com/3liz/QgisCadastrePlugin/blob/master/scripts/plugin/commun_create_metier.sql#L254

et ici sur nos bases on y trouve bien des données.
Si vos tables sont vi

[2019-08-19 10:24] #113 closed

[2019-08-19 10:25] MaelREBOUX commented on #114
Bonjour @Migliorati

Votre problème est-il toujours d'actualité ?

[2019-08-19 10:46] MaelREBOUX commented on #115
Bonjour,

Nous avons noté en point en "irritant" dans notre utilisation du modèle de données QGIS l'absence d'un code de commune sur la table geo_parcelle.
Afin de pouvoir faire des sélections plus rapide de données il serait en effet utile d'avoir un attribut supplémentaire `ccocom` sur la table geo_batiment

La table geo_batiment est alimentée ici : https://github.com/3liz/QgisCadastrePlugin/blo

[2019-08-19 10:48] MaelREBOUX commented on #117
Bonjour @sig-pnrnm

je me permet de fermer ce ticket car cela semble être un pur problème PostgreSQL.

[2019-08-19 10:48] #117 closed

[2019-08-19 10:50] MaelREBOUX commented on #118
Bonjour @Christophe55

Votre problème analogue à #15 est-il toujours d'actualité ?

[2019-08-19 11:04] MaelREBOUX commented on #119
Bonjour @Zebulon29

Les attributs relatifs au nom d'usage (dnomus et dprnus) et au nom de naissance (dnomlp et dprnlp) sont correctement gérés et apparaissent bien dans la table propriétaire.

Dans l'interface de recherche du plugin, après tests il semble que la recherche ne porte que sur le nom de naissance. Confirmation @mdouchin  ?

@Zebulon29  si je reformule : vous souhaiteriez pouvoir distin

[2019-08-19 11:07] MaelREBOUX commented on #120
@landryb @geofffl @loicdouillard   On est est où sur ce ticket ?

[2019-08-19 11:13] MaelREBOUX commented on #121
@landryb est-ce que pour toi on est OK sur ça ou pas ?

dans le fichier majic3_formatage_donnees.sql je ne trouve en effet que un seul `lot='[LOT] pour la tble proprio en condition de requête.

Tu as un avis @EtienneRouvin  ?

[2019-08-19 11:17] M-Rick commented on #81
Ce post est vieux il date de 2016.
À l’époque le menu devait s’ouvrir dans la barre des menus.
Désormais il est en sous-menu extensions donc ça va.

[2019-08-19 11:18] MaelREBOUX commented on #130
`UnicodeDecodeError: 'ascii' codec can't decode byte 0xe9 in position 29: ordinal not in range(128)`

même erreur que #191

[2019-08-19 11:20] MaelREBOUX commented on #131
Bonjour @SebCasa

Je me permet de fermer ce ticket. Vous semblez avoir réussi car pas de retour :)

[2019-08-19 11:20] #131 closed

[2019-08-19 11:22] MaelREBOUX commented on #132
Bonjour @TiphLB

Le problème décrit semble inhérent aux données MAJIC elles-même. Hé oui : sur une même commune il arrive très très souvent que la commune ou un organisme public ou un gros propriétaire foncier dispose de plusieurs comptes proprio.
C'est ainsi et, je crois, s'explique par les différentes procédures foncières.

Vous pouvez cependant demander à la DGFiP une uniformatisation de tous c

[2019-08-19 11:22] #132 closed

[2019-08-19 11:23] MaelREBOUX commented on #133
Bonjour @equinton

Votre problème est-il toujours d'actualité ?

[2019-08-19 11:25] MaelREBOUX commented on #134
Bonjour @unmecduweb  @renaudIDGEO

Le problème décrit est-il toujours d'actualité ?

[2019-08-19 11:26] #135 closed

[2019-08-19 11:27] MaelREBOUX commented on #136
Bonjour @rb973

Votre problème est-il toujours d'actualité ?
Avez-vous ré-essayé avec la dernière version 1.7.1 du plugin ?

[2019-08-19 11:28] MaelREBOUX commented on #138
Bonjour @oznerol2

Puis-je fermer ce ticket ?

[2019-08-19 11:29] MaelREBOUX commented on #142
Bonjour @oznerol2

Votre problème était-il lié aux données MAJIC traitées ?

[2019-08-19 11:31] MaelREBOUX commented on #146
Bonjour @rb973

Est-ce que votre problème est toujours d'actualité ?

[2019-08-19 11:33] MaelREBOUX commented on #147
J'ai supprimé

[2019-08-19 11:33] #147 closed

[2019-08-19 11:35] MaelREBOUX commented on #85
Bonjour @dl2607

Vu l'ancienneté de ce ticket : puis-je le fermer ?

[2019-08-19 11:35] MaelREBOUX commented on #87
Problème résolu : je ferme

[2019-08-19 11:35] #87 closed

[2019-08-19 11:36] MaelREBOUX commented on #89
Cela ressemble au même pb que #85

Vu l'ancienneté du ticket : puis-je le fermer ?

[2019-08-19 11:37] MaelREBOUX commented on #88
Bonjour @Doctor-Who

Puis-je fermer ce ticket ?
Sachant que le plugin traite des fichiers EDIGEO et non pas DXF.

[2019-08-19 11:38] MaelREBOUX commented on #90
Bonjour @ju4e

Votre problème est-il toujours d'actualité ?

[2019-08-19 11:39] MaelREBOUX commented on #91
Bonjour @Tigroots

Votre problème est-il toujours d'actualité ?

[2019-08-19 11:39] MaelREBOUX commented on #92
Bonjour @Diplos54

Votre problème est-il toujours d'actualité ?

[2019-08-19 11:52] slaget opened #199 "Base multidépartementale"
Bonjour,

Il y a deux communes du département voisin qui sont rattachées au notre de par son appartenance à une communauté de commune "trans-départementale".

Depuis que j'ai ajouté à la base spatialite que j'avais réalisée pour mon département, les deux communes du département voisin (importées en deux sessions: une pour EDIGEO, puis une pour MAJIC), seules ces deux communes s'affichent.
Pourtant

[2019-08-19 12:00] equinton commented on #133
Bonjour,

Je n'ai pas retenté d'importation depuis 2018, je ne pourrai vous dire si le problème persiste ou non.

Cordialement,

[2019-08-19 12:15] jusabatier commented on #93
Je n'ai pas investigué plus loin car je ne sais pas du tout comment sont formattés les fichiers EDIGEO.

Je peux juste dire que le problème est toujours présent à l'heure actuelle suite à l'integration des données de janvier 2019.

[2019-08-19 12:18] MaelREBOUX commented on #127
Bonjour @SebCasa

Votre problème est-il toujours d'actualité ? Avez-vous testé avec la version 1.7.1 ?

[2019-08-19 12:19] MaelREBOUX commented on #126
Bonjour @fredm63

Votre problème est-il toujours d'actualité ? Avez-vous testé avec la version 1.7.1 ?

[2019-08-19 12:20] MaelREBOUX commented on #124
Bonjour @djeide19 @didifire

Votre problème est-il toujours d'actualité ? Avez-vous testé avec la version 1.7.1 ?

La couche geo_parcelle contient-elle des enregistrements ?

[2019-08-19 12:22] MaelREBOUX commented on #123
@mdouchin c'est un problème d'import ou d'exploitation ?

[2019-08-19 12:24] SebCasa commented on #127
Bonjour
Désolé de la non réponse
j'ai réglé ce problème grâce au correctif
Je n'ai pas tester la version 1.7.1
J'attend la livraison du MAJIC

Le lun. 19 août 2019 à 14:18, Maël REBOUX <notifications@github.com> a
écrit :

[2019-08-19 12:30] MaelREBOUX commented on #170
Bonjour @Antoine25500 @rastatom

Je viens de tester avec le plugin en version master et la fiche d'info qui apparaît avec l'outil clic sur une parcelle remontent toutes les informations comme il faut :

![image](https://user-images.githubusercontent.com/6370443/63265349-bab34980-c28d-11e9-9930-fbac5961654f.png)

Je savais déjà que les données en base étaient OK.

Pouvez-vous vérifier avec la derni

[2019-08-19 12:35] MaelREBOUX opened #200 "Modifier le template des issues"
@mdouchin  Possible de rajouter ça dans le modèle des issues ?

------------------------------------------------

**Environnement**
 - OS: Windows / Linux ?
 - Version de QGIS :  ?
 - Version du plugin : ?

Si import de données : préciser si vous utilisez une base préexistante ou si vous créez une base vierge. Et si possible la version du plugin qui a créé cette base.

[2019-08-19 12:38] MaelREBOUX commented on #169
Bonjour @oznerol2

Si je comprend bien ça s'est produit à l'import de données ?

Avez-vous rencontré la même erreur avec la dernière version 1.7.1 ?
Votre import se faisait dans une nouvelle base vierge ou une base de données pré-existante ?

[2019-08-19 12:47] #78 closed

[2019-08-19 12:51] #103 closed

[2019-08-19 13:12] MaelREBOUX commented on #199
Bonjour,

je tique sur

Si vous n'avez pas mis le même code de `lot` pour ces 2 imports cela va considérer que ce sont des données totalement différentes. L'usage et de traiter les EDIGEO et les MAJIC en même temps.

Je n'ai pas suffisamment de pratique pour pouvoir affirmer que c'est bien ou mal mais normalement on importe tout en même temps. @landryb tu en penses quoi ?

Si vous chargez la couch

[2019-08-19 13:15] MaelREBOUX commented on #127
OK. Je me permet donc de fermer ce ticket.

[2019-08-19 13:15] #127 closed

[2019-08-19 13:16] MaelREBOUX commented on #93
Tu peux STP me filer la requête SQL pour regarder ce qu'on a chez nous ? merci.

[2019-08-19 13:17] MaelREBOUX commented on #133
OK. Je préfère donc fermer ci ticket. Vous pourrez le rouvrir si nécessaire.

[2019-08-19 13:17] #133 closed

[2019-08-19 13:17] MaelREBOUX commented on #81
Super !

[2019-08-19 13:17] #81 closed

[2019-08-19 13:18] #84 closed

[2019-08-19 13:19] MaelREBOUX commented on #196
mon collègue me disait que les limites communales pouvait varier. En tout cas que les géométries des sections pouvaient ne pas être identiques.

je vais tenter de vérifier ça pcq pas glop si c'est le cas.

[2019-08-19 13:24] MaelREBOUX commented on #198
Oh le c... merci @landryb
corrigé avec https://github.com/sigrennesmetropole/QgisCadastrePlugin/commit/c792d2b5b76ca52ccc6e3d240c4e6a151eee76a0

Et sur le fond ?

[2019-08-19 14:06] tevrard commented on #100
Bonjour,

Le ticket peut être clos.

Merci du suivi !

----- Mail original -----

De: "Maël REBOUX" <notifications@github.com>
À: "3liz/QgisCadastrePlugin" <QgisCadastrePlugin@noreply.github.com>
Cc: "tevrard" <thom.evrard@laposte.net>, "Mention" <mention@noreply.github.com>
Envoyé: Lundi 19 Août 2019 11:27:13
Objet: Re: [3liz/QgisCadastrePlugin] Erreur : Recherche par lieux v1.4.1 (#100)

Bonjour

[2019-08-19 14:11] landryb commented on #121
A priori ca a été mergé, cf les derniers commits référencant le ticket de @mdouchin

[2019-08-19 14:15] landryb commented on #120
a priori fixé par 72df1402 - pas d'occurence de `invalid value` pour mes imports en 2019.

[2019-08-19 14:16] landryb commented on #196
C'est le cas, j'ai eu des doublons de communes ou les géométries n'avaient pas la même surface. Ca se saurait si il y'avait une cohérence...

[2019-08-19 14:18] landryb commented on #198
Sur le fond, drop+create je suis pas chaud si ton idée c'est de maj juste le modèle, tu fais comment pour reremplir juste ces tables ?
Ou alors j'ai pas compris ton intention initiale.

De manière générale, pour bien faire c'est un ORM qui gère ca (c'est le cas pour GN ou pour certaines tables de cadastrapp avec hibernate), pas des bouts de scripts SQL..